<!--Invoice image starts-->
<div [formGroup]="imageForm">
    <div class="overflow-h">
        <h4 class="mt0 pt0 dib mb5 pull-left fs18" *ngIf="isBol">BOL Image </h4>
        <h4 class="mt0 pt0 dib mb5 pull-left fs18" *ngIf="isLift">Lift Ticket Image </h4>
        <h4 class="mt0 pt0 dib mb5 pull-left" *ngIf="invoice">Drop Image</h4>
        <h4 class="mt0 pt0 dib mb5 pull-left" *ngIf="additional">Additional Images </h4>
        <h4 class="mt0 pt0 dib mb5 pull-left" *ngIf="signature">Signature Image</h4>
        <h4 class="mt0 pt0 dib mb5 pull-left" *ngIf="TaxAffidavit">Tax Affidavit</h4>
        <h4 class="mt0 pt0 dib mb5 pull-left" *ngIf="BDNImage">BDN Image</h4>
        <h4 class="mt0 pt0 dib mb5 pull-left" *ngIf="CoastGuardInspection">Coast Guard Inspection</h4>
        <h4 class="mt0 pt0 dib mb5 pull-left" *ngIf="InspectionRequestVoucher">Inspection Request Voucher</h4>
        <div class="dib ml10 mt0 pull-left">
            <div class="upload-btn-wrapper">
                <!--<button class="btn btn-default btn-xs"></button>-->
                <i class="fas fa-plus-circle fs21 color-blue"></i>
                <input type="file" (change)="onImageSelect($event)" formControlName="Image" multiple />
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="color-orange" *ngIf="files.length==0">No image selected</div>
        <div>
            <div *ngFor="let item of files" class="dib mb5 thumb-wrapper">
                <img *ngIf="item.IsPdf==false" [src]="item.AzurePath" class="img-thumbnail mr5 img-thumb" />  <!--rendered if file is image -->
                <img *ngIf="item.IsPdf" src="../../../Content/images/ico-thumbnailpdf.png" [title]="item.Name" class="pdf-thumb img-thumbnail mr5" />   <!--rendered if file is image -->
                <input type="hidden" [value]="item.FileUrl" formControlName="FileUrl" />
            </div>
        </div>
    </div>
    <!--<div class="btn-upload btn btn-default btn-xs" (click)="UploadFile()">Submit</div>-->
</div>
