@{
    ViewBag.Title = "Unknown Error";
    Layout = "~/Views/Shared/_LayoutError.cshtml";
}


<div class="container-fluid">
    <div class="col-12 col-md-8 offset-md-2 error-msg row">
        <div class="col-sm-4 text-center d-none d-sm-block">
            <img src="~/Content/images/error.png" class="img-responsive" />
        </div>
        <div class="col-sm-8">
            <h1 class="f-bold">@Resource.lblErrorOccured</h1>
            <p class="fs25 f-light">
              @Resource.lblErrorOccuredText
                <a class="btn btn-info ml10" href="/">@Resource.btnLabelBack</a>
            </p>
        </div>
    </div>
</div>




