<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AvaTaxExciseSample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DatabaseConnection" connectionString="data source=DESKTOP-T0BU8DO;initial catalog=SiteFuel-Prod1;Integrated Security=true;multipleactiveresultsets=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;application name=EntityFramework;applicationintent=ReadWrite;multisubnetfailover=False;pooling=true;max pool size=100" providerName="System.Data.SqlClient" />
		<!--<add name="DatabaseConnection" connectionString="Server=sitefuel-qa.westus2.cloudapp.azure.com,1433;Initial Catalog=QA-Exchange;Persist Security Info=True;integrated security=False;User ID=sitefuel;Password=First#1234;MultipleActiveResultSets=True;Encrypt=False;TrustServerCertificate=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />-->
	  <!--<add name="DatabaseConnection" connectionString="data source=sitefuel-qa.westus2.cloudapp.azure.com,1433;initial catalog=QA-Exchange;integrated security=False;user id=sitefuel;password=QA#Truefill@421;" providerName="System.Data.SqlClient" />-->
		<!--<add name="DatabaseConnection" connectionString="data source=SITEFUEL-012-SO\SQLEXPRESS;initial catalog=SiteFuel-QA1;User ID=sa;Password=First#1234;Integrated Security=True;multipleactiveresultsets=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;application name=EntityFramework;applicationintent=ReadWrite;multisubnetfailover=False;pooling=true;max pool size=100"  providerName="System.Data.SqlClient" />-->
		<!--<add name="DatabaseConnection" connectionString="data source=sitefuel-qa.westus2.cloudapp.azure.com,1433;initial catalog=SiteFuel-QA1;integrated security=False;user id=sitefuel;password=First#1234;pooling=True;max pool size=100;multipleactiveresultsets=True;connect timeout=30;encrypt=False;trustservercertificate=True;application name=EntityFramework;applicationintent=ReadWrite;multisubnetfailover=False" providerName="System.Data.SqlClient" />-->
		<!--<add name="DatabaseConnection" connectionString="Server=sitefuel-qa.westus2.cloudapp.azure.com,1433;Initial Catalog=SiteFuel-QA1;Persist Security Info=True;integrated security=False;User ID=sitefuel;Password=First#1234;MultipleActiveResultSets=True;Encrypt=False;TrustServerCertificate=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />-->
		<add name="LogDatabaseConnection" connectionString="data source=LAPTOP-LD87JHST;initial catalog=SiteFuel-Prod1;User ID=sa;Password=First#1234;Integrated Security=True;multipleactiveresultsets=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;application name=EntityFramework;applicationintent=ReadWrite;multisubnetfailover=False;pooling=true;max pool size=100" providerName="System.Data.SqlClient" />
		<add name="ApiLogDatabaseConnection" connectionString="__ApiLogDatabaseConnection__" />
	
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <appSettings>
    <add key="aspnet:MaxJsonDeserializerMembers" value="10000000" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- Application Setting - Start Dev=0, Test=1, QA=2, Demo=3, Prod=4-->
    <add key="Environment" value="__Environment__" />
    <add key="AppVersion" value="__AppVersion__" />
    <!-- Application Setting - End -->
    <add key="RandomPasswordLength" value="8" />
    <add key="GenerateStaticPassword" value="false" />
    <add key="GoogleMaps.ApiKey" value="AIzaSyBA_GxURX0q9Ouiqg75AIJouy79RANWS3E" />
	<add key="GoogleMaps.MapApiKey" value="AIzaSyBA_GxURX0q9Ouiqg75AIJouy79RANWS3E" />
	<add key="GoogleMaps.GeocodeApiUrl" value="https://maps.google.com/maps/api/geocode/json?" />
    <add key="GoogleMaps.AutoRetry" value="true" />
    <add key="GoogleMaps.RetryDelay" value="100" />
    <add key="GoogleMaps.RetryTimes" value="5" />
    <add key="MaxAllowedUploadFileSize" value="1048576" />
    <!-- SendGrid configuration -->
    <add key="SendGridUserName" value="__SendGridUserName__" />
    <add key="SendGridApiKey" value="__SendGridApiKey__" />
    <!-- SendGrid Sender Setting - SMTP=0, API=1 -->
    <add key="SendGridSender" value="__SendGridSender__" />
    <add key="SendGridHost" value="__SendGridHost__" />
    <add key="SendGridPort" value="587" />
    <!-- Email Default Address -->
    <add key="EmailFromAddress" value="__EmailFromAddress__" />
    <!-- Email Default Display Name -->
    <add key="EmailDisplayName" value="__EmailDisplayName__" />
    <!-- Bcc Email -->
    <add key="BccEmailAddress" value="__BccEmailAddress__" />
    <!-- Email Body Log -->
    <add key="IsEmailBodyLog" value="false" />
    <!-- additional security header - azure service -->
    <add key="XFRAMEOPTIONS" value="" />
    <!--Default terminal price default value for invoices-->
    <add key="DefaultPricingDecimalPlaces" value="4" />
    <!-- Application Setting - End -->
    <add key="webjobstorage" value="DefaultEndpointsProtocol=https;AccountName=sitefuelqadiag996;AccountKey=XCpmAABpeaerX8246k096lNDQKbvV7HZO1Sk7wEoaISyR7Pt62VcWfgpwtkfq/FeDDwPQeXPXGpQ4PmeBr5Ozg==;EndpointSuffix=core.windows.net" />
	<add key="OktaEnableCompanyId" value="1293" />
  </appSettings>
  <system.web>
	  <machineKey validation="HMACSHA256" decryption="AES" validationKey="28E42A48EF354029CD01F308921442ED3063CC6ADB0700ED823C99783C512C835511EC5978DF4F0BD3338FDAB06C69ACE4D5F59C2249C7AE84D4A4A018EF2C37" decryptionKey="5F9763026D54383A3BFD77D167DA2973348165F668C96CC8" />
	  <authentication mode="None" />
    <customErrors mode="Off" />
    <httpCookies httpOnlyCookies="true" requireSSL="true" />
    <compilation debug="true" targetFramework="4.7" />
    <httpRuntime targetFramework="4.6.1" maxRequestLength="1048576" />
    <globalization culture="auto:en-US" uiCulture="auto:en-US" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <pages>
      <namespaces>
        <add namespace="GridMvc" />
      </namespaces>
    </pages>
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <!-- Duration 1Sec=1, 1Min=60, 1Hour=3600, 1Day=86400, 1Month=2592000, 1Year=31536000 -->
          <add name="OutputCacheStaticPage" enabled="false" duration="3600" varyByParam="none" />
          <add name="OutputCacheMasterData" enabled="true" duration="3600" varyByParam="*" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.1.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="EB42632606E9261F" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
     <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="qaexchange_redirect" enabled="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" negate="false" pattern="^qaexchange\.sitefuel\.com$" />
          </conditions>
          <action type="Redirect" url="https://qaexchange.truefill.com/{R:1}" appendQueryString="true" redirectType="Permanent" />
        </rule>
        <rule name="exchange_redirect" enabled="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" negate="false" pattern="^exchange\.sitefuel\.com$" />
          </conditions>
          <action type="Redirect" url="https://exchange.truefill.com/{R:1}" appendQueryString="true" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <applicationSettings>
    <AvaTaxExciseSample.Properties.Settings>
      <setting name="AvaTaxExciseSample_Authentication_AuthenticationService" serializeAs="String">
        <value>https://psd.avalara.net/authenticationservice.asmx</value>
      </setting>
      <setting name="AvaTaxExciseSample_TaxDetermination_TaxDetermination" serializeAs="String">
        <value>https://psd.avalara.net/determination/taxdetermination.asmx</value>
      </setting>
    </AvaTaxExciseSample.Properties.Settings>
  </applicationSettings>
</configuration>
