<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <connectionStrings>
    <add name="DatabaseConnection" connectionString="data source=sitefuel-qa.westus2.cloudapp.azure.com,1433;initial catalog=SiteFuel-Services;User ID=sa;Password=First#1234;Integrated Security=False;" providerName="System.Data.SqlClient" />
    <add name="LogDatabaseConnection" connectionString="data source=sitefuel-qa.westus2.cloudapp.azure.com,1433;initial catalog=SiteFuel-Services;User ID=sa;Password=First#1234;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="IsLocal" value="true"/>
    <add key="FtpHost" value="mft.parkland.ca"/>
    <add key="FtpUserName" value="sitefuel"/>
    <add key="FtpPassword" value="fwltKcyl4n"/>
    <add key="RemoteDirectoryPath" value="\Outgoing" />
    <add key="PendingFilePath" value="C:\Users\SITEFUEL-004-KS\Documents\SiteFuelExternalPricing\Pending\"/>
    <add key="ProcessedFilePath" value="C:\Users\SITEFUEL-004-KS\Documents\SiteFuelExternalPricing\Processed\"/>
    <add key="ArchivedFilePath" value="C:\Users\SITEFUEL-004-KS\Documents\SiteFuelExternalPricing\Archived\"/>
    <add key="WebServiceUrl" value="https://localhost:44377/Account/StartPriceSync"/>
    <add key="TheadSleepingTimeInMillis" value="300000"/>

    <!-- SendGrid configuration -->
    <add key="SendGridUserName" value="apikey"/>
    <add key="SendGridApiKey" value="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"/>
    <!-- SendGrid Sender Setting - SMTP=0, API=1 -->
    <add key="SendGridSender" value="0"/>
    <add key="SendGridHost" value="smtp.sendgrid.net"/>
    <add key="SendGridPort" value="587"/>
    <!-- Email Default Address -->
    <add key="EmailFromAddress" value="testalerts@sitefuelusa.com"/>
    <!-- Email Default Display Name -->
    <add key="EmailDisplayName" value="TFX Monitoring Service"/>
    <add key="EmailSubject" value="Prod Alert: OPIS/Platts Pricing Syncing Failed"/>
  </appSettings>
</configuration>