<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.7" />
    <httpRuntime targetFramework="4.7" />
  </system.web>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
      <target xsi:type="Database" name="LogDatabase" connectionStringName="LogDatabaseConnection" commandType="StoredProcedure" commandText="[dbo].[usp_SaveLog]">
        <parameter name="@MachineName" layout="${machinename}" />
        <parameter name="@SiteName"    layout="${processname}" />
        <parameter name="@LogDateTime" layout="${date}" />
        <parameter name="@Level" layout="${level}" />
        <parameter name="@Message" layout="${message}" />
        <parameter name="@Logger" layout="${logger}" />
        <parameter name="@Exception" layout="${exception:tostring}" />
      </target>
      <target xsi:type="Database" name="DebugDatabase" connectionStringName="LogDatabaseConnection"
              commandType="StoredProcedure" commandText="[dbo].[usp_SaveDebugLog]">
        <parameter name="@machineName"    layout="${machinename}" />
        <parameter name="@siteName"       layout="${processname}" />
        <parameter name="@logDateTime"    layout="${date}" />
        <parameter name="@level"          layout="${level}" />
        <parameter name="@message"        layout="${message}" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Error" writeTo="LogDatabase"/>
      <logger name="*" minlevel="Debug" writeTo="DebugDatabase" enabled="false" />
      <logger name="*" minlevel="Trace" writeTo="DebugDatabase" enabled="true" />
    </rules>
  </nlog>
</configuration>
