<div class="row">
    <div class="col-sm-12">
        <div class="well bg-white shadow-b location-panel">
            <div id="accordion-location" class="location-accordion">
                <!--<img *ngIf="IsLocDrpDwnLoading"
                     src="https://www.animatedimages.org/data/media/1617/animated-truck-image-0009.gif"
                     alt="animated-truck-image-0009" />-->
                <div class="position-abs text-center"
                    [ngClass]="{'hide-element': !FilterLocationDrpDwnList && FilterLocationDrpDwnList.length==0 }">
                    <span class='spinner-small ml10 mt5'></span>
                </div>
                <div *ngIf="!IsLocDrpDwnLoading" class="col-sm-12 row">
                    <div class="inner-addon left-addon">
                        <i class="glyphicon glyphicon-search"></i>
                        <input class="form-control" name="txtSearch" placeholder="Search Location" type="text"
                            (input)="Partsfiltering($event)" autocomplete="off">
                    </div>
                </div>
                <div *ngIf="!IsLocDrpDwnLoading && FilterLocationDrpDwnList && FilterLocationDrpDwnList.length == 0">
                    No
                    Location Available
                </div>
                <div *ngIf="!IsLocDrpDwnLoading && FilterLocationDrpDwnList && FilterLocationDrpDwnList.length > 0">

                    <table class="table tank-view">
                        <thead>
                            <tr>
                                <th width="49%">Location</th>
                                <th width="24%"(click)="setSortArgs('DaysRemaining')" class="cursor_pointer">
                                    Days remaining&nbsp;<i class="fa fa-sort" aria-hidden="true"></i>
                                </th>
                                <!-- [class.color-icon-light] = "filterArgs.key != 'DaysRemaining'" -->
                                <th>
                                    Status
                                </th>
                                <!-- <th (click)="setSortArgs('Status')" class="cursor_pointer">
                                    Status&nbsp;<i class="fa fa-sort" [class.color-icon-light] = "filterArgs.key != 'Status'" aria-hidden="true"></i>
                                </th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let loc of FilterLocationDrpDwnList | sortingPipe: filterArgs; let i = index">
                                <tr>
                                    <td>
                                        <div class="card-header" [attr.id]="'headingOne'+loc?.SiteId">
                                            <h2 class="mb-0">
                                                <div ngbTooltip="{{loc.LocationName}}{{(loc && loc.CustomerInfo)? ' - '+loc.CustomerInfo: null}}"
                                                     class="position-relative pr-3 btn btn-link collapsed text-left"
                                                     data-toggle="collapse" [attr.data-target]="'#col'+loc?.SiteId"
                                                     aria-expanded="true" [attr.aria-controls]="'col'+loc?.SiteId"
                                                     (click)="locationChange(loc)">
                                                    <ng-container>
                                                        {{loc?.LocationName}}
                                                        {{(loc && loc.CustomerInfo && loc.CustomerInfo.length>5)? '(' + (loc.CustomerInfo | slice:0:5) + '..)': '' }}
                                                        {{(loc && loc.CustomerInfo && loc.CustomerInfo.length<=5)? '(' + (loc.CustomerInfo | slice:0:5) + ')': '' }}
                                                    </ng-container>
                                                    <span class="fa-stack fa-sm icon-color-b position-absolute" style="top:3px;right:-7px;">
                                                        <i class="fas fa-circle fa-stack-2x"></i>
                                                        <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </div>
                                            </h2>
                                        </div>
                                     
                                    </td>
    
                                    <td>{{(loc.DaysRemaining == null)? "N\A": loc.DaysRemaining + " Days"}}</td>
                                    <td>
                                        <a href="javascript:void(0)" class="" (click)="showTanks(loc)" onclick="slidePanel('#raisedr','60%')">
                                            <span class="">{{loc.Status}}</span>
                                        </a>
                                    </td>
                                </tr>
                                <tr [attr.id]="'col'+loc?.SiteId" class="collapse"
                                data-parent="#accordion-location"
                                [attr.aria-labelledby]="'headingOne'+loc?.SiteId">

                                <td colspan="3">
                                    <div class="card-body">
                                        <ul class="list-group list-group-flush">

                                            <table class="table tank-view-child">
                                                <tbody>
                                                    <tr *ngFor="let tank of loc?.Tanks">
                                                        <td width="45%">
                                                            <a href="javascript:void(0)"
                                                                (click)="tankChange(tank)"
                                                                [ngClass]="{'active': SelectedTankId==tank?.TankId+'_'+tank?.StorageId}">
                                                                {{tank.Name}}
                                                                <span
                                                                    *ngIf="tank?.IsUnknowDeliveryOrMissDelivery"
                                                                    class="active-dot">
                                                                </span>
                                                            </a>
                                                        </td>
                                                        <td width="24%">
                                                            {{(tank.DaysRemaining == null)? "N\A": tank.DaysRemaining + " Days"}}
                                                        </td>
                                                        <td>
                                                            <a href="javascript:void(0)" class="" (click)="showTanks(loc)" onclick="slidePanel('#raisedr','60%')">
                                                                <span class="">{{tank.Status}}</span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </ul>
                                    </div>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="create-dip-test">
    <app-dip-test [isDisableControl]="true" (onRaiseDR)="closeSidePanel();" [IsSalesPage]="true"
        [SelectedRegionId]="SelectedRegionId" [IsThisFromDrDisplay]="false" [RequestFromBuyerWallyBoard]="true"></app-dip-test>
</div>