<form [formGroup]="viewFreightRateForm">
    <div class="row">
        <div class="col-sm-12 text-left">
            <a class="fs16 mr10 filter-link pa mt-2" [ngbPopover]="popContent" placement="bottom" [autoClose]="'outside'" container="body" triggers="manual" #p="ngbPopover" (click)="p.open()"
               popoverClass="master-filter"><i class="fas fa-filter mr5 ml20 pr"></i>Filters</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="well bg-white shadowb-b">
                <div class="ibox mb0">
                    <div class="ibox-content no-border">
                        <div class="row">
                            <div id="div-freight-rate-grid" class="table-responsive">
                                <table id="freight-rate-grid-datatable" data-gridname="14" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th class="hide-element" data-key="Id">Id</th>
                                            <th data-key="DateRange">Date Range</th>
                                            <th data-key="FreightRateRuleType">Freight Pricing Rule</th>
                                            <th data-key="TableType">Table Type</th>
                                            <th data-key="TableName">Table Name</th>
                                            <th data-key="StatusName">Status</th>
                                            <th data-key="Customer">Customer(s)</th>
                                            <th data-key="Carrier">Carrier(s)</th>
                                            <th data-key="SourceRegion">Source Region(s)</th>
                                            <th data-key="Terminal">Terminal(s)</th>
                                            <th data-key="BulkPlant">Bulk Plant(s)</th>
                                            <th data-key="BulkPlant">Fuel Group(s)</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of FreightRateList,let i = index" class="accordion" id="accordionExample">
                                            <td class="hide-element">{{item.Id}}</td>
                                            <td>{{item.DateRange}}</td>
                                            <td>{{item.FreightRateRuleType}}</td>
                                            <td>{{item.TableType}}</td>
                                            <td>{{item.TableName}}</td>
                                            <td>{{item.StatusName}}</td>
                                            <td>{{item.Customer}}</td>
                                            <td>{{item.Carrier}}</td>
                                            <td>{{item.SourceRegion}}</td>  
                                            <td *ngIf="item.Terminal.length>40">
                                                <div class="d-none" [ngClass]="{'d-block': item.IsShowMore}">{{item.Terminal}}</div>
                                                <div class="d-none" [ngClass]="{'d-block': !item.IsShowMore}" *ngIf="(item.Terminal.length>40)">{{item.Terminal | slice :0:40}}...</div>
                                                <a (click)="item.IsShowMore = !item.IsShowMore">View More/Less</a>
                                            </td>
                                            <td *ngIf="item.Terminal.length<=40">{{item.Terminal}}</td>

                                            <td>{{item.BulkPlant}}</td>
                                            <td>{{item.FuelGroup}}</td>
                                            <td>
                                               <!-- <a *ngIf="!item.IsArchived" class="btn btn-link fs16 mr-1" mwlConfirmationPopover
                                                   [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" placement="left"
                                                   (cancel)="cancelClicked = true" (confirm)="archiveFreightRate(item.Id)"><i class="fa fa-trash-alt color-maroon " placement="bottom" ngbTooltip="Archive"></i></a>-->

                                                <a *ngIf="!item.IsArchived" class="btn btn-link fs16 ml-0"
                                                   (click)="viewFreightRateRule(item.Id,item.FreightRateRuleTypeValue,'EDIT');" placement="bottom" ngbTooltip="Edit"><i class="fas fa-edit"></i></a>

                                                <a class="btn btn-link fs16 ml-0" (click)="viewFreightRateRule(item.Id,item.FreightRateRuleTypeValue,'VIEW');" placement="bottom" ngbTooltip="View">
                                                    <i class="fas fa-street-view"></i>
                                                </a>

                                                <a *ngIf="!item.IsArchived" class="btn btn-link fs16 ml-0"
                                                   (click)="viewFreightRateRule(item.Id,item.FreightRateRuleTypeValue,'COPY');" placement="bottom" ngbTooltip="Copy"><i class="fas fa-copy"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div id="freightRate-panel" class="side-panel pl5 pr5">
        <div class="side-panel-wrapper">
            <div class="pt15 pb0 mb10">
                <a class="ml15 close-panel" onclick="closeSlidePanel();"><i class="fa fa-close fs18"></i></a>
                <h3 class="dib mt0 mb0 ml15">Freight Rate Table Details</h3>
            </div>
        </div>
    </div>-->

    <div class="loader" *ngIf="IsLoading">
        <div class="loading-content text-center">
            <div class="spinner"></div>
            <div class="font-bold">Loading...</div>
        </div>
    </div>

    <ng-template #popContent>
        <div class="popover-details">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="FreightRateRuleTypes">Freight Pricing Rule</label>
                        <ng-multiselect-dropdown formControlName="FreightRateRuleTypes"
                                                 id="FreightRateRuleTypes"
                                                 [placeholder]="'Select Type (Required)'"
                                                 [settings]="SinlgeselectSettingsById" [data]="FreightRateRuleTypeList">
                        </ng-multiselect-dropdown>
                        <div *ngIf="viewFreightRateForm.get('FreightRateRuleTypes').invalid && viewFreightRateForm.get('FreightRateRuleTypes').touched" class="color-maroon">
                            <div *ngIf="viewFreightRateForm.get('FreightRateRuleTypes').errors.required">
                                Freight Pricing Rule is required.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="TableTypes">Table Type</label>
                        <ng-multiselect-dropdown formControlName="TableTypes"
                                                 id="TableTypes"
                                                 [placeholder]="'Select Type (Required)'"
                                                 [settings]="SinlgeselectSettingsById" [data]="TableTypeList"
                                                 (onSelect)="onTableTypeSelect($event)">
                        </ng-multiselect-dropdown>
                        <div *ngIf="viewFreightRateForm.get('TableTypes').invalid && viewFreightRateForm.get('TableTypes').touched" class="color-maroon">
                            <div *ngIf="viewFreightRateForm.get('TableTypes').errors.required">
                                Table Type is required.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <div [ngClass]="{'pntr-none subSectionOpacity': IsMasterSelected}">
                            <label for="Customers">Customer(s)</label>
                            <ng-multiselect-dropdown formControlName="Customers"
                                                     id="Customers"
                                                     [placeholder]="'Select Customers'"
                                                     (onSelect)="onCustomersSelect($event)"
                                                     (onDeSelect)="onCustomersDeSelect($event)"
                                                     (onDeSelectAll)="onCustomersDeSelect($event)"
                                                     [settings]="MultiselectSettingsById"  [data]="CustomerList">
                            </ng-multiselect-dropdown>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <div [ngClass]="{'pntr-none subSectionOpacity': IsMasterSelected}">
                            <label for="Carriers">Carrier(s)</label>
                            <ng-multiselect-dropdown formControlName="Carriers"
                                                     id="Carriers"
                                                     [settings]="MultiselectSettingsById"
                                                     [data]="CarrierList"
                                                     [placeholder]="'Select Carriers'"
                                                     (onSelect)="onCarriersSelect($event)"
                                                     (onDeSelect)="onCarriersDeSelect($event)"
                                                     (onDeSelectAll)="onCarriersDeSelect($event)">
                            </ng-multiselect-dropdown>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="SourceRegions">Source Region(s)</label>
                        <ng-multiselect-dropdown formControlName="SourceRegions"
                                                 id="SourceRegions"
                                                 [settings]="MultiselectSettingsById" 
                                                 [data]="SourceRegionList"
                                                 [placeholder]="'Select Source Regions'"
                                                 (onSelect)="onSourceRegionsSelect($event)"
                                                 (onDeSelect)="onSourceRegionsDeSelect($event)"
                                                 (onDeSelectAll)="onSourceRegionsDeSelectAll($event)">
                        </ng-multiselect-dropdown>

                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="TerminalsAndBulkPlants">Terminal(s)/BulkPlant(s)</label>
                        <angular2-multiselect id="TerminalsAndBulkPlants"
                                              [data]="TerminalsAndBulkPlantList"
                                              formControlName="TerminalsAndBulkPlants"
                                              [settings]="MultiSelectSettingsByGroup">
                        </angular2-multiselect>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label>From</label>
                        <input type="text" placeholder="Select Date" formControlName="fromDate"
                               (onDateChange)="setfromDate($event);" class="form-control datepicker" myDatePicker
                               [format]="'MM/DD/YYYY'" autocomplete="off">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>To</label>
                        <input type="text" placeholder="Select Date" formControlName="toDate" [minDate]="minDate"
                               [maxDate]="maxDate" (onDateChange)="settoDate($event);" class="form-control datepicker"
                               myDatePicker [format]="'MM/DD/YYYY'" autocomplete="off">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6 form-group">
                    <div class="form-check">
                        <input class="form-check-input" formControlName="isArchived" type="checkbox" value="" id="ckb-isArchived">
                        <label class="form-check-label" for="ckb-isArchived">
                            Show Archived
                        </label>
                    </div>
                </div>
                <div class="col-sm-6 text-right form-buttons mt20">
                    <button id="clear-filter" type="button" class="btn mt3 valid" (click)="clearFilter()">Clear Filter</button>
                    <button id="filter-freight-rate-grid" type="button" class="btn btn-lg btn-primary mt3 valid" [ngClass]="{'pntr-none subSectionOpacity': IsLoading}" (click)="filterGrid();p.close()">Apply</button>
                </div>
            </div>

        </div>

    </ng-template>
</form>