@model OrderFilterViewModel

<div id="carrier-ordermap" class="row mapheight">
</div>
<script>
    $(document).ready(function () {
        ReloadCarrierOrderMap();
    });

    function ReloadCarrierOrderMap() {
        var data = {
             JobId : '@Model.JobId',
             Filter : '@Model.Filter',
             Currency : getSelectedCountryAndCurrency().currencyType,
             CountryId : getSelectedCountryAndCurrency().countryId,
             GroupIds: getCompanyGroup().groupIds,
        };

        var url = '@Url.Action("PartialMapView", "Order", new { area = "Carrier" })';

        $.get(url, data, function (response) {
            $("#carrier-ordermap").empty().append(response);
        });
    }
</script>
