
<h3 class="f-light fs18 ">Delivered Quantity Variance</h3>
<div class="row">
    <div class="col-sm-12">
        @Html.Partial("_PartialQuantityVarianceExceptionGrid")
    </div>
</div>
<h3 class="f-light fs18 ">No Data Exceptions</h3>
<div class="row">
    <div class="col-sm-12">
        @Html.Partial("~/Areas/Supplier/Views/Shared/_PartialNoDataExceptions.cshtml")
    </div>
</div>
