<div class="row">
    <div class="col-sm-12 pull-left">
        <div class="dib border pa5 radius-capsule shadow-b">
            <div class="btn-group btn-filter">
                <input class="hide-element" type="radio" [name]="'type'" [value]="1" [checked]="locationViewType==1">
                <label class="btn ml0" (click)="changeViewType(1)">Terminals</label>
                <input class="hide-element" type="radio" [name]="'type'" [value]="2" [checked]="locationViewType==2">
                <label class="btn" (click)="changeViewType(2)">Bulk Plants</label>
            </div>
        </div>
        <div class="form-group pull-right">
            <select class="form-control" [(ngModel)]="CountryFilter" (change)="onCountryChange()">
                <option *ngFor="let key of CountryType" [value]="key.Id">{{key.Name}}</option>
            </select>
        </div>
    </div>
</div>

<app-terminals *ngIf="locationViewType==1">Loading...</app-terminals>
<app-bulk-plants *ngIf="locationViewType==2">Loading...</app-bulk-plants>