body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
header {
    height: 60px;
    z-index: 100;
    border-bottom: 1px solid #253a93;
    padding-top:7px;
}

.shadow-b {
    box-shadow: 0 2px 4px rgba(0,0,0,.08);
}

.fixed {
    position: fixed;
}

.bg-white {
    background: #FFFFFF;
}

.full-width {
    width: 100% !important;
}

.top0 {
    top: 0%;
}
.contact-details {
    margin-top:60px;
}
.contact-details p{
    line-height:33px;
}
    .contact-details h5 {
        line-height:25px;
    }