::ng-deep .tabs label {
    background: none;
    font-size: 16px;
    border-bottom: 2px solid #f7f7f7;
}

::ng-deep .tabs input[type="radio"]:checked + label {
    background: none;
    border-bottom: 2px solid blue;
    color: #0c52b1;
    border-bottom: 2px solid #0c52b1;
    font-size:16px;
}

::ng-deep .custom-search {
    left: 0;
    top:0;
}
    ::ng-deep .custom-search .card {
        border:0;
    }
    ::ng-deep .custom-search .card-body {
        padding:0;
    }
        ::ng-deep .custom-search .card-body li:hover {
            background: #007bff;
            cursor:pointer;
            color:white;
        }
    ::ng-deep .custom-search .card .card-header{
        padding: 0 15px;
    }


