<form [formGroup]="rcForm" (ngSubmit)="onSubmit(2)">

    <div>
        <div *ngIf="AccessorialFeeMode!='CREATE'">
            <button type="button" class="btn btn-link" (click)="clearForm()"><i class="fa fa-plus-circle"></i>Create New</button>
        </div>
        <fieldset [ngClass]="{'pntr-none': disableInputControls}" [disabled]="disableInputControls ? true : null">
            <div class="well bg-white">
                <div class="row">
                    <div class="col-sm-3 form-group">
                        <label>Table Name <span class="color-maroon">*</span></label>
                        <input type="text" formControlName="TableName" class="form-control" />
                        <div *ngIf="rcForm.get('TableName').invalid && rcForm.get('TableName').touched" class="color-maroon">
                            <div *ngIf="rcForm.get('TableName').errors.required">
                                Required.
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="TableTypes">Table Type <span class="color-maroon">*</span></label>
                            <ng-multiselect-dropdown formControlName="TableTypes"
                                                     class="single-select"
                                                     id="TableTypes"
                                                     [settings]="SingleSelectSettingsById"
                                                     [data]="TableTypeList"
                                                     [placeholder]="'Select Type'"
                                                     (onSelect)="onTableTypeSelect($event)">
                            </ng-multiselect-dropdown>
                            <div *ngIf="rcForm.get('TableTypes').invalid && rcForm.get('TableTypes').touched" class="color-maroon">
                                <div *ngIf="rcForm.get('TableTypes').errors.required">
                                    Required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <div [ngClass]="{'pntr-none subSectionOpacity': IsMasterSelected}">
                                <label for="Customers">Select Customer(s)</label>
                                <ng-multiselect-dropdown formControlName="Customers"
                                                         id="Customers"
                                                         [settings]="MultiSelectSettingsById"
                                                         [data]="CustomerList"
                                                         (onSelect)="onCustomersSelect($event)"
                                                         (onDeSelect)="onCustomersDeSelect($event)"
                                                         (onDeSelectAll)="onCustomersDeSelect($event)"
                                                         [placeholder]="'Select Customers'">
                                </ng-multiselect-dropdown>
                                <div *ngIf="IsCustomerSelected && rcForm.get('Customers').invalid && rcForm.get('Customers').touched" class="color-maroon">
                                    <div *ngIf="rcForm.get('Customers').errors.required">
                                        Required.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <div [ngClass]="{'pntr-none subSectionOpacity': IsMasterSelected}">
                                <label for="Carriers">Select Carrier(s)</label>
                                <ng-multiselect-dropdown formControlName="Carriers"
                                                         id="Carriers"
                                                         [settings]="MultiSelectSettingsById"
                                                         [data]="CarrierList"
                                                         (onSelect)="onCarriersSelect($event)"
                                                         (onDeSelect)="onCarriersDeSelect($event)"
                                                         (onDeSelectAll)="onCarriersDeSelect($event)"
                                                         [placeholder]="'Select Carriers'">
                                </ng-multiselect-dropdown>
                                <div *ngIf="IsCarrierSelected && rcForm.get('Carriers').invalid && rcForm.get('Carriers').touched" class="color-maroon">
                                    <div *ngIf="rcForm.get('Carriers').errors.required">
                                        Required.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="SourceRegions">Select Source Region(s)<span class="color-maroon">*</span></label>
                            <ng-multiselect-dropdown formControlName="SourceRegions"
                                                     id="SourceRegions"
                                                     [settings]="MultiSelectSettingsById"
                                                     [data]="SourceRegionList"
                                                     [placeholder]="'Select Source Regions'"
                                                     (onDeSelect)="onSourceRegionsDeSelect($event)"
                                                     (onDeSelectAll)="onSourceRegionsDeSelectAll($event)">
                            </ng-multiselect-dropdown>
                            <div *ngIf="rcForm.get('SourceRegions').invalid && rcForm.get('SourceRegions').touched" class="color-maroon">
                                <div *ngIf="rcForm.get('SourceRegions').errors.required">
                                    Required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <div [ngClass]="{'pntr-none subSectionOpacity': !IsSourceRegionSelected}">
                                <label for="TerminalsAndBulkPlants">Select Terminal(s)/BulkPlant(s)</label>
                                <angular2-multiselect id="TerminalsAndBulkPlants"
                                                      [data]="TerminalsAndBulkPlantList"
                                                      formControlName="TerminalsAndBulkPlants"
                                                      [settings]="MultiSelectSettingsByGroup">
                                </angular2-multiselect>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>Effective Start Date <span class="color-maroon">*</span></label>
                        <input type="text" formControlName="StartDate" class="form-control datepicker"
                               placeholder="Effective Start Date" myDatePicker [format]="'MM/DD/YYYY'"
                               [maxDate]="maxDate"
                               (onDateChange)="rcForm.get('StartDate').setValue($event)" />
                        <div *ngIf="rcForm.get('StartDate').invalid && rcForm.get('StartDate').touched" class="color-maroon">
                            <div *ngIf="rcForm.get('StartDate').errors.required">
                                Required.
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>Effective End Date </label>
                        <input type="text" formControlName="EndDate" class="form-control datepicker"
                               placeholder="Effective End Date" myDatePicker [format]="'MM/DD/YYYY'"
                               [minDate]="minDate" [maxDate]="maxDate"
                               (onDateChange)="rcForm.get('EndDate').setValue($event)" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <app-fee-list [Parent]="rcForm" [CountryId]="SelectedCountryId" [Fees]="Fees"></app-fee-list>
                </div>
            </div>
        </fieldset>
        <div class="col-sm-12">
            <div class="text-right ">
                <input type="button" class="btn btn-lg btn-light" value="Cancel" (click)="onCancel()" />
                <input type="button" class="btn btn-lg btn-light" [disabled]="disableInputControls ? true : null" value="Draft" (click)="onSubmit(1)">
                <input type="button" class="btn btn-lg btn-primary" [disabled]="disableInputControls ? true : null" value="Submit" (click)="onSubmit(2)" />
            </div>
        </div>
    </div>
</form>

<div class="loader" *ngIf="IsLoading">
    <div class="loading-content text-center">
        <div class="spinner"></div>
        <div class="font-bold">Loading</div>
    </div>
</div>
