@{
    ViewBag.Title = "Group Accounts";
}
<div class="row">
    <div class="col-sm-12 col-12">
        <h3 class="mt0 f-light pb5 fs21 mb5 float-left">@Resource.lblGroupCompanies</h3>
        <a href="@Url.Action("CreateCompanyGroup", "SuperAdmin", new { area = "SuperAdmin" })" class="fs18 float-left ml20" id="linkCreateNewCompany">
            <i class="fa fa-plus-circle fs18 mt5 float-left mb10"></i><span class="fs14 mt4 float-left">@Resource.btnLabelCreateNew</span>
        </a>
    </div>
</div>
<div class="row">
    @Html.Partial("_PartialCompanyGroupGrid", new CompanyGroupViewModel())
</div>

