@model SiteFuelUserFilterType

@{
    if (Model == SiteFuelUserFilterType.AllSuperAdmin || Model == SiteFuelUserFilterType.ActiveSuperAdmin
        || Model == SiteFuelUserFilterType.InActiveSuperAdmin)
    {
        ViewBag.Title = Resource.lblSuperAdmins;
    }
    else if (Model == SiteFuelUserFilterType.InternalSalesPerson)
    {
        ViewBag.Title = Resource.lblSalesCalculatorUsers;
    }
    else if (Model == SiteFuelUserFilterType.ExternalVendor)
    {
        ViewBag.Title = Resource.lblExternalVendor;
    }
    else if (Model == SiteFuelUserFilterType.AccountSpecialist)
    {
        ViewBag.Title = Resource.lblAccountSpecialist;
    }
}

    <div class="row">
        @Html.Partial("_PartialSiteFuelUserGrid", Model)
    </div>
