
@{
    if (TempData[ApplicationConstants.CustomMessageType] != null)
    {
        var messages = TempData[ApplicationConstants.CustomMessage] as object[];
        var messageType = (MessageType)TempData[ApplicationConstants.CustomMessageType];
        var messageLinkText = TempData[ApplicationConstants.CustomMessageLinkText] as string;
        var messageLinkUrl = TempData[ApplicationConstants.CustomMessageLink] as string;
        var msgClassBody = messageType == MessageType.Error ? "danger" : messageType.ToString().ToLower();
        var msgClassToast = messageType == MessageType.Error ? "Error" : messageType.ToString().ToLower();

        <script>
            $(document).ready(function () {
                var toastMessageType = '@msgClassToast';
                var messageBody = $('.msgText').html();
                eval("msg" + toastMessageType.toLowerCase() + '(messageBody)');
            });
        </script>
        <div id="custom-message" class="alert alert-@msgClassBody alert-dismissible hide-element fs12 pt5 pb5 pl10 pr10">
            <div class="container overflow-h">
                <div class="msgText" id="msgInfo">
                    @if (messages.Length > 1)
                    {
                        foreach (var msg in messages)
                        {
                            <br />
                            @msg
                        }
                    }
                    else
                    {
                        @Html.Raw(messages[0]);
                        if (messageLinkText != null && messageLinkText != "")
                        {
                            @Html.ActionLink(messageLinkText, "", "", null, new { href = messageLinkUrl, @class = "f-bold" })
                        }
                    }
                </div>
            </div>
        </div>
    }
}
