<div class="modal animated" id="modal-offer-fees" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-offerFees modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header no-border text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="offer-heading"></h2>
            </div>
            <div class="modal-body pt0 pb0" id="offer-fees">
            </div>
            <div class="modal-footer no-border clearboth">
                <input type="button" data-dismiss="modal" class="mr20 btn btn-primary" value="@Resource.btnLabelOK" />
            </div>
        </div>
    </div>
</div>