@model SiteFuel.Exchange.ViewModels.DeliveryScheduleViewModel

@using (Html.BeginCollectionItem("FuelDeliveryDetails.DeliverySchedules"))
{
    <div class="partial-block">
            @Html.PartialFor("_PartialCommonDeliverySchedule", m => m)
    </div>
}
