@model DiscountLineItemViewModel

@using (Html.BeginCollectionItem("DiscountLineItems"))
{
    <div class="partial-block row" id="discount-item">
        @Html.PartialFor("_PartialCommonDiscountLineItem", m => m)
    </div>
}