@model AdditionalFeeViewModel

@using (Html.BeginCollectionItem("FuelDeliveryDetails.FuelRequestFee.AdditionalFee"))
{
    <div class="partial-block">
        @Html.PartialFor("_PartialCommonAdditionalFee", m => m)
    </div>
}
