@using SiteFuel.Exchange.ViewModels.FuelPricingDatail
@model FuelRequestPricingDetailsViewModel

<div class="row">
    <div class="disable-in-tpo-edit">
        <div class="form-group">
            @Html.HiddenFor(m => m.PricingSourceId, new { @class = "ddl-pricing-source" })
            <div class="pricing-code col-sm-12">
                <div class="row">
                    @Html.PartialFor("_PartialPricingCodes", m => m.PricingCode)
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-pricing-codes" onclick="reloadPricingData()">@Resource.lblSelectPricingCode</button>
                    </div>
                    <div id="pricing-code-info" class="pull-right col-sm-6 hide-element v-middle">
                        <label></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
