<div class="row">
    <div class="col-sm-12" id="jobSpecificBillToButton">
        <button data-toggle="modal" data-target="#jobSpecificBillToModel" id="showjobSpecificBillToModal" type="button" class="btn btn-default">+ Billing address for this location</button>
    </div>
</div>
<div class="well" id="jobSpecificBillInfoWell">
    <div class="row">
        <div class="col-sm-10">
            <h3 class="mt0 mb5">@Resource.lblJobSpecificBillTo</h3>
        </div>
        <div class="col-sm-2"><a data-toggle="modal" data-target="#jobSpecificBillToModel" id="showjobSpecificBillToModal"><i class="fa fa-edit"></i></a></div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4 class="fs14 mb0 pt0" id="jobSpecificBillName"></h4>
            <div id="jobSpecificBillAddress"></div>
        </div>
    </div>
</div>