    <h4 class="mb0">@Resource.headingNewsfeed</h4>
    <div class="row" id="wrapper-newsfeed">
        
        <div id="newsfeed-container" class="pr">
            <div class="position-abs-bottom text-center hide-element" id="show-more-loading">
                <span class='spinner-small ml10 mt5'></span>
            </div>
        </div>
        <div class="col-sm-12 text-center">
            <input id="show-more" data-show-more="#show-more" type="button" class="btn btn-xs btn-primary mt5 hide-element" value="@Resource.btnLabelShowMore" />
        </div>
        <input type="hidden" id="current-page" value="1" />
        <input type="hidden" id="latestId" value="0" />
    </div>
