@model FeesViewModel

@using (Html.BeginCollectionItem("FuelDeliveryDetails.FuelFees.FuelRequestFees"))
{
    <div class="partial-block row">
        @Html.PartialFor("_PartialCommonOtherFee", m => m)
    </div>
}
