@model BrokeredOrderFeeViewModel

@using (Html.BeginCollectionItem("ExternalBrokeredOrder.BrokeredOrderFee.AdditionalFees"))
{
    <div class="partial-block">
        @Html.PartialFor("_PartialBrokeredOrderAdditionalFeeDetails", m => m)
    </div>
}
