@model PricingViewModel
@using (Html.BeginCollectionItem("FuelDetails.TierPricing.Pricings"))
{
    <div class="partial-block">
        <div class="row">
            <div class="col-sm-12">
                @Html.PartialFor("_PartialTierFuelQuantityTpo", m => m)
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        var rowIdx = parseInt($('#TotalRows').val());
        rowIdx = ++rowIdx;
        $('#TotalRows').val(rowIdx);
    });
</script>