@model ReasonViewModel
<div class="row">
    <div class="col-12 dib cust-tab">
        <ul class="nav nav-tabs border-0 mb-3" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active px-0 pb-1 pt-0 mr-3" id="reason-category-tab" data-toggle="tab" href="#reason-category" role="tab" aria-controls="home" aria-selected="true">Reason Category</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link px-0 pb-1 pt-0" id="reason-codes-tab" data-toggle="tab" href="#reason-codes" role="tab" aria-controls="profile" aria-selected="false">Reason Code</a>
            </li>
        </ul>
    </div>
</div>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="reason-category" role="tabpanel" aria-labelledby="reason-category-tab">
        <div class="mb10" id="reason-category-details">
            @Html.PartialFor("_PartialReasonCategory", m => m.ReasonCategory)
        </div>
    </div>
    <div class="tab-pane fade" id="reason-codes" role="tabpanel" aria-labelledby="reason-codes-tab">
        <div class="mb10" id="reason-code-details">
            @Html.PartialFor("_PartialReasonCodes", m => m.ReasonCode)
        </div>
    </div>
</div>

