@model FuelDeliveryDetailsViewModel

    <ol class="pl15">
        @if (Model.DeliverySchedules == null || Model.DeliverySchedules.Count() == 0)
        {
            @Resource.lblHyphen
        }
        else
        {
            foreach (var deliverySchedule in Model.DeliverySchedules)
            {
                <li><span>
    @if (deliverySchedule.ScheduleType == (int)DeliveryScheduleType.SpecificDates || deliverySchedule.ScheduleType == (int)DeliveryScheduleType.Monthly)
                    {
        @(string.Format("{0}: {1} - {2}-{3} - {4} {5}",
                                        deliverySchedule.ScheduleTypeName,
                                        deliverySchedule.ScheduleDate.Date.ToShortDateString(),
                                        deliverySchedule.ScheduleStartTime,
                                        deliverySchedule.ScheduleEndTime,
                                        deliverySchedule.ScheduleQuantity.GetCommaSeperatedValue(),
                                        deliverySchedule.UoM))
    }
    else
    {
        @(string.Format("{0}: {1} - {2}-{3} - {4} {5}",
                                        deliverySchedule.ScheduleTypeName,
                                        Html.Raw(string.Join("/", deliverySchedule.ScheduleDayNames)),
                                        deliverySchedule.ScheduleStartTime,
                                        deliverySchedule.ScheduleEndTime,
                                        deliverySchedule.ScheduleQuantity.GetCommaSeperatedValue(),
                                        deliverySchedule.UoM))
    }
</span>

                </li>
            }
        }
    </ol>
   