@model List<MarineInspectionRequestVoucherViewModel>
    <!-- Create carousel inside this div-->
    <div class="container">
        <div id="inspectionrequestcarousel" class="carousel carousel-cg slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner">
                @if (Model != null && Model.Any())
                {
                    int index = -1;
                    foreach (var inspVoucher in Model)
                    {
                        index++;
                        <!-- need carousel-item active for first item for carousel to work -->
                        <div class="@(index == 0?" carousel-item active":"carousel-item")">
                            @Html.Partial("~/Views/Shared/_PartialInspectionRequestVoucherDetails.cshtml", inspVoucher);
                        </div>
                    }
                }
                <a class="carousel-control-prev mt-5" href="#inspectionrequestcarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next mt-5" href="#inspectionrequestcarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <ol class="carousel-indicators">
                    @if (Model != null && Model.Any())
                    {
                        int index = -1;
                        foreach (var inspVoucher in Model)
                        {
                            index++;
                            <li data-target="#inspectionrequestcarousel" data-slide-to="@index" class="@(index == 0?" active":"")"></li>
                        }
                    }
                </ol>
            </div>
        </div>
    </div>

