@model List<MarineInspectionRequestVoucherViewModel>

@if (Model != null && Model.Any())
{
    foreach (var inspVoucher in Model)
    {
        <div class="breakpage">
            @Html.Partial("~/Views/Shared/_PartialInspectionRequestVoucherDetails.cshtml", inspVoucher)
        </div>                        
    }
}

<!-- css to break each partial view on new pdf page after download-->
<style TYPE="text/css">
     .breakpage+.breakpage {
        page-break-before: always;
      }

</style>