@model FeesViewModel

@using (Html.BeginCollectionItem("Details.FuelDeliveryDetails.FuelFees.FuelRequestFees"))
{
    <div class="partial-block row">
        @Html.PartialFor("_PartialBrokerCommonFeeTypes", m => m)
    </div>
}
