@*<div class="row">
    <div class="col-md-12">
        @Html.LabelFor(m => CurrentUser.DataFilterDate)
        @Html.TextBoxFor(m => CurrentUser.DataFilterDate, new { @class = "form-control datepicker data-date-filter" })
    </div>
</div>*@
