<span class="fa fa-download mr10 mt10"></span>
<a href="~/Content/PoNumber_Bulkupload_Template.csv?v=@SiteFuel.Exchange.Core.Utilities.AppSettings.AppVersion" class="mb5 btn-download">@Resource.btnLabelDownloadSample</a>
<div class="row">
    <div class="col-md-12 b-dashed">
        <h2>
            <label for="csvFile" class="btn btn-primary">
                <input id="csvFile" name="csvFile" class="bulkElements full-width" type="file" accept=".csv" />
            </label>
        </h2>
        <div class="row hide-element" id="divOrderFileSizeError">
            <div class="col-sm-12 fs12 color-red">
                @Resource.errFileSizeMessage
            </div>
        </div>
        <div class="alert alert-warning fs12">
            @Resource.lblPoUploadWarning
        </div>
        <div class="row">
            <div class="col-sm-12 text-right pb0 fs12">
                <input type="submit" value="@Resource.btnLabelUpload" class="btn btn-primary bulkElements" id="uploadInvoiceButton" />
            </div>
        </div>
    </div>
</div>
