@model DeliveryScheduleViewModel

@using (Html.BeginCollectionItem("DeliverySchedules"))
{
    <div class="partial-block">
        <div class="row">
            <div class="col-sm-11">
                @Html.PartialFor("_PartialCommonDeliverySchedule", m => m)
            </div>
        </div>
    </div>
}
