@model DirectTaxesViewModel
@using (Html.BeginCollectionItem("DirectTaxes"))
{
    <div class="partial-block">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>@Model.StateList[0].CountryCode @Resource.lblState</label>
                    @Html.ListBoxFor(m => m.StateIds, new SelectList(Model.StateList, "StateId", "StateName"), new { @class = "form-control multi-select" })
                    @Html.HiddenFor(m => m.CountryId)
                </div>
            </div>
          
        </div>
    </div>
}
