@model FeesViewModel

@using (Html.BeginCollectionItem("Details.FuelDeliveryDetails.FuelFees.FuelRequestOtherFees"))
{
    <div class="partial-block">
        @Html.PartialFor("_PartialCommonOtherFee", m => m)
    </div>
}
