@{
    ViewBag.Title = "Terms and Conditions";
    Layout = "~/Views/Shared/_LayoutOnboarding.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <h1 class="mt0">@Resource.headingTermsAndConditions</h1>
        <p>@Html.GetFormattedResource(Resource.txtFuelRequestEULA)</p>
    </div>
</div>
