<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>
	<connectionStrings>
		<add name="DatabaseConnection" connectionString="__DatabaseConnection__" providerName="System.Data.SqlClient" />
		<add name="FreightDbConnection" connectionString="_FreightDbConnection_" />
		<add name="LogDatabaseConnection" connectionString="__LogDatabaseConnection__" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
	</startup>
	<appSettings>
		<!-- PollingInterval has to be in milliseconds 1000ms = 1s -->
		<add key="PollingInterval" value="60000" />
		<!-- ExecutionTime has to be in 24 hours format -->
		<add key="ExecutionTime" value="__SERVICEEXECUTIONTIME__" />
		<!-- ExecutionTimeout has to be in seconds format -->
		<add key="ExecutionTimeout" value="600" />
		<!-- MailingList can be single or comma seperated -->
		<add key="StoredProcedureName" value="SyncExternalPricingData" />
		<!-- MailingList can be single or comma seperated -->
		<add key="DefaultMailingList" value="techadmin@sitefuelusa.com" />
		<!-- Application Setting - Start Dev=0, Test=1, QA=2, Demo=3, Prod=4-->
		<add key="Environment" value="__Environment__" />
		<!-- SendGrid configuration -->
		<add key="SendGridUserName" value="__SendGridUserName__" />
		<add key="SendGridApiKey" value="__SendGridApiKey__" />
		<!-- SendGrid Sender Setting - SMTP=0, API=1 -->
		<add key="SendGridSender" value="__SendGridSender__" />
		<add key="SendGridHost" value="__SendGridHost__" />
		<add key="SendGridPort" value="587" />
		<!-- Email Default Address -->
		<add key="EmailFromAddress" value="__EmailFromAddress__" />
		<!-- Email Default Display Name -->
		<add key="EmailDisplayName" value="__EmailDisplayName__" />
		<!-- Bcc Email -->
		<add key="BccEmailAddress" value="__BccEmailAddress__" />

		<add key="webjobstorage" value="__webjobstorage__" />
		<!-- Application Setting - End -->
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.1" newVersion="4.1.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Security.Cryptography.X509Certificates" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IO" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Win32.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>
