@model SiteFuel.Exchange.ViewModels.LocationsViewModel

@using (Html.BeginCollectionItem("OtherLocationsAndServices"))
{
    <div class="partial-block col">
        @Html.PartialFor("_PartialExternalSupplierAddress", m => m)       
    </div>
}
