@model UsersFilterViewModel
@{
    ViewBag.Title = "Company Users";
}
<div class="row">
    @Html.Partial("_PartialCompanyUsersGrid", Model)
</div>
<div class="row mt10">
    @Html.Partial("_PartialInvitedUserGrid", Model.Id)
</div>
