@model AuditReportAxxisFilter
@using (Html.BeginForm("AuditReportAxxis", "SuperAdmin", FormMethod.Post))
{
    <div class="row">
        <div class="col-sm-5 col-md-12">
            <h2><span class="fa fa-file mr10 fs21"></span>@Resource.lblAuditReportAxxis</h2>
        </div>
    </div>
    <div class="row mt10 color-darkgrey">
        <div class="col-xs-6 col-md-6 mt10">
            @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control datepicker", placeholder = Resource.lblFrom })
        </div>
        <div class="col-xs-6 col-md-6 mt10">
            @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control datepicker", placeholder = Resource.lblTo })
        </div>
    </div>
    <div class="row mt15 mb15">
        <div class="col-12 col-sm-12 text-right mb10">
            <input id="create-report" type="submit" class="btn btn-primary" value="@Resource.btnLabelCreateReport" />
        </div>
    </div>
}
<script>
    $("#@Html.IdFor(m => m.StartDate)").on('dp.change', function (e) {
        if (e.date == false)
            $('#@Html.IdFor(m => m.EndDate)').data("DateTimePicker").minDate($("#@Html.IdFor(m => m.StartDate)").datetimepicker("minDate"));
        else
            $('#@Html.IdFor(m => m.EndDate)').data("DateTimePicker").minDate(moment(e.date).startOf('d'));
    });
</script>