<div class="row">
    <div class="col-lg-12">
        <div class="icon-wrapper2">

            <div class="right0 z-index5 mb10 btn-db-preferences">
                <span data-toggle="modal" data-target="#tile-preferences">
                    <a href="javascript:void(0)" class="btn yellow-bg btn-circle btn-sm color-white"
                        data-toggle="modal" data-target="#myModal" data-placement="bottom"
                        title="Dashboard Preferences">
                        <i class="fa fa-th fs16"></i>
                    </a>
                </span>
            </div>

        </div>
        <!-- <div class="float-right text-right">
            <button class="btn btn-outline btn-primary btn-rnd" data-toggle="modal" data-target="#myModal">More</button>
        </div> -->
        <div class="float-right text-right mb10" *ngIf="isShowCountryDDL">
            <div class="form-group mb0">
                <select class="form-control" (change)="onCountryChange($event)">
                    <option *ngFor="let country of CountryList" [value]="country.Id"
                        [selected]="SelectedCountryId==country.Id"><i class="fa fa-airbnb fa-2x"></i> {{country.Code}}
                    </option>
                </select>
            </div>
        </div>
    </div>
</div>
<div *ngIf="IsLoading" class="pa top0 bg-white left0 z-index5 loading-wrapper">
    <span class="spinner-dashboard pa"></span>
</div>
<div class="buyerdashboard-home-container">
    <div class="row">
        <div class="col-lg-12" *ngIf="!tiles.IsWallyBoard">
            <app-map-view [SelectedCountryId]="SelectedCountryId"></app-map-view>
        </div>
    </div>
    <div class="row" >  
        <div class="col-lg-6" *ngIf="!tiles.IsDelivery">
            <app-delivery [SelectedCountryId]="SelectedCountryId"></app-delivery>
        </div>
        <div class="col-lg-6" *ngIf="!tiles.IsInventory"> 
            <app-inventory [SelectedCountryId]="SelectedCountryId"></app-inventory>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6" *ngIf="!tiles.IsInvoice">
            <app-invoice [SelectedCountryId]="SelectedCountryId"></app-invoice>
        </div>
        <div class="col-lg-6" *ngIf = "!tiles.IsMessage">
            <app-message></app-message>
        </div>
    </div>
</div>


<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Tiles you want to see on dashboard</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div  class="col-sm-4" *ngFor="let item of DashboardTileViewModelList">
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input type="checkbox" [checked]="!item.IsClosed" id="inlineCheckbox-board_{{item.TileName}}"
                                    (change)="item.IsClosed = !item.IsClosed">
                                <label class="form-check-label ml-2" for="inlineCheckbox-board"> {{item.TileDisplayName}}</label>
                            </div>
                        </div>
                    </div>  
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="ApplySettings()"
                        data-dismiss="modal">Apply</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    </div>