@model CounterOfferViewModel

<div class="row offer-container" id="auto-CounterFees">
    <div class="col-sm-4 single-record">
        <div class="ibox mb10">
            <div class="ibox-content pb5 pt5">
                @Html.Partial("CounterOfferDetails/_PartialFees", Model.FuelRequest)
            </div>
        </div>
    </div>
    @if (Model.PreviousCounterOfferDetails != null)
    {
        <div class="col-sm-4 single-record">
            <div class="ibox mb10">
                <div class="ibox-content pb5 pt5">
                    @Html.Partial("CounterOfferDetails/_PartialFees", Model.PreviousCounterOfferDetails)
                </div>
            </div>
        </div>
    }
    <div class="col-sm-4 single-record">
        <div class="ibox mb10">
            <div class="ibox-content pb5 pt5">
                @Html.Partial("CounterOfferDetails/_PartialFees", Model.CurrentCounterOfferDetails)
            </div>
        </div>
    </div>
</div>