<form [formGroup]="TractorForm" (ngSubmit)="onSubmit()">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="hidden" formControlName="Id" />
                            <label>Tractor ID<span class="color-maroon">*</span></label>
                            <input type="text" class="form-control" placeholder="Tractor ID" formControlName="TractorId" tabindex="1" maxlength="20" />
                            <div *ngIf="TractorForm.get('TractorId').invalid && TractorForm.get('TractorId').touched" class="color-maroon">
                                <div *ngIf="TractorForm.get('TractorId').errors.required">
                                    Required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Licence Plate<span class="color-maroon">*</span></label>
                            <input type="text" class="form-control" placeholder="Plate" formControlName="Plate" tabindex="2" maxlength="100" />
                            <div *ngIf="TractorForm.get('Plate').invalid && TractorForm.get('Plate').touched" class="color-maroon">
                                <div *ngIf="TractorForm.get('Plate').errors.required">
                                    Required.
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Expiry Date<span class="color-maroon">*</span></label>
                            <input type="text" class="form-control datepicker" formControlName="ExpirationDate" myDatePicker [format]="'MM/DD/YYYY'" [minDate]="MinDate" [maxDate]="MaxDate" (onDateChange)="setSelectedDate($event);" tabindex="6" />
                            <div *ngIf="TractorForm.get('ExpirationDate').invalid && TractorForm.get('ExpirationDate').touched" class="color-maroon">
                                <div *ngIf="TractorForm.get('ExpirationDate').errors.required">
                                    Required.
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Owner</label>
                            <input type="text" class="form-control" placeholder="Owner" formControlName="Owner" tabindex="3" maxlength="100" />
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>VIN</label>
                            <input type="text" class="form-control" placeholder="VIN" formControlName="VIN" tabindex="4" maxlength="100" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Status</label>
                            <select class="form-control" formControlName="Status" tabindex="6">
                                <option *ngFor="let key of Statuses" [ngValue]="key.Id">{{key.Name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Compatible Trailers<span class="color-maroon">*</span></label>
                            <ng-multiselect-dropdown id="ddlTrailerType" 
                                                     [placeholder]="'Select Trailer'" 
                                                     formControlName="TrailerType" 
                                                     [settings]="DdlSettingsTrailerType" 
                                                     [data]="TrailerTypesData" 
                                                     (onSelect)="onTrailerSelect($event)" 
                                                     (onDeSelect)="onTrailerDeSelect($event)" 
                                                     (onSelectAll)="OnTrailerSelectAll($event)"
                                                     (onDeSelectAll)="OnTrailerDeSelectAll($event)"
                                                     tabindex="5">
                            </ng-multiselect-dropdown>
                            <div *ngIf="editedTrailerType" class="color-maroon">
                                <div>
                                    Required.
                                </div>
                            </div>
                            <div *ngIf="isdriverfound" class="text-warning">
                                <div>
                                    No drivers are found for particular that trailer type.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Assign Driver</label>
                            <ng-multiselect-dropdown id="ddlDrivers" 
                                                     [placeholder]="'Select Driver'" 
                                                     formControlName="Drivers" 
                                                     [settings]="DdlSettings" 
                                                     [data]="DriverList" 
                                                     (onSelect)="onDriverSelect($event)" 
                                                     (onDeSelect)="onDriverDeSelect($event)"
                                                      (onSelectAll)="OnDriverSelectAll($event)"
                                                     (onDeSelectAll)="OnDriverDeSelectAll($event)"
                                                     tabindex="7">
                            </ng-multiselect-dropdown>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-12 text-right form-buttons">
        <input type="button" value="Cancel" class="btn" onclick="closeSlidePanel()" (click)="clearTractorForm()">
        <button id="SubmitTractor" type="submit" class="btn btn-lg btn-primary valid" aria-invalid="false">Submit</button>
    </div>
</form>
<div class="loader" *ngIf="IsLoading">
    <div class="loading-content text-center">
        <div class="spinner"></div>
        <div class="font-bold">Loading...</div>
    </div>
</div>