.dip-test-container {
    .btn-filter {
        .btn {
            padding: 5px 7px !important
        }
    }

    .side-panel {
        .header {
            padding: 10px 10px 0 10px;
            margin-bottom: 5px;
        }

        .body-panel {
            padding: 0px 15px 10px 15px;
            height: calc(100vh - 100px);
            overflow-y: auto !important;
            overflow-x: hidden !important;
            position: relative;
        }

        .footer {
            padding: 10px;
        }

        .tab-content {
            max-height: calc(100vh - 210px);
            overflow-y: auto;
        }

        .dip-test-card {
            background: #FFFFFF;
            border: 1px solid #E5E5E5;
            box-sizing: border-box;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            padding: 10px 15px;
            margin-bottom: 10px;

            .product-type {
                font-weight: bold;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: 0.25px;
                color: #4A4A4A;
                margin-bottom: 0px;
            }

            .customer-name {
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0.25px;
                color: #4A4A4A;
                margin-bottom: 0px;
            }

            .address {
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0.25px;
                color: #4A4A4A;
                margin-bottom: 0px;
                max-width: 95%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .tank-progrss-panel {
                .tank-progrss-status {
                    font-size: 12px;
                    line-height: 22px;
                    letter-spacing: 0.25px;
                    color: #4A4A4A;
                }

                .progress {
                    border-radius: 10px;
                }

                .tank-time {
                    font-size: 12px;
                    line-height: 25px;
                    letter-spacing: 0.25px;
                    color: #4A4A4A;
                }
            }

            &:hover {
                border: 1px solid #010101;
                box-sizing: border-box;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }

    .prority-pills {
        .nav-pills {
            border-radius: 40px;
            border: 1px solid #dee2e6 !important;
            box-shadow: 0 2px 4px rgba(0, 0, 0, .08);

            .nav-item {
                .nav-link {
                    padding: 5px 15px !important;
                    font-size: 13px;
                    line-height: 22px;
                    border-radius: 50px;
                    margin-right: 0 !important;

                    &.mustgo {
                        color: #BE4242 !important;

                        &:hover {
                            background: #BE4242 !important;
                            color: #ffffff !important;
                        }

                        &.active {
                            background: #BE4242 !important;
                            color: #ffffff !important;
                        }
                    }

                    &.shouldgo {
                        color: #E89330 !important;

                        &:hover {
                            background: #E89330 !important;
                            color: #ffffff !important;
                        }

                        &.active {
                            background: #E89330 !important;
                            color: #ffffff !important;
                        }
                    }

                    &.couldgo {
                        color: #696969 !important;

                        &:hover {
                            background: #696969 !important;
                            color: #ffffff !important;
                        }

                        &.active {
                            background: #696969 !important;
                            color: #ffffff !important;
                        }
                    }

                    &.active {
                        border-bottom: 0px !important;
                    }

                    &:hover {
                        border-bottom: 0px !important;
                    }
                }

                &:not(:last-child) {
                    margin-right: 3px;
                }
            }
        }
    }

    .sticky-controls {
        position: sticky;
        top: 0px;
        background: white;
        z-index: 1000;
    }

    .ng-autocomplete {
        width: 100% !important;
        display: table;
        margin: 0 auto;
    }

    .ng-autocomplete .input-container {
        margin-bottom: 10px !important;
    }

    .autocomplete-container .suggestions-container ul li a {
        padding: 8px 15px !important;
        display: block;
        text-decoration: none;
        cursor: pointer;
        color: rgba(0,0,0,.87);
        font-size: 12px !important;
    }
}

.multiselect-item-checkbox input[type="checkbox"].selected{
    border: 0px solid #337ab7 !important;
    background: #007bff !important;
    color: #fff !important;
}


.multiselect-item-checkbox input[type="checkbox"] .selected {
    color: #fff !important;
}

.body-panel .multiselect-dropdown .dropdown-btn .selected-item{
    width: 90%;
}

.dropdown-multiselect__caret{
    padding-right: 0;
}

.filter-textbox{
    height: 30px;
}

.filter-textbox > input{
    margin-top: 5px;
}

#selectOrder li.filter-textbox {
    padding: 0;
}
#selectOrder li.filter-textbox, #selectSite li.filter-textbox, #selectCustomer li.filter-textbox {
    margin : 5px 0 ;
}
#selectOrder li.filter-textbox > input, #selectSite li.filter-textbox > input, #selectCustomer li.filter-textbox > input {
    margin-top : 3px!important;
}


.small-tab .nav > li > a {
    color: #848484 !important;
    padding: 5px 7px !important;
    border-bottom: 0 !important;
    margin-right: 0 !important;
}

.small-tab .nav > li > a.active {
    border-width: 0 !important;
    border-bottom: 0 !important;
    background-image: linear-gradient(96deg,#53b2fe,#065af3) !important;
    color: #ffffff !important;
}

.small-tab .nav > li > a:hover {
    border-width: 0 !important;
    border-bottom: 0 !important;
    color: #848484 !important;
}

.small-tab .nav > li > a.active:hover {
    color: #ffffff !important;
}

.small-tab .nav {
    border: 1px solid #dee2e6;
    display: inline-flex;
    flex-direction: row;
 }

