$white:#ffffff;
.section-optpickup{
    max-height: calc(100vh - 300px);
    overflow:auto;
    overflow-x:hidden;
}

.driver-column-view-container {
    overflow-y: overlay;
    height: 92%;
    .shift-view {
        padding: 0 15px;
        background: $white;
        border-right: 1px solid #e3e3e3;
        border-radius: 10;
        min-width: 275px;

        .shift-info {
            margin-bottom: 5px;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-right: -5px;
            margin-left: -5px;
            align-items: center !important;
        }

        .driver-panel {
            max-width: 215px;
            min-width: 175px;
            margin-right: 5px;

            .driver-header-well {
                background: #1D66F3;
                border: 1px solid #E3E3E3;
                border-radius: 10px;
                display: flex;
                align-items: center;
                padding: 5px;
                margin-bottom: 5px;

                .column-inital-div {
                    margin-right: 7px;

                    .column-inital {
                        background: #1445A5;
                        border-radius: 50%;
                        width: 35px;
                        height: 35px;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 20px;
                        display: flex;
                        align-items: center;
                        justify-items: center;
                        place-items: center;
                        place-content: center;
                        letter-spacing: 0.25px;
                        color: $white;
                    }
                }

                .driver-name-col {
                    width: 70%;

                    .driver-name {
                        font-style: normal;
                        font-weight: 600;
                        font-size: 13px;
                        line-height: 20px;
                        color: $white;
                        margin-bottom: 3px;
                        width: 90%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;

                        a {
                            color: $white;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }

                    .trailer-name {
                        font-size: 12px;
                        line-height: 13px;
                        color: $white;
                        width: 90%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        margin-bottom: 3px;

                        a {
                            color: $white;

                            &:hover {
                                color: $white;
                                text-decoration: underline;
                            }
                        }
                    }
                }

                .option-menu {
                    margin-right: 5px;
                    margin-left: 5px;

                    .option-menu-link {
                        color: $white;
                        font-size: 18px;
                    }
                }
            }

            .load-panel {
                position: relative;
                padding: 5px;
                padding-top: 10px;
                background: $white;
                border: 1px solid #E3E3E3;
                border-radius: 10px;
                margin-bottom: 10px;
                box-shadow: 0;
                transition: all .6s ease-in;
                width: 100%;

                .load-header {
                    margin-top: -8px;
                    background: $white;
                    padding: 0 5px;
                    border-radius: 10px;

                    .load-name {
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 18px;
                        letter-spacing: 0.25px;
                        color: #12121F;
                        margin-bottom: 0;
                    }

                    .load-time {
                        text-align: right;
                        font-size: 12px;
                        line-height: 18px;
                        letter-spacing: 0.25px;
                        color: #8D8D8D;
                    }
                }

                .location-body {
                    min-height: 50px;

                    .location-body-panel {
                        position: relative;
                        // padding: 5px 10px;
                        padding: 0px 10px;
                        border-bottom: 1px solid #1f1d1d24;
                        // margin-bottom: 5px;
                        .header {
                            .location-name {
                                margin-bottom: 5px;
                                padding-top: 5px;

                                h6 {
                                    font-weight: 600;
                                    font-size: 14px;
                                    line-height: 15px;
                                    letter-spacing: 0.25px;
                                    color: #BE4242;
                                    margin-bottom: 0px;
                                }

                                .customer-name {
                                    font-size: 12px;
                                    line-height: 15px;
                                    letter-spacing: 0.25px;
                                    color: #433f3f;
                                }
                            }

                            .pickup-location {
                                position: absolute;
                                top: -5px;
                                right: -3px;
                                height: 30px;
                                width: 30px;
                                border-radius: 50%;
                                display: flex;
                                align-items: center;
                                justify-items: center;
                                place-items: center;
                                place-content: center;
                                font-weight: 600;
                                font-size: 13px;
                                line-height: 17px;
                                letter-spacing: 0.25px;
                                text-transform: uppercase;
                            }
                        }

                        &.dr-inprogress {
                            background: #FFC37C !important;

                            .header {
                                .location-name {
                                    h6, .customer-name {
                                        color: #B8721F !important;
                                    }
                                }
                            }

                            .product-name-row {
                                .product-name, .product-qty {
                                    color: #141414 !important;
                                }
                            }

                            &.should-go, &.could-go, &.must-go {
                                .header {
                                    .location-name {
                                        h6, .customer-name {
                                            color: #B8721F !important;
                                        }
                                    }
                                }

                                .pickup-location {
                                    &.should-go, &.could-go, &.must-go {
                                        background: #FFAA46;
                                        color: $white;
                                    }
                                }
                            }
                        }


                        &.dr-cancelled, &.diverted-status {
                            background: #765252 !important;

                            .header {
                                .location-name {
                                    h6, .customer-name {
                                        color: $white !important;
                                    }
                                }
                            }

                            .product-name-row {
                                .product-name, .product-qty {
                                    color: $white !important;
                                }
                            }

                            &.should-go, &.could-go, &.must-go {
                                .header {
                                    .location-name {
                                        h6, .customer-name {
                                            color: $white !important;
                                        }
                                    }
                                }

                                .pickup-location {
                                    &.should-go, &.could-go, &.must-go {
                                        background: #753333;
                                        color: $white;
                                    }
                                }
                            }
                        }



                        &.dr-completed {
                            background: #90DD8F !important;

                            .header {
                                .location-name {
                                    h6, .customer-name {
                                        color: #365336 !important;
                                    }
                                }
                            }

                            .product-name-row {
                                .product-name, .product-qty {
                                    color: $white !important;
                                }
                            }

                            &.should-go, &.could-go, &.must-go {
                                .header {
                                    .location-name {
                                        h6, .customer-name {
                                            color: #365336 !important;
                                        }
                                    }
                                }

                                .pickup-location {
                                    &.should-go, &.could-go, &.must-go {
                                        background: #72B071;
                                        color: $white;
                                    }
                                }
                            }
                        }

                        &.dr-new {
                            background: #85BBFB !important;

                            .header {
                                .location-name {
                                    h6, .customer-name {
                                        color: #4074B2 !important;
                                    }
                                }
                            }

                            .product-name, .terminal-name, .product-qty {
                                color: $white !important;
                            }

                            &.should-go, &.could-go, &.must-go {
                                .header {
                                    .location-name {
                                        h6, .customer-name {
                                            color: #4074B2 !important;
                                        }
                                    }
                                }

                                .pickup-location {
                                    &.should-go, &.could-go, &.must-go {
                                        background: #4198FF;
                                        color: $white;
                                    }
                                }
                            }
                        }

                        &.should-go {
                            .header {
                                .location-name {
                                    h6, .customer-name {
                                        color: #796C15 !important;
                                    }
                                }
                            }
                        }


                        .body {
                            .product-name-row {
                                display: flex;
                                align-items: center;
                                place-content: center;
                                border-bottom: 1px solid #1f1d1d24;

                                .product-name {
                                    width: 50%;
                                    text-align: left;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 12px;
                                    line-height: 17px;
                                    letter-spacing: 0.25px;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }

                                .product-name {
                                    &:hover, &focus {
                                        color: #000000;
                                    }
                                }

                                .product-qty {
                                    width: 50%;
                                    text-align: right;
                                    font-size: 12px;
                                    line-height: 17px;
                                    letter-spacing: 0.25px;
                                    color: #12121F;
                                }

                                &:last-child {
                                    border-bottom: 0px solid #1f1d1d21;
                                }
                            }
                        }

                        .float-popover {
                            // display: none;
                            position: absolute;
                            right: 0;
                            top: 40%;
                            padding: 5px;

                            i {
                                animation: pulse 2s infinite;
                                border-radius: 50%;
                            }
                        }

                        &:last-child {
                            margin-bottom: 5px !important;
                            border-bottom-left-radius: 10px;
                            border-bottom-right-radius: 10px;
                        }

                        &:first-child {
                            border-top-left-radius: 10px;
                            border-top-right-radius: 10px;
                        }

                        &.last-div {
                            margin-bottom: 10px;
                            border-bottom-left-radius: 10px;
                            border-bottom-right-radius: 10px;
                        }
                        // &.padding-reduce {
                        //     padding: 0 10px;
                        //     border-bottom: 1px solid #1f1d1d24;
                        // }
                    }
                }

                .load-menu-panel {
                    text-align: center;
                    display: flex;
                    place-content: center;
                    transition: all 0.3s ease-out;
                    opacity: 0;
                    height: 0;
                    overflow: hidden;
                    position: absolute;
                    top: 0;
                    right: -35px;
                    background: $white;
                    flex-direction: column;
                    z-index: 1;
                    background: rgba(0,0,0,0.8);
                    box-sizing: border-box;
                    box-shadow: 2px 4px 12px 4px rgb(0, 0, 0, 0.20), -1px 6px 20px 0px rgb(0, 0, 0, 0.19);
                    border-radius: 5px;

                    .circle-icon {
                        // background: #fff;
                        // border: 1px solid #797979;
                        box-sizing: border-box;
                        // border-radius: 50%;
                        // margin-right: 5px;
                        // margin-bottom: 5px;
                        width: 35px;
                        height: 30px;
                        display: flex;
                        place-content: center;
                        align-items: center;
                        color: $white !important;

                        i {
                            font-size: 14px;
                        }

                        a {
                            color: #000 !important;
                        }

                        &:hover {
                            background: $white;
                            border-radius: 0px;
                        }
                    }

                    .circle-icon:hover {
                        color: #000 !important;
                    }
                }

                &:hover {
                    border: 1px solid #000;
                    transition: all .3s ease-out;

                    .load-menu-panel {
                        // padding: 3px;
                        transition: all .6s ease-out;
                        opacity: 1;
                        height: auto;
                    }
                }

                .must-go {
                    background: #FF8686;

                    .product-name-row {
                        .product-name, .product-qty {
                            color: #fff !important;
                        }
                    }

                    .pickup-location {
                        &.must-go {
                            background: #FF6565;
                            color: $white;
                        }
                    }
                }

                .could-go {
                    background: #E8E3E3;

                    .header {
                        .location-name {
                            h6, .customer-name {
                                color: #141414 !important;
                            }
                        }
                    }

                    .product-name-row {
                        .product-name, .product-qty {
                            color: #141414 !important;
                        }
                    }

                    .pickup-location {
                        &.could-go {
                            background: #B4ABAB;
                            color: #141414;
                        }
                    }
                }

                .should-go {
                    background: #FFED72;

                    .header {
                        .location-name {
                            h6, .customer-name {
                                color: #141414 !important;
                            }
                        }
                    }

                    .product-name-row {
                        .product-name, .product-qty {
                            color: #141414 !important;
                        }
                    }

                    .pickup-location {
                        &.should-go {
                            background: #D0BF4F;
                            color: #141414;
                        }
                    }
                }
            }

            &.last-driver {
                margin-right: 70px;
            }
        }

        &:not(:first-child) {
            padding-left: 20px;
        }
    }

    .option-menu {
        .dropdown-toggle::after {
            display: none !important;
        }

        .dropdown-menu {
            min-width: 6rem !important;

            li {
                a {
                    padding: 3px 5px !important;
                }
            }

            .dropdown-item {
                padding: 0 !important;

                a {
                    i {
                        color: #6F6E6E;
                    }
                }

                &:hover {
                    background: #66A3FF;
                }
            }
        }
    }

    &::-webkit-scrollbar-thumb {
        cursor: pointer;
    }

    &::-webkit-scrollbar {
        width: 11px;
        height: 11px;
        cursor: pointer;
    }

    @supports (-moz-appearance:none) {
        scrollbar-width: unset;
    }
}

        @-moz-document url-prefix() {
            .driver-column-view-container {
                overflow-y: auto;
            }
        }

.dsb-popover {
    .popover-details {
        .product-details {
            .dr-new {
                .product-name,.terminal-name {
                    color: #ffffff !important;
                }
            }
        }
    }
}

.dsb-popover {
    &.popover {
        min-width: 250px;
        max-width: 330px;
        background: #F9F9F9;
        border: 1px solid #E9E7E7;
        box-sizing: border-box;
        box-shadow: 10px 10px 8px -2px rgb(0, 0, 0, 0.13);
        border-radius: 10px;

        .popover-body {
            max-height: 350px;
            overflow-y: auto;
            overflow-x: hidden;
            padding: 0;
            border-radius: 5px;
            padding-bottom: 7px;
        }

        .pop-header {
            padding: 3px 15px;
            margin-top: 5px;

            .location-name {
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.25px;
                color: #12121F;
            }

            .customer-name {
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: 0.25px;
                color: #686868;
            }
        }

        .popover-details {
            padding: 3px 25px;
            max-height: 310px;
            overflow-y: auto;

            .product-details {
                padding: 2px 10px;
                border-radius: 10px;
                margin-bottom: 5px;

                &.dr-cancelled {
                    background: #765252 !important;
                }

                &.dr-cancelled, &.dr-completed, &.dr-inprogress, &.diverted-status {
                    p, span {
                        color: $white;
                    }
                }

                .product-name {
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 17px;
                    letter-spacing: 0.25px;
                    color: #000000;
                }

                .terminal-name {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 15px;
                    letter-spacing: 0.25px;
                    color: #555555;
                    margin-bottom: 5px;
                }

                .badges {
                    font-weight: 600;
                    font-size: 10px;
                    line-height: 12px;
                    letter-spacing: 0.25px;
                    color: #555555;
                    margin-bottom: 5px;
                }

                .max-fill {
                    font-size: 10px;
                    line-height: 12px;
                    letter-spacing: 0.25px;
                    color: #12121F;
                    margin-bottom: 5px;
                    float: left;
                }

                .status-flag {
                    font-size: 10px;
                    line-height: 12px;
                    letter-spacing: 0.25px;
                    color: #555555;
                    margin-bottom: 5px;
                    float: right;
                }
            }

            .must-go {
                background: #FF8686;
            }

            .could-go {
                background: #E8E3E3;
            }

            .should-go {
                background: #FFED72;
            }
        }
    }
}

.dsb-popover-retain {
    &.popover {
        min-width: 250px;
        max-width: 420px;
        background: #F9F9F9;
        border: 1px solid #E9E7E7;
        box-sizing: border-box;
        box-shadow: 10px 10px 8px -2px rgb(0, 0, 0, 0.13);
        border-radius: 10px;

        .popover-details {
            padding: 3px 25px;
            max-height: 310px;
            overflow-y: auto;
        }
    }
}

@-webkit-keyframes pulse {
    0% {
        transform: scale(0.95);
        -webkit-box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
    }

    70% {
        transform: scale(1);
        -webkit-box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
    }

    100% {
        transform: scale(0.95);
        -webkit-box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
    }
}

#TransferDSModel {
    .modal-dialog {
        max-width: 350px;
    }

    .heading {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.25px;
        color: #686868;
    }

    .driver-name {
        font-weight: 600 !important;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.25px;
        color: #12121F;
    }
}

.multiselect-letf-text {
    position: absolute;
    color: rgb(255, 59, 59); 
    right: 0px;
}
.driver-panel .load-panel:last-child {
    margin-bottom: 21.5vh !important;
}
.schedule-panel {
    padding-right: 0 !important;
    }
