<div [formGroup]="invoiceForm" class="well box-shadow" *ngIf="BolDetails?.controls?.length > 0">
    <div formArrayName="BolDetails">
        <ng-container *ngFor="let boldetail of BolDetails?.controls; let i = index; let isFirstBol = first;">
            <div [formGroupName]="i">
                <div *ngIf="isFirstBol">
                    <div class="row f-bold">
                        <div class="col-sm-2">BOL #</div>
                        <div class="col-sm-1">Badge #</div>
                        <div class="col-sm-2">Terminal</div>
                        <div class="col-sm-2">Product</div>
                        <div class="col-sm-1">Gross</div>
                        <div class="col-sm-1">Net</div>
                        <div class="col-sm-2">Delivered</div>
                        <div class="col-sm-1">&nbsp;</div>
                    </div>
                </div>
                <div formArrayName="Products">
                    <ng-container *ngFor="let product of boldetail.get('Products').controls; let j = index; let isFirstPrd = first;">
                        <div class="row" [formGroupName]="j">
                            <div class="col-sm-2">
                                <span *ngIf="isFirstPrd"> {{boldetail.get('BolNumber').value}}</span>
                                &nbsp;
                            </div>
                            <div class="col-sm-1">
                                <span *ngIf="isFirstPrd"> {{boldetail.get('BadgeNumber').value}}</span>
                            </div>
                            <div class="col-sm-2">
                                <span *ngIf="isFirstPrd">
                                    <span class="fa fa-tint"></span> {{product.get('TerminalName').value}}
                                </span>
                            </div>
                            <div class="col-sm-2">
                                <span *ngIf="product.get('NetQuantity').value && product.get('GrossQuantity').value">
                                    <span class="fa fa-tint"></span> {{product.get('ProductName').value}}
                                </span>
                            </div>
                            <div class="col-sm-1">
                                {{product.get('GrossQuantity').value}}
                            </div>
                            <div class="col-sm-1">
                                {{product.get('NetQuantity').value}}
                            </div>
                            <div class="col-sm-2">
                                {{product.get('DeliveredQuantity').value}}
                            </div>
                            <div class="col-sm-1">
                                <a *ngIf="product.get('NetQuantity').value && product.get('GrossQuantity').value" (click)="editBolDetail(boldetail, i)"><i class="fa fa-edit fs14"></i></a>
                                <a *ngIf="product.get('NetQuantity').value && product.get('GrossQuantity').value && isFirstPrd " (click)="deleteBolDetail(i)"><i class="fa fa-trash-alt ml10 color-maroon"></i></a>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div class="row mt20">
                    <div class="col-sm-4">
                        <app-imageupload [fileType]="'bolFile'" [orderId]="boldetail.get('BolNumber').value" formControlName="BolImages" [inputFile]="Model[i]==undefined?[]:Model[i].ImageList" [isBol]="true" [requiredIfTrue]="IsBolImageRequired"></app-imageupload>
                    </div>
                </div>
                <div class="mb20 border-b-dash"></div>
            </div>
        </ng-container>
    </div>
</div>

