.api-dashboard-container .api-cards-container {
    border-radius: 10px;
    padding: 0;
    background: #ffffff;
    box-shadow: 0 3px 15px 0 rgba(0,0,0,.1);
}

    .api-dashboard-container .api-cards-container .card {
        min-height: 20px;
        padding: 10px 19px;
        background: #ffffff;
        text-align: center;
        border: 0px solid rgba(0,0,0,.125);
    }

.api-dashboard-container .api-cards-container .card .digit {
    font-size: 35px;
    font-weight: normal;
    margin: 0;
}
.api-dashboard-container .api-cards-container .card .text {
    font-size: 12px;
    font-weight: bold;
}

.api-dashboard-container .api-cards-container .card:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.api-dashboard-container .api-cards-container .card:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.api-dashboard-container .api-cards-container .card:hover {
    background: #f2f2f2;
}

.api-dashboard-container .api-cards-container .card:active {
    background: #f2f2f2;
    border-right: 5px solid #e1e0e0;
}

.api-dashboard-container .api-cards-container .card.active {
    background: #f2f2f2;
    border-right: 5px solid #e1e0e0;
}

@media only screen and (max-width : 400px) {

    .api-dashboard-container .api-cards-container .card:active {
        background: #f2f2f2;
        border-right: 0;
        border-bottom: 5px solid #e1e0e0;
    }

    .api-dashboard-container .api-cards-container .card.active {
        background: #f2f2f2;
        border-right: 0;
        border-bottom: 5px solid #e1e0e0;
    }

    .api-dashboard-container .api-cards-container .card .digit {
        font-size: 30px;
    }

    .api-dashboard-container .api-cards-container .card {
        padding: 10px;
    }

    .api-dashboard-container .api-cards-container {
        padding: 0;
    }

    .api-dashboard-container .api-cards-container .card:first-child {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    .api-dashboard-container .api-cards-container .card:last-child {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }

   
}
#idReqResModel .modal-body {
    max-height: calc(100vh - 212px);
    overflow-y: auto;
}