@model SiteFuel.Exchange.EmailManager.WindowsServiceStatusNotificationViewModel


<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">.

    <title>TrueFill</title>
</head>

<body>
    <h1>
        <strong>
            <u>Service Status</u>
        </strong>
    </h1>
    <table>
        <tr>
            <td><strong>Name:</strong></td>
            <td>@Model.ServiceName</td>
        </tr>
        <tr>
            <td><strong>Time:</strong></td>
            <td>@Model.EventDateTime</td>
        </tr>
        <tr>
            <td><strong>Status:</strong></td>
            <td>@Model.ServiceStatus</td>
        </tr>
    </table>
</body>
</html>
