<form [formGroup]="terminalmappingForm" name="terminalmappingForm" autocomplete="off" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Terminal Supplier <span class="color-maroon">*</span></label>
                        <ng-multiselect-dropdown class="single-select" [placeholder]="'Select Terminal'"
                            formControlName="terminalSupplierId" [(ngModel)]="selectedTerminalSupplier"
                            [settings]="ddlSettingsById" [data]="TerminalSupplierList">
                        </ng-multiselect-dropdown>
                        <div *ngIf="terminalmappingForm.get('terminalSupplierId').invalid && terminalmappingForm.get('terminalSupplierId').touched"
                            class="color-maroon">
                            <div *ngIf="terminalmappingForm.get('terminalSupplierId').errors.required">
                                Required.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Terminal Supplier Description <span class="color-maroon">*</span></label>
                        <ng-multiselect-dropdown class="single-select"
                            [placeholder]="'Select Terminal Item Description'" [(ngModel)]="selectedItemDesc"
                            formControlName="itemDescriptionId"
                            [settings]="ddlSettingsById" [data]="TerminalSupplierDescList">
                        </ng-multiselect-dropdown>
                        <div *ngIf="terminalmappingForm.get('itemDescriptionId').invalid && terminalmappingForm.get('itemDescriptionId').touched"
                            class="color-maroon">
                            <div *ngIf="terminalmappingForm.get('itemDescriptionId').errors.required">
                                Required.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>{{terminalmappingForm?.get('id').value ? 'Terminal Item Code':'Terminal Item Code (s)'}}<span
                                class="color-maroon">*</span></label>
                        <input type="text" class="form-control" formControlName="itemCode" />
                        <span class="text-info" *ngIf="!terminalmappingForm?.get('id').value">Multiple Item Code
                            separated by comma can be entered</span>
                        <div *ngIf="terminalmappingForm.get('itemCode').invalid && terminalmappingForm.get('itemCode').touched"
                            class="color-maroon">
                            <div *ngIf="terminalmappingForm.get('itemCode').errors.required">
                                Required.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Effective Date <span class="color-maroon">*</span></label>
                        <input type="text" placeholder="Effective Date" formControlName="effectiveDate"
                            (onDateChange)="seteffectiveDate($event);" class="form-control datepicker" myDatePicker
                            [format]="'MM/DD/YYYY'" autocomplete="off">
                        <div *ngIf="terminalmappingForm.get('effectiveDate').invalid && terminalmappingForm.get('effectiveDate').touched"
                            class="color-maroon">
                            <div *ngIf="terminalmappingForm.get('effectiveDate').errors.required">
                                Required.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Expiry Date </label>
                        <input type="text" placeholder="Expiry Date" formControlName="expiryDate" [minDate]="minDate"
                            [maxDate]="maxDate" (onDateChange)="setexpiryDate($event);" class="form-control datepicker"
                            myDatePicker [format]="'MM/DD/YYYY'" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-right form-buttons">
                    <button id="submit-terminal-mapping-form" type="submit" class="mt4 btn btn-lg btn-primary valid"
                        [ngClass]="{'pntr-none subSectionOpacity': IsLoading}" aria-invalid="false">
                        Assign
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="loader" *ngIf="IsLoading">
    <div class="loading-content text-center">
        <div class="spinner"></div>
        <div class="font-bold">Loading...</div>
    </div>
</div>