@model UnAthorizedInventoryData

@{
    ViewBag.Title = "Inventory Details";
    Layout = "~/Views/Shared/_LayoutUnAthorized.cshtml";
}


<div class="row mt10">
    <div class="col-sm-12">
        <h4 class="pt0">Inventory Details</h4>
    </div>
    @Html.Partial("_PartialInventoryDataForUnathorizedUser", Model)
</div>
