<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <!--<add name="DatabaseConnection" connectionString="data source=DESKTOP-T0BU8DO;initial catalog=SiteFuel-Prod1;Integrated Security=true;multipleactiveresultsets=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;application name=EntityFramework;applicationintent=ReadWrite;multisubnetfailover=False;pooling=true;max pool size=100" providerName="System.Data.SqlClient" />-->
	  <add name="DatabaseConnection" connectionString="data source=sitefuel-qa.westus2.cloudapp.azure.com,1433;initial catalog=QA-Exchange;integrated security=False;user id=sitefuel;password=QA#Truefill@421;" providerName="System.Data.SqlClient" />

	  <add name="LogDatabaseConnection" connectionString="data source=sitefuel-qa.westus2.cloudapp.azure.com,1433;initial catalog=QA-Logging;integrated security=False;user id=sitefuel;password=QA#Truefill@421;" providerName="System.Data.SqlClient" />
    <add name="ApiLogDatabaseConnection" connectionString="__ApiLogDatabaseConnection__" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <appSettings>
    <!-- PollingInterval has to be in milliseconds 1000ms = 1s -->
    <add key="PollingInterval" value="60000" />
    <!-- ExecutionTime has to be in 24 hours format -->
    <add key="ExecutionTime" value="00:00" />
    <!-- Delivery Alert ExecutionTime has to be in 24 hours format -->
    <add key="DeliveryAlertExecutionTime" value="00:00" />
    <!-- Invoice Approval ExecutionTime has to be in 24 hours format -->
    <add key="InvoiceApprovalExecutionTime" value="09:00" />
    <!-- MailingList can be single or comma seperated -->
    <add key="DefaultMailingList" value="techadmin@sitefuelusa.com" />
    <!-- Application Setting - Start Dev=0, Test=1, QA=2, Demo=3, Prod=4-->
    <add key="Environment" value="__Environment__" />
	  <add key="GoogleMaps.ApiKey" value="AIzaSyBA_GxURX0q9Ouiqg75AIJouy79RANWS3E" />
	  <add key="GoogleMaps.MapApiKey" value="AIzaSyBA_GxURX0q9Ouiqg75AIJouy79RANWS3E" />
	  <add key="GoogleMaps.GeocodeApiUrl" value="https://maps.google.com/maps/api/geocode/json?" />
	  <add key="GoogleMaps.AutoRetry" value="true" />
	  <add key="GoogleMaps.RetryDelay" value="100" />
	  <add key="GoogleMaps.RetryTimes" value="5" />
    <!-- SendGrid configuration -->
    <add key="SendGridUserName" value="__SendGridUserName__" />
    <add key="SendGridApiKey" value="__SendGridApiKey__" />
    <!-- SendGrid Sender Setting - SMTP=0, API=1 -->
    <add key="SendGridSender" value="__SendGridSender__" />
    <add key="SendGridHost" value="__SendGridHost__" />
    <add key="SendGridPort" value="587" />
    <!-- Email Default Address -->
    <add key="EmailFromAddress" value="__EmailFromAddress__" />
    <!-- Email Default Display Name -->
    <add key="EmailDisplayName" value="__EmailDisplayName__" />
    <!-- Bcc Email -->
    <add key="BccEmailAddress" value="__BccEmailAddress__" />
    <add key="webjobstorage" value="DefaultEndpointsProtocol=https;AccountName=sitefuelqadiag996;AccountKey=XCpmAABpeaerX8246k096lNDQKbvV7HZO1Sk7wEoaISyR7Pt62VcWfgpwtkfq/FeDDwPQeXPXGpQ4PmeBr5Ozg==;EndpointSuffix=core.windows.net" />
    <!-- Application Setting - End -->
    <add key="TelaFuelServiceAddress" value="__TelaFuelServicAddress__" />
    <add key="PDIEnterpriseServiceAddress" value="__PDIEnterpriseServicAddress__" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.1" newVersion="4.1.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.X509Certificates" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.8.0.0" newVersion="3.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Api.Gax" publicKeyToken="3ec5ea7f18953e47" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.10.0.0" newVersion="2.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Api.Gax.Grpc" publicKeyToken="3ec5ea7f18953e47" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.10.0.0" newVersion="2.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Api.CommonProtos" publicKeyToken="3ec5ea7f18953e47" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.0.0" newVersion="1.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.41.1.0" newVersion="1.41.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth.PlatformServices" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.41.1.0" newVersion="1.41.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
    <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PDIEnterpriseWebSoap">
          <security mode="Transport" />
        </binding>
        <binding name="PDIEnterpriseWebSoap1" />
      </basicHttpBinding>
      
      <customBinding>
        <binding name="CustomBinding_ITelaFuelService">
          <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport" requireDerivedKeys="true" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
            <localClientSettings detectReplays="false" />
            <localServiceSettings detectReplays="false" />
          </security>
          <textMessageEncoding messageVersion="Soap11" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="" binding="customBinding" bindingConfiguration="CustomBinding_ITelaFuelService" contract="TelaFuelServiceReference.ITelaFuelService" name="CustomBinding_ITelaFuelService" />
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="PDIEnterpriseWebSoap" contract="PDIEnterprise.PDIEnterpriseWebSoap" name="PDIEnterpriseWebSoap" />
    </client>
  </system.serviceModel>
</configuration>
