<div class="delivary-view-contanier">
    <div class="well">
        <div class="well-header">
            <div class="row">
                <div class="col-sm-9 form-row align-items-center">
                    <div class="d-inline-block">
                        <h4 class="well-title">Deliveries</h4>
                    </div>
               </div>
                <div class="col-sm-3 form-row align-items-center flex-row-reverse pr0">
                    <button class="btn btn-outline btn-primary btn-rnd fs11" (click)="navigate()">View More</button>
                </div>
            </div>
        </div>
        <div class="well-body padding-8">
            <div class="row">
                <div class="col-6">
                    <div class="dib border radius-capsule shadow-b">
                        <div class="btn-group btn-filter">
                            <input class="hide-element" type="radio" [name]="'type'" [value]="1" [checked]="type==1">
                            <label class="btn ml0" (click)="initializeDate(1)">Today</label>
                            <input class="hide-element" type="radio" [name]="'type'" [value]="2" [checked]="type==2">
                            <label class="btn" (click)="initializeDate(2)">Tomorrow</label>
                            <input type="text" [(ngModel)]="toDate" [minDate]="minDate" [maxDate]="maxDate" #fromDate1
                                   class="form-control datepicker" placeholder="Date" myDatePicker [format]="'MM/DD/YYYY'"
                                   (onDateChange)="setFromDate($event);" />
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-inline-block text-right prority-pills float-right mb10">
                        <ul class="nav nav-pills float-right">
                            <li class="nav-item" (click)="changeActiveTab(DeliveryReqPriority.MustGo)">
                                <a class="nav-link mustgo active"
                                    [ngClass]="{'active': activePriorityTab == DeliveryReqPriority.MustGo}">Must Go</a>
                            </li>
                            <li class="nav-item" (click)="changeActiveTab(DeliveryReqPriority.ShouldGo)">
                                <a class="nav-link shouldgo"
                                    [ngClass]="{'active': activePriorityTab == DeliveryReqPriority.ShouldGo}">Should
                                    Go</a>
                            </li>
                            <li class="nav-item" (click)="changeActiveTab(DeliveryReqPriority.CouldGo)">
                                <a class="nav-link couldgo"
                                    [ngClass]="{'active': activePriorityTab == DeliveryReqPriority.CouldGo}">Could
                                    Go</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="table-wrapper">
                        <div *ngIf="IsLoading" class="pa top0 bg-white left0 z-index5 loading-wrapper"><span
                                class="spinner-dashboard pa"></span></div>
        
                        <table
                            class="table bg-white table-hover">
                            <thead>
                                <tr>
                                    <th data-key="po_no">PO Number</th>
                                    <th data-key="loc">Location</th>
                                    <th data-key="product">Product</th>
                                    <th data-key="qty">Quantity</th>
                                    <th data-key="dispacher">Dispatcher</th>
                                    <th data-key="status">Status</th>
                                    <th data-key="on_time">On Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container>
                                    <tr *ngFor="let item of deliveries">
                                        <td>{{item?.PoNumber}}</td>
                                        <td>{{item?.Location}}</td>
                                        <td>{{item?.Product}}</td>
                                        <td>{{item?.Quantity}}</td>
                                        <td>{{item?.Dispatcher}}</td>
                                        <td>
                                            <!-- {{item?.Status}} -->
                                            <span class="badge badge-pill badge-primary" [ngClass]="{'badge-success': item?.Status=='Completed','badge-danger': item?.Status=='Accepted','badge-warning': item?.Status.length>8 }"
                                                placement="left"
                                                ngbTooltip="{{item?.Status}}"> 
                                                {{ (item?.Status.length>10)? (item?.Status | slice:0:10)+'..':(item?.Status) }}
                                            </span>
                                        </td>
                                        <td>--</td>
                                    </tr>
                                    <tr *ngIf="deliveries && deliveries.length==0">
                                        <td colspan="7"> 
                                            <div class="row align-items-center" style="height: 175px;">
                                                <div class="col-12 align-items-center text-center">
                                                    <i class="fab fa-searchengin fa-5x"></i>
                                                    <h4>No Data Found</h4>
                                                </div>
                                            </div>
                                            
                                        </td>  
                                   </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                    </div>
            </div>
         
       
            <!-- <div class="well bg-white shadow-b pr">
                <div class='pa bg-white top0 left0 z-index5 loading-wrapper schedule-loading-wrapper hide-element'><span
                        class='spinner-dashboard pa'></span></div>
                <div class="ibox mb0">
                    <div class="ibox-content no-padding no-border location_table">
                    
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>