

<div class="animated clearboth row" [ngClass]="{'fadeIn': toogleMap, 'display_hide': !toogleMap}">
    <div [ngClass]="clickViewActive  ? 'col-sm-8 ' : 'col-sm-12'">
       
        <div class="pr">
            <div id="mapLegend" style="z-index: 1; position: absolute; bottom:0; left: 10px; font-size: 11px;">
            <div id="status-legends" class="well pa0">
                <div class="border-b">
                    <div class="db pl5 pr5 pt8 pb5 radius-10 no-b-radius">
                        <img [src]="mustGoUrl" data-statusid="11">
                        Must Go
                    </div>
                </div>
                <div class="border-b">
                    <div class="db pa5">
                        <img [src]="shouldGoUrl" data-statusid="12">
                        Should Go
                    </div>
                </div>
                <div class="border-b">
                    <div class="db pa5">
                        <img [src]="couldGoUrl" data-statusid="1">
                        Could Go
                    </div>
                </div>
                <div class="border-b">
                    <div class="db pa5">
                        <img [src]="noDlrUrl" data-statusid="1">
                        Unplanned
                    </div>
                </div>
            </div>
        </div>
            <div *ngIf="isLoading" class="pa top0 bg-white left0 z-index5 loading-wrapper"><span class="spinner-dashboard pa"></span></div>
            <agm-map [zoom]="zoomLevel" style="height: 60vh;" [maxZoom]="16" [minZoom]="2" [mapTypeControl]="true" [fullscreenControl]="true" [fullscreenControlOptions]="screenOptions" (mapReady)="mapReady($event)">
                <ng-container *ngFor="let jobLocation of jobLocationDataForMap">
                    <agm-marker [latitude]="jobLocation.Latitude" [longitude]="jobLocation.Longitude" [iconUrl]='{ "url": jobLocation.iconUrl, "scaledSize": { "height": 24, "width": 24 } }' (mouseOver)="mouseHoverMarker(infoWindow,$event)" (mouseOut)="mouseHoveOutMarker(infoWindow,$event)" (markerClick)="onInfoViewClick(jobLocation)">
                        <agm-info-window [disableAutoPan]="false" #infoWindow>
                            <div>
                                <p><strong>{{ jobLocation.JobName}}</strong></p>
                                <!--<p>{{jobLocation.CustomerName}}</p>-->
                            </div>
                        </agm-info-window>
                    </agm-marker>
                </ng-container>
            </agm-map>
        </div>

    </div>
    <div class="col-sm-4 pl0 right_side_panel" *ngIf="clickViewActive">
        <div class="dib full-width pr well pa15 pt10">
            <div class="row">
                <div class="col-sm-12">
                  
                    <a (click)="closeViewClicked()" class="pull-right"><i class="far fa-times-circle fa-lg"></i> </a>
                </div>
            </div>
           
            <div class="row">
                <div class=" col-sm-12 driver_details">
                    <div class="job-location">
                        <p class="mb0">
                            <span class="address1">
                                <i class="fas fa-briefcase"></i> {{this.opendedJobDetails.JobName}}
                            </span>
                        </p>
                    </div>
                    <div class="job-location">
                        <p class="mb0">
                            <span class="address1">
                            </span>
                        </p>
                    </div>
                    <div class="job-location">
                        <p class="mb0">
                            <span class="address1">
                                <i class="fas fa-map-marker-alt"></i>  {{this.opendedJobDetails.Address}}, {{this.opendedJobDetails.City}}, {{this.opendedJobDetails.State}}, {{this.opendedJobDetails.ZipCode}}
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


