<div class="small-tab" id="driverManagement-Tab">
    <!--<ul class="nav nav-tabs mb15">
        <li class="active"><a data-toggle="tab" href="#driver" class="fs16 mr15" (click)="changeTab()">Drivers</a></li>
        <li><a data-toggle="tab" href="#schedule" class="fs16" (click)="changeTab()">Schedules</a></li>
    </ul>-->
    <ul class="nav nav-tabs mb15" role="tablist">
        <li class="nav-item">
            <a class="nav-link active fs16 mr15" id="home-tab" data-toggle="tab" href="#driver"(click)="changeTab('DriverShow')" role="tab" aria-controls="home" aria-selected="true">Drivers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link fs16 mr15" id="profile-tab" data-toggle="tab" href="#schedule"  (click)="changeTab('ProfileShow')" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="driver" class="tab-pane fade show active">
            <div *ngIf="isDriverShow">
                <app-driver-management></app-driver-management>
            </div>

        </div>
        <div id="schedule" class="tab-pane fade">
            <div *ngIf="isProfileShow">
                <app-driver-schedule-calender></app-driver-schedule-calender>
            </div>

        </div>
    </div>
</div>

<div class="loader" *ngIf="(regionService.onLoadingChanged | async)">
    <div class="loading-content text-center">
        <div class="spinner"></div>
        <div class="font-bold">Loading...</div>
    </div>
</div>