<div [formGroup]="Parent">
    <div class="well box-shadow">
        <div [formGroup]="AccessorialForm">
            <h4 *ngIf="!IsFrieghtPricingMethodAuto">Freight Cost / Fees</h4>
            <div *ngIf="IsFrieghtPricingMethodAuto">
                <h3>Accessorial Fees</h3>
                <div class="row">

                    <div class="col-sm-3" *ngIf="Parent.get('SelectedOrders').value.length==0">
                        <h5>Table Type</h5>
                        <div class="form-group">
                            <ng-multiselect-dropdown formControlName="AccessorialFeeTableType"
                                                     [placeholder]="'Table Type'"
                                                     class="single-select"
                                                     (onSelect)="OnAccessorialFeeTableTypeSelect($event)"
                                                     (onDeSelect)="OnAccessorialFeeTableTypeDeSelect()"
                                                     [settings]="SingleSelectSettingsById"
                                                     [data]="AccessorialFeeTableTypeList">
                            </ng-multiselect-dropdown>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <h5>Accessorial Fees Table Name</h5>
                        <div class="form-group" *ngIf="Parent.get('SelectedOrders').value.length==0">
                            <ng-multiselect-dropdown formControlName="AccessorialFeeId"
                                                     [placeholder]="'Type'"
                                                     class="single-select"
                                                     (onSelect)="OnAccessorialFeeIdSelect()"   
                                                      (onDeSelect)="OnAccessorialFeeTableTypeDeSelectForSingle()"
                                                     [settings]="SingleSelectSettingsById"
                                                     [data]="AccessorialFeeIdList">
                            </ng-multiselect-dropdown>
                        </div>
                        <div class="form-group" *ngIf="Parent.get('SelectedOrders').value.length >= 1">
                            <ng-multiselect-dropdown formControlName="AccessorialFeeId"
                                                     [placeholder]="'Type'"
                                                     (onSelect)="OnAccessorialFeeIdSelect()"
                                                     (onDeSelect)="OnAccessorialFeeTableTypeDeSelect()"
                                                     [settings]="MultiSelectSettingsById"
                                                     [data]="AccessorialFeeIdList">
                            </ng-multiselect-dropdown>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div formArrayName="Fees">
            <div class="mt10 mb5">
                <b>General</b>
            </div>
            <ng-container *ngFor="let commonFee of CommonFees; let i = index; let isLast = last">
                <div class="row">
                    <div class="col-sm-10">
                        <app-fee-type [FeeGroup]="commonFee" [FeeTypes]="FeeTypes" [Currency]="DisplayCurrency"
                                      [FeeConstraintTypes]="FeeConstraintTypes" [FeeSubTypes]="FeeSubTypes"></app-fee-type>
                    </div>
                    <div class="col-sm-2">
                        <a class="fa fa-trash-alt ml10 color-maroon mt10" (click)="removeGeneralFee(true, commonFee)"></a>
                    </div>
                </div>
            </ng-container>
            <button type="button" class="btn btn-link" (click)="addGeneralFee(true, null)"><i class="fa fa-plus-circle"></i> Add Fee</button>
            <div class="mt10">
                <b>Other</b>
            </div>
            <ng-container *ngFor="let otherFee of OtherFees; let i = index; let isLast = last">
                <div class="row">
                    <div class="col-sm-10">
                        <app-fee-type [FeeGroup]="otherFee" [FeeTypes]="FeeTypes" [Currency]="DisplayCurrency"
                                      [FeeConstraintTypes]="FeeConstraintTypes" [FeeSubTypes]="FeeSubTypes"></app-fee-type>
                    </div>
                    <div class="col-sm-2">
                        <a class="fa fa-trash-alt ml10 color-maroon mt10" (click)="removeGeneralFee(false, otherFee)"></a>
                    </div>
                </div>
            </ng-container>
            <button type="button" class="btn btn-link" (click)="addGeneralFee(false, null)"><i class="fa fa-plus-circle"></i> Add Fee</button>
            <div class="mt10">
                <h4>Weekend / Holiday Fee(s)</h4>
            </div>
            <div class="mt10 mb5">
                <b>General </b>
            </div>
            <ng-container *ngFor="let spCommonFee of SpCommonFees; let i = index; let isLast = last">
                <div class="row">
                    <div class="col-sm-10">
                        <app-fee-type [FeeGroup]="spCommonFee" [FeeTypes]="FeeTypes" [Currency]="DisplayCurrency"
                                      [FeeConstraintTypes]="FeeConstraintTypes" [FeeSubTypes]="FeeSubTypes"></app-fee-type>
                    </div>
                    <div class="col-sm-2">
                        <a class="fa fa-trash-alt ml10 color-maroon mt10" (click)="removeSpecialFee(true, spCommonFee)"></a>
                    </div>
                </div>
            </ng-container>
            <button type="button" class="btn btn-link" (click)="addSpecialFee(true, 1, null)"><i class="fa fa-plus-circle"></i> Add Fee</button>
            <div class="mt10 mb5">
                <b>Other</b>
            </div>
            <ng-container *ngFor="let spOtherFee of SpOtherFees; let i = index; let isLast = last">
                <div class="row">
                    <div class="col-sm-10">
                        <app-fee-type [FeeGroup]="spOtherFee" [FeeTypes]="FeeTypes" [Currency]="DisplayCurrency"
                                      [FeeConstraintTypes]="FeeConstraintTypes" [FeeSubTypes]="FeeSubTypes"></app-fee-type>
                    </div>
                    <div class="col-sm-2">
                        <a class="fa fa-trash-alt ml10 color-maroon mt10" (click)="removeSpecialFee(false, spOtherFee)"></a>
                    </div>
                </div>
            </ng-container>
            <button type="button" class="btn btn-link" (click)="addSpecialFee(false, 1, null)"><i class="fa fa-plus-circle"></i> Add Fee</button>
        </div>
    </div>
</div>
