.tooltip-dot {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}
.modal-title {
    font-size: 20px
}

.arrow {
    cursor: pointer;
    font-size: 20px
}

.addProdTemplate {
    border: 1px solid #ebebeb;
    border-radius: 10px;
}

#tooltip {
    display: block;
    background: black;
    color: white;
    padding: 5px;
    position: absolute;
    top: 131px;
    width: 590px;
    border-radius:5px
}

.modal {
   background-color: rgba(0,0,0,0.3)
}
.sales-user-dashboard-container {
    .well {
        background: #FFFFFF;
        padding: 0;

        .well-header {
            border-radius: 24px 24px 0px 0px;
            padding: 10px 20px;
        }

        .well-title {
            font-weight: 600 !important;
            font-size: 18px !important;
            letter-spacing: 0.25px;
            color: #12121F !important;
            margin-bottom: 0;
            padding: 0 !important;
        }

        .well-body {
            padding: 0px;
            min-height: 350px;

            &.padding-8 {
                padding: 0 15px;
                padding-bottom: 5px;
            }
            // tbody {
            //     display:block;
            //     max-height:160px;
            //     overflow-y:scroll;
            // }
            // thead, tbody tr {
            //     // display:table;
            //     // width:100%;
            //     table-layout:fixed;
            // }
        }

        .btn-primary.btn-outline {
            color: #1062d1;
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;

            &:hover {
                color: #FFFFFF;
            }

            &:active {
                color: #FFFFFF;
            }

            &:focus {
                color: #FFFFFF;
            }
        }
    }

    .radius-capsule {
        .btn {
            line-height: 22px;
            padding: 5px 8px !important;
            font-size: 12px;

            &:not(:last-child) {
                margin-right: 5px;
            }
        }
    }

    .map-view-contanier {
        .agm-map-container-inner {
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
        }

        .input-search {

            &.form-group {
                margin-bottom: 0px;
            }

            .form-control {
                border-radius: 15px;
                padding-left: 2.375rem;
            }

            .form-control-search {
                position: absolute;
                z-index: 2;
                display: block;
                width: 2.375rem;
                height: 2.375rem;
                line-height: 2.375rem;
                text-align: center;
                pointer-events: none;
                color: #aaa;
            }
        }
    }

    .prority-pills {
        .nav-pills {
            border-radius: 40px;
            border: 1px solid #dee2e6 !important;
            box-shadow: 0 2px 4px rgba(0, 0, 0, .08);

            .nav-item {
                .nav-link {
                    padding: 5px 15px;
                    font-size: 13px;
                    line-height: 22px;
                    border-radius: 50px;

                    &.mustgo {
                        color: #BE4242;

                        &:hover {
                            background: #BE4242;
                            color: #ffffff;
                        }

                        &.active {
                            background: #BE4242;
                            color: #ffffff;
                        }
                    }

                    &.shouldgo {
                        color: #E89330;

                        &:hover {
                            background: #E89330;
                            color: #ffffff;
                        }

                        &.active {
                            background: #E89330;
                            color: #ffffff;
                        }
                    }

                    &.couldgo {
                        color: #696969;

                        &:hover {
                            background: #696969;
                            color: #ffffff;
                        }

                        &.active {
                            background: #696969;
                            color: #ffffff;
                        }
                    }
                }

                &:not(:last-child) {
                    margin-right: 3px;
                }
            }
        }
    }

    .badge {
        padding: 7px 10px;

        &.badge-success {
            color: #fff !important;
            background-color: #52AB34 !important;
        }
    }

    .btn-filter input[type='text'].datepicker {
        height: 32px !important;
    }

    .table-height-270 {
        min-height: 270px;
    }



    .text-warapper-50 {
        max-width: 70px;
        word-wrap: break-word;
    }

    .table-wrapper {
        overflow-y: auto;
        flex-grow: 1;
        max-height: 300px;
        min-height: 290px;

        table {
            border-collapse: collapse;
            width: 100%;

            th {
                position: sticky;
                top: 0;
                background: white;
            }

            td, th {
                // padding: 10px;
                text-align: left;
            }
        }
    }

    .bg-scheduled {
        background: #87db87;
    }

    .bg-inprogress {
        background: #0c52b1;
    }

    .bg-cancelled {
        background: #f51616;
    }

    .bg-completed {
        background: #14ad14;
    }

    .bg-mustgo {
        background: #d95a67;
    }

    .bg-shouldgo {
        background: #ec9f5a;
    }

    .bg-couldgo {
        background: #a5a5a5;
    }

    .driver-list {
        max-height: 335px;
        overflow: auto;
        margin-top: 10px;
        padding: 0 8px;
    }

    .driver-initials {
        width: 36px;
        height: 36px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .driver-details:hover {
        background: #f7f7f7;
        cursor: pointer;
    }
}

.icon-wrapper2 {
    right: 5px;
    top: 150px;
    position: fixed;
    z-index: 99;
}

/* Sales User DR Entry Form */
.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}

.modal.show {
    display: block;
}

.font-800 {
    font-weight: 800 !important;
}

.modal-dialog {
    max-width: 600px;
}

.pad-left-4 {
    padding-left: 4px !important;
}

.pad-top-26 {
    padding-top: 26px !important;
}
