<h4 class="pt0">Payment Terms</h4>
<div class="row" [formGroup]="PaymentTerm">
    <div class="col-sm-12">
        <div class="form-check mb5">
            <input class="form-check-input" type="radio" id="prepaid" [name]="'TermId'" formControlName="TermId" [value]="3" (change)="readonlyNetDays(3)" />
            <label class="form-check-label" for="prepaid">
                Prepaid in full
            </label>
        </div>
        <div class="form-check mb5">
            <input class="form-check-input mb5" type="radio" id="dueonreceipt" [name]="'TermId'" formControlName="TermId" [value]="2" (change)="readonlyNetDays(2)" />
            <label class="form-check-label" for="dueonreceipt">
                Due on receipt
            </label>
        </div>
        <div class="form-check mb5">
            <input class="form-check-input mb5" type="radio" id="netdays" [name]="'TermId'" formControlName="TermId" [value]="1" (change)="readonlyNetDays(1)" />
            <label class="form-check-label" for="netdays">
                Net
            </label>
        </div>
        <div class="form-check mb5">
            <input class="form-check-input mb5" type="radio" id="net30days" [name]="'TermId'" formControlName="TermId" [value]="4" (change)="readonlyNetDays(4)" />
            <label class="form-check-label" for="net30days">
                1% 15 Days, Net 30
            </label>
        </div>
    </div>
    <div class="col-4">
        <input type="text" id="netdaysnumber" class="form-control" formControlName="NetDays" placeholder="# Days" 
               style="max-width:70px" [readonly]="PaymentTerm.get('TermId').value != 1" />
    </div>
    <div class="col-8">Days of receipt - Upon credit approval</div>
    <div class="col-12">
        <span *ngIf="isInvalid('NetDays')" class="color-maroon">
            <span *ngIf="PaymentTerm.get('NetDays').errors.required">
                Net days is required.
            </span>
        </span>
    </div>
</div>
