<div class="small-tab" id="self-service-alias-tab">
    <div class="row">
        <div class="col-sm-12">
            <div class="row mb10">
                <div class="col-2 text-right">
                    <select (change)="companyChanged($event)" class="form-control">
                        <option *ngFor="let company of externalCompanies" [value]="company.Id" [selected]="SelectedCompany.Id==company.Id">{{company.Name}}</option>
                    </select>
                </div>
                <div class="col-10" *ngIf="SelectedCompany?.Id == 1">
                    <div class="float-right text-right" *ngIf="isShowCountryDDL">
                        <div class="form-group mb0">
                            <select class="form-control" (change)="countryChanged($event)">
                                <option *ngFor="let country of CountryList" [value]="country.Id" [selected]="SelectedCountryId==country.Id">{{country.Code}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Third party Mapping Start -->
            <div class="value-mapping" *ngIf="SelectedCompany?.Id == 1">
                <div class="row">
                    <div class="col-2">
                        <div class="float-left text-left mb10" *ngIf="IsShowCarrierMappingComponent">
                            <ul class="nav nav-tabs mb5" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active fs16" data-toggle="tab" href="#carrier-mapping-container" role="tab" aria-controls="home" aria-selected="true" (click)="changeTab('Carrier')">Carrier Mapping</a>
                                </li>
                            </ul>
                        </div>
                        <div class="nav flex-column nav-pills" *ngIf="!IsShowCarrierMappingComponent">
                            <a class="nav-link fs14 active" id="home-tab" data-toggle="pill" href="#product-mapping-container" (click)="changeTab('Product')" role="tab" aria-controls="home" aria-selected="true">Product</a>
                            <a class="nav-link fs14" id="profile-tab" data-toggle="pill" href="#customer-mapping-container" role="tab" aria-controls="profile" aria-selected="false" (click)="changeTab('Customer')">Customer</a>
                            <a class="nav-link fs14" id="contact-tab" data-toggle="pill" href="#carrier-mapping-container" role="tab" aria-controls="contact" aria-selected="false" (click)="changeTab('Carrier')">Carrier</a>
                            <a class="nav-link fs14" id="contact-tab" data-toggle="pill" href="#terminal-mapping-container" role="tab" aria-controls="contact" aria-selected="false" (click)="changeTab('Terminal')">Terminal</a>
                            <a class="nav-link fs14" id="contact-tab" data-toggle="pill" href="#terminal-code-mapping-container" role="tab" aria-controls="contact" aria-selected="false" (click)="changeTab('TerminalCode')">Terminal Item Code</a>
                        </div>
                    </div>
                    <!--Start: Show only carrier mapping tab for buyer user/company only-->
                    <div class="tab-content col-sm-10" *ngIf="IsShowCarrierMappingComponent">
                        <div id="carrier-mapping-container" class="tab-pane fade show active">
                            <div *ngIf="isShowCarrier">
                                <app-company-carrier-mapping [countryId]="SelectedCountryId"></app-company-carrier-mapping>
                            </div>
                        </div>
                    </div>
                    <!--End-->
                    <div class="tab-content col-sm-10" *ngIf="!IsShowCarrierMappingComponent">
                        <div id="product-mapping-container" class="tab-pane fade show active">
                            <div>
                                <!--<*ngIf="!isShow">-->
                                <app-product-mapping *ngIf="IsShowProductMappingComponent" [countryId]="SelectedCountryId"></app-product-mapping>
                            </div>
                        </div>
                        <div id="customer-mapping-container" class="tab-pane fade">
                            <div>
                                <app-customer-mapping></app-customer-mapping>
                            </div>
                        </div>
                        <div id="carrier-mapping-container" class="tab-pane fade">
                            <div *ngIf="isShowCarrier">
                                <app-company-carrier-mapping [countryId]="SelectedCountryId"></app-company-carrier-mapping>
                            </div>
                        </div>
                        <div id="terminal-mapping-container" class="tab-pane fade">
                            <div>
                                <app-terminal-mapping [countryId]="SelectedCountryId"></app-terminal-mapping>
                            </div>
                        </div>
                        <div id="terminal-code-mapping-container" class="tab-pane fade">
                            <div *ngIf="isShowTerminalmappingCode">
                                <app-terminal-item-code-mapping [countryId]="SelectedCountryId"></app-terminal-item-code-mapping>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Third party Mapping End -->
            <!-- PDI Mapping Start -->
            <div class="pdi-entity-mapping mt10" *ngIf="SelectedCompany?.Id == 2">
                <div class="row">
                    <div class="col-2 ">
                        <div class="nav flex-column nav-pills" role="tablist">
                            <a class="nav-link fs14 active" id="customer-tab" data-toggle="pill" href="#customer-container" role="tab" aria-controls="home" aria-selected="true" (click)="pdiTabName = 'CUSTOMERS'">Customer</a>
                            <a class="nav-link fs14" id="cust-location-tab" data-toggle="pill" href="#cust-location-container" role="tab" aria-controls="cust-location" aria-selected="false" (click)="pdiTabName = 'CUSTOMERLOCATIONS'">Customer Location</a>
                            <a class="nav-link fs14" id="vendor-tab" data-toggle="pill" href="#vendor-container" role="tab" aria-controls="vendor" aria-selected="false" (click)="pdiTabName = 'VENDORS'">Vendors</a>
                            <a class="nav-link fs14" id="products-tab" data-toggle="pill" href="#products-container" role="tab" aria-controls="products" aria-selected="false" (click)="pdiTabName = 'PRODUCTS'">Products</a>
                            <a class="nav-link fs14" id="terminals-tab" data-toggle="pill" href="#terminals-container" role="tab" aria-controls="terminals" aria-selected="false" (click)="pdiTabName = 'TERMINALS'">Terminals</a>
                            <a class="nav-link fs14" id="sites-tab" data-toggle="pill" href="#sites-container" role="tab" aria-controls="sites" aria-selected="false" (click)="pdiTabName = 'SITES'">Sites</a>
                            <a class="nav-link fs14" id="carriers-tab" data-toggle="pill" href="#carriers-container" role="tab" aria-controls="carriers" aria-selected="false" (click)="pdiTabName = 'CARRIERS'">Carriers</a>
                            <a class="nav-link fs14" id="driver-tab" data-toggle="pill" href="#driver-container" role="tab" aria-controls="driver" aria-selected="false" (click)="pdiTabName = 'DRIVERS'">Driver</a>
                            <a class="nav-link fs14" id="vehical-tab" data-toggle="pill" href="#vehical-container" role="tab" aria-controls="vehical" aria-selected="false" (click)="pdiTabName = 'VEHICLE'">Vehicle</a>
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="tab-content">
                            <div id="customer-container" *ngIf="pdiTabName == 'CUSTOMERS'" class="tab-pane fade show active">
                                <app-external-customer-mappings [thirdPartyCompanyId]="SelectedCompany.Id"></app-external-customer-mappings>
                            </div>
                            <div id="cust-location-container" *ngIf="pdiTabName == 'CUSTOMERLOCATIONS'" class="tab-pane fade">
                                <app-external-customerlocation-mappings [thirdPartyCompanyId]="SelectedCompany.Id"></app-external-customerlocation-mappings>
                            </div>
                            <div id="sites-container" *ngIf="pdiTabName == 'SITES'" class="tab-pane fade">
                                <app-external-bulk-plant-mappings [thirdPartyCompanyId]="SelectedCompany.Id"></app-external-bulk-plant-mappings>
                            </div>
                            <div id="carriers-container" *ngIf="pdiTabName == 'CARRIERS'" class="tab-pane fade">
                                <app-external-carrier-mappings [thirdPartyCompanyId]="SelectedCompany.Id"></app-external-carrier-mappings>
                            </div>
                            <div id="terminals-container" *ngIf="pdiTabName == 'TERMINALS'" class="tab-pane fade">
                                <app-external-terminal-mappings [thirdPartyCompanyId]="SelectedCompany.Id"></app-external-terminal-mappings>
                            </div>
                            <div id="products-container" *ngIf="pdiTabName == 'PRODUCTS'" class="tab-pane fade">
                                <app-external-product-mappings [thirdPartyCompanyId]="SelectedCompany.Id"></app-external-product-mappings>
                            </div>
                            <div id="driver-container" *ngIf="pdiTabName == 'DRIVERS'" class="tab-pane fade">
                                <app-external-driver-mappings [thirdPartyCompanyId]="SelectedCompany.Id"></app-external-driver-mappings>
                            </div>
                            <div id="vehical-container" *ngIf="pdiTabName == 'VEHICLE'" class="tab-pane fade">
                                <app-external-vehicle-mappings [thirdPartyCompanyId]="SelectedCompany.Id"></app-external-vehicle-mappings>
                            </div>
                            <div id="vendor-container" *ngIf="pdiTabName == 'VENDORS'" class="tab-pane fade">
                                <app-external-supplier-mappings [thirdPartyCompanyId]="SelectedCompany.Id"></app-external-supplier-mappings>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- PDI Mapping End -->
        </div>
    </div>
</div>
