<div class="row mt5 mb10">
    <div class="col-sm-6">
        <h4 class="pt0 pull-left">Terminal Supplier Description</h4>
        <!--(click)=""-->
        <a id="assignNewCarrier" (click)="addTerminal()" data-toggle="modal" data-target="#terminalCodeModal"
            class="fs18 pull-left ml20">
            <i class="fa fa-plus-circle fs18 mt4 pull-left"></i><span class="fs14 mt2 pull-left">Add New</span>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="well bg-white shadow-b pr">
            <!-- <div class='pa bg-white top0 left0 z-index5 loading-wrapper schedule-loading-wrapper hide-element'><span class='spinner-dashboard pa'></span></div> -->
            <div class="ibox mb0">
                <div class="ibox-content no-padding no-border location_table">
                    <div class="table-responsive">
                     
                        <table  class="table table-bordered" datatable
                            [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                            <thead>
                                <tr>
                                  
                                    <th data-key="Name">Terminal Item Description</th>
                                    <th data-key="Name">Product Type</th>
                                    <th data-key="Code">Product Type Code</th>
                                    <th data-key="Country">Country</th>
                                    <th data-key="Address">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let item of TerminalItemDescList">
                                    <tr>
                                        <td>{{item.Name}}</td>
                                        <td>{{item.ProductTypeName}}</td>
                                        <td>{{item.Code}}</td>
                                        <td>{{item.Country==1 ? 'USA':'CAN'}}</td>
                                        <td>
                                            <button type="button" class="btn btn-link" (click)="editTerminal(item)"><i
                                                    class="fas fa-pencil-square-o color-blue fs16" alt="Update"
                                                    title="Update"></i></button>
                                            <button type="button" class="btn btn-link" mwlConfirmationPopover
                                                [popoverTitle]="popoverTitle" [confirmText]="confirmButtonText"
                                                [cancelText]="cancelButtonText" placement="bottom"
                                                (confirm)="deleteTerminal(item)"><i
                                                    class="fas fa-trash-alt color-maroon" alt="Delete"
                                                    title="Delete"></i></button>
                                            <!--<a (click)="modalOpen()" data-toggle="modal" data-target="#terminalCodeModal">open Modal </a>-->
                                        </td>
                                    </tr>
                                </ng-container>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #terminalCodeDeatilsModal let-modalDetails="modalDetails">
    <div class="modal fade" [ngClass]="{'show': modalDetails.display==='block'}"
        [ngStyle]="{'display':modalDetails.display}" id="terminalCodeModal" tabindex="-1" role="dialog"
        aria-labelledby="terminalCodeModal" aria-hidden="true">
      
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form [formGroup]="terminalSupplierDescForm" name="terminalSupplierDescForm" autocomplete="off" (ngSubmit)="onSubmit()">
                        <div class="modal-header pt10 pb5 no-border">
                            <h3 class="modal-title" id="assetDetailsModal">
                                {{AddUpdateTitle}} Terminal Item Description
                            </h3>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group ">
                                        <label>Product Type Code <span class="color-maroon">*</span></label>
                                        <div class="input-group">
                                            <input type="text" formControlName="code" name="terminal_code" placeholder="Terminal Item Code"
                                                   class="form-control" required />
                                            <!--<div class="invalid-feedback" [ngClass]="{'show-element': !isValid}">   </div>-->
                                            <div *ngIf="terminalSupplierDescForm.get('code').invalid && terminalSupplierDescForm.get('code').touched"
                                                 class="color-maroon d-block">
                                                <div *ngIf="terminalSupplierDescForm.get('code').errors.required">
                                                    Required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group ">
                                        <label> Terminal Supplier Description<span class="color-maroon">*</span>  </label>
                                        <div class="input-group">
                                            <input type="text" formControlName="name" name="terminal_name" placeholder="Terminal Item Description"
                                                   class="form-control" required />
                                            <!--<div class="invalid-feedback" [ngClass]="{'show-element': !isValid}">   </div>-->
                                            <div *ngIf="terminalSupplierDescForm.get('name').invalid && terminalSupplierDescForm.get('name').touched"
                                                 class="color-maroon d-block">
                                                <div *ngIf="terminalSupplierDescForm.get('name').errors.required">
                                                    Required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group mb0">
                                        <label>Product Type <span class="color-maroon">*</span></label>
                                        <div class="input-group">
                                            <select class="form-control" formControlName="productTypeId" placeholder="Select Product Type">
                                                <option [value]='' disabled>Select Product Type</option>
                                                <option *ngFor="let type of ProductTypeList" [value]="type.Id" [selected]="type.Id==terminalSupplierDescForm.get('productTypeId').value">
                                                    {{type.Name}}
                                                </option>
                                            </select>
                                            <div *ngIf="terminalSupplierDescForm.get('productTypeId').invalid && terminalSupplierDescForm.get('productTypeId').touched"
                                                 class="color-maroon d-block">
                                                <div *ngIf="terminalSupplierDescForm.get('productTypeId').errors.required">
                                                    Required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" #idBtnClose class="btn " (click)="modalClose()" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">{{AddUpdateTitle}}</button>
                        </div>
                    </form>
                </div>
            </div>
        
    </div>
</ng-template>
<ng-container *ngTemplateOutlet="terminalCodeDeatilsModal;context:terminalCodeModal">
</ng-container>


<div class="loader" *ngIf="IsLoading">
    <div class="loading-content text-center">
        <div class="spinner"></div>
        <div class="font-bold">Loading...</div>
    </div>
</div>