<div>
    <div class="row">
        <div class="col-sm-2">
            <div class="form-group">
                <label>Select Grouping Purpose</label>
                <select class="form-control" (change)="OnGroupTypeSelect($event)">
                    <option value="0">All</option>
                    <option *ngFor="let grpType of GroupTypeList || []" [ngValue]="SelectedGroupType" [value]="grpType.Id">{{grpType.Name}}</option>
                </select>
                <!--<ng-multiselect-dropdown [data]="GroupTypeList" [settings]="GroupTypeDdlSettings" (onSelect)="OnGroupTypeSelect($event)"
                            (onDeSelect)="OnGroupTypeDeSelect($event)">
                </ng-multiselect-dropdown>-->
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label *ngIf="IsSupplierCompany">Select Customer</label>
                <label *ngIf="!IsSupplierCompany">Select Supplier</label>
                <ng-multiselect-dropdown [(ngModel)]="SelectedCompany" [settings]="CompanyDdlSettings" [data]="CompanyList" (onSelect)="OnCompanySelect($event)"
                                         (onDeSelect)="OnCompanyDeSelect($event)">
                </ng-multiselect-dropdown>
            </div>
        </div>
        <div class="col-sm-2" *ngIf="IsMultiProduct || IsTier">
            <div class="form-group">
                <label>Select Job/Site Name</label> 
                <ng-multiselect-dropdown [(ngModel)]="SelectedJob" [settings]="JobDdlSettings" [data]="JobList" (onSelect)="OnJobSelect($event)"
                                         (onDeSelect)="OnJobDeSelect($event)">
                </ng-multiselect-dropdown>
            </div>
        </div>
        <div class="col-sm-2" *ngIf="IsTier">
            <div class="form-group">
                <label>Select Fuel Group</label> 
                <ng-multiselect-dropdown [(ngModel)]="SelectedFuelGroup" [settings]="FuelGroupDdlSettings" [data]="FuelGroupList" (onSelect)="OnFuelGroupSelect($event)"
                                         (onDeSelect)="OnFuelGroupDeSelect($event)">
                </ng-multiselect-dropdown>
            </div>
        </div>
        <div class="col-sm-2" *ngIf="!IsSupplierCompany && IsTier">
            <div class="form-group">
                <label>Select State</label> 
                <ng-multiselect-dropdown [(ngModel)]="SelectedState" [settings]="StateDdlSettings" [data]="StateList" (onSelect)="OnStateSelect($event)"
                                         (onDeSelect)="OnStateDeSelect($event)">
                </ng-multiselect-dropdown>
            </div>
        </div>
        <div [formGroup]="filterGroupForm">
            <div class="col-sm-2">
                <input class="btn btn-primary btn-submit btn-lg no-disable" type="submit" value="Apply" (click)="onOrderGroupFilterSubmit()" />
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label>Search</label>
                    <input type="text" class="form-control" formControlName="SearchText" (keypress)="onSearch($event)">
                </div>
            </div>
        </div>
    </div>   
</div>
<div class="loader" *ngIf="IsLoading">
    <div class="loading-content text-center">
        <div class="spinner"></div>
        <div class="font-bold">Loading...</div>
    </div>
</div>