<div class="submit-section">
    <div class="d-flex align-items-center justify-content-center h-100">
        <div class="d-flex flex-column text-center">
            <i class="far fa-check-circle fa-7x text-success"></i>
            <h2 class="mt-2 f-bold">Thank you for your information</h2>
                <p>
                    You will be sent an email prompting you to register your account.<br>
                    This will allow you to log into your account.
                </p>
        </div>
    </div>
</div>