<div>
    <!--<div class="row">
        <div class="col-xs-12">
            <img src="src/assets/trailer.png" class="pull-left mr10" width="40" />
            <h4 class="pt0 pull-left">Driver  Schedule</h4>
        </div>
    </div>-->
    <div class="row justify-content-between">
        <!--<div class="col-sm-2">
            <div class="form-group mb10">
                <ng-multiselect-dropdown [placeholder]="'Select Region(s)'"
                                         [settings]="multiselectShiftById" [data]="regionList"
                                         (onSelect)="onRegionSelect($event)">
                </ng-multiselect-dropdown>
            </div>
        </div>-->

        <div class="col-sm-2">
            <div class="form-group mb10">
                <ng-multiselect-dropdown [placeholder]="'Select Driver(s)'" 
                    [settings]="multiselectSettingsById" [data]="DriverList" (onSelect)="onDriverSelect($event)"
                    (onDeSelect)="onDriverDeSelect($event)" [(ngModel)]="SelectedDriverList">
                </ng-multiselect-dropdown>
            </div>
        </div>

        <!--<div class="col-sm-2">
            <div class="form-group mb10">
                <ng-multiselect-dropdown [placeholder]="'Select Trailer(s)'"
                                         [settings]="multiselectSettingsById" [data]="TrailerList">
                </ng-multiselect-dropdown>
            </div>
        </div>-->

        <!--<div class="col-sm-2">
            <div class="form-group mb10">
                <ng-multiselect-dropdown [placeholder]="'Select Route(s)'"
                                         [settings]="multiselectSettingsById" [data]="RouteList"
                                         (onSelect)="onRouteSelect($event)">
                </ng-multiselect-dropdown>
            </div>
        </div>-->

        <div class="col-sm-6" style="display:none">
            <div class="form-group">
                <div class="radio-inline">
                    <label><input type="radio" name="scheduleType" ng-control="scheduleType" [(ngModel)]="scheduleType"
                            (change)="onDriverSelect()" [value]="0">All</label>
                </div>
                <div class="radio-inline">
                    <label><input type="radio" name="scheduleType" ng-control="scheduleType" [(ngModel)]="scheduleType"
                            (change)="onDriverSelect()" [value]="1">Planned Schedule</label>
                </div>
                <div class="radio-inline">
                    <label><input type="radio" name="scheduleType" ng-control="scheduleType" [(ngModel)]="scheduleType"
                            (change)="onDriverSelect()" value="2">UnPlanned Schedule </label>
                </div>



            </div>

        </div>
        <!--<div class="col-sm-3 float-right">
            <app-create-trailer-schedule></app-create-trailer-schedule>
        </div>-->
        <div class="col-sm-3 float-right">
            <create-driver-schedule (OnScheduleAdded)="OnScheduleAdded($event)"></create-driver-schedule>
        </div>
        <!--<div class="col-sm-3 float-right">
            <app-create-region (OnScheduleAdded)="OnScheduleAdded($event)"></app-create-region>
        </div>-->
    </div>

    <div class="row" *ngIf="isShowCalender">
        <div class="col-md-12">
            <div class="well bg-white shadowb-b">
                <div class="ibox mb0">
                    <div class="ibox-content no-padding no-border">

                        <!--start-->
                        <div class="row">
                            <div class="col-md-3 text-center">

                            </div>
                            <div class="col-md-5 text-center">
                                <div>
                                    <div class="btn btn-default btn-xs" mwlCalendarPreviousView [view]="view"
                                        [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()"
                                        (click)="setNextMonthEvents(viewDate,'Previous')">
                                        <i class="fas fa-arrow-left"></i>
                                    </div>

                                    <div class="btn	btn-default btn-xs" id="idToday" mwlCalendarToday
                                        [(viewDate)]="viewDate" (click)="setNextMonthEvents(viewDate,'Today')">
                                        {{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}
                                    </div>
                                    <div class="btn	btn-default btn-xs" mwlCalendarNextView [view]="view"
                                        [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()"
                                        (click)="setNextMonthEvents(viewDate,'Next')">
                                        <i class="fas fa-arrow-right"></i>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="col-md-4 text-center">
        <h3 class="mt5">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>-->
                            <div class="col-md-4 text-right">
                                <div>
                                    <a  class="btn"  [ngClass]="view === CalendarView.Month ? 'btn-primary': 'btn-default'"
                                         (click)="setView(CalendarView.Month)"
                                         [class.active]="view === CalendarView.Month" id="idMonth">
                                         <label for="idMonth" >Month</label>
                                    </a>
                                    <a  class="btn" [ngClass]="view === CalendarView.Week ? 'btn-primary': 'btn-default'"
                                         (click)="setView(CalendarView.Week)"
                                         [class.active]="view === CalendarView.Week" id="idWeek">
                                         <label for="idWeek" >Week </label>
                                        
                                </a>
                                    <a  class="btn" [ngClass]="view === CalendarView.Day ? 'btn-primary': 'btn-default'"
                                         (click)="setView(CalendarView.Day)"
                                         [class.active]="view === CalendarView.Day" id="idDay">
                                         <label for="idDay">Day</label>
                                        
                                    </a>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div [ngSwitch]="view">                          
                            <button type="button" id="idViewDay" hidden data-toggle="modal"
                                data-target="#idViewDayDetail">Open Modal</button>                           
                            <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate"
                                [events]="evt" [cellTemplate]="customCellTemplate" [refresh]="refresh"
                                [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)">
                            </mwl-calendar-month-view>
                            <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate"
                                [events]="evt" [refresh]="refresh">
                            </mwl-calendar-week-view>
                            <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="evt"
                                [refresh]="refresh">
                            </mwl-calendar-day-view>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--custom template for the month view-->
<ng-template #customCellTemplate let-day="day" let-locale="locale">
    <div class="cal-cell-top">
        <!--<span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>-->
        <div>
            <table class="table table-hover">

                <tr *ngFor="let item of day.events let i = index;">
                    <td [ngStyle]="{'background-color': item.color.primary}" style="color:black"
                        class="label  calender-grid" *ngIf="i<2"> <span><strong>{{item.driverShortName }} </strong>
                            <strong>{{item.shiftFrom}}</strong> - <strong>{{item.shiftTo}}</strong></span></td>
                    <!--<td [ngStyle]="{'background-color': item.color.primary}" class="cal-day-badge" *ngIf="i<2"><span><strong>{{item.shiftFrom}}</strong> - <strong>{{item.shiftTo}}</strong></span> </td>-->
                </tr>
                <tr *ngIf="day.events.length>2">
                    <td><strong>...</strong></td>
                </tr>
            </table>
        </div>

        <span class="cal-day-number"><strong>{{ day.date | calendarDate:'monthViewDayNumber':locale }}</strong> </span>

    </div>

    <div class="cell-totals">
        <span *ngFor="let group of day.eventGroups" class="badge badge-{{ group[0] }}">
            {{ group[1].length }}
        </span>
    </div>
</ng-template>

<!--view shifts-->

<div id="idViewDayDetail" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                <h4 class="modal-title">{{SelectedDate}} <span
                        class="pull-right">{{driverScheduleMapping.DriverName}}</span></h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered" *ngIf="!isShowEditPannel && !IsConfirmDelete">
                    <thead>
                        <tr>

                            <td>Driver</td>
                            <td>Shift</td>
                            <td> From Date </td>
                            <td>To Date</td>
                            <td>Total Days</td>
                            <!--<td>Schedule Type</td>-->
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let event of Selectedevent">

                            <td [ngStyle]="{'background-color': event.color.primary}">{{event.driverName}}</td>
                            <td [ngStyle]="{'background-color': event.color.primary}"> {{event.shiftFrom}} -
                                {{event.shiftTo}} {{event.description}}</td>
                            <td [ngStyle]="{'background-color': event.color.primary}">{{event.fromDate}}</td>
                            <td [ngStyle]="{'background-color': event.color.primary}">{{event.toDate}}</td>
                            <td [ngStyle]="{'background-color': event.color.primary}">{{event.repeatDayList?.length}}
                            </td>
                            <!--<td [ngStyle]="{'background-color': event.color.primary}"><span class="label-font label" [ngClass]="event.isUnplanedSchedule ? 'label-warning': 'label-primary'"> {{event.isUnplanedSchedule ? 'UnPlaned Schedule':'Planed Schedule'}}</span></td>-->
                            <td *ngIf="!event.isUnplanedSchedule">
                                <i class="fas fa-edit  icon-zoom btn-primary label-font"
                                    (click)="editSchedule(event)"></i> &nbsp;&nbsp;&nbsp;
                                <i class="fas fa-trash-alt color-maroon icon-zoom label-font"
                                    (click)="rmvSchedule(event)"></i> &nbsp;&nbsp;
                            </td>
                        </tr>
                    </tbody>


                </table>
                <!--edit--> 

                <!-- delete -->

                <div class="form-group col-md-12" *ngIf="IsConfirmDelete">                   
                        <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                        <h4 class="modal-title"><span>Do you wish to :</span></h4>
                    
                    <div class="row col-md-12">
                        <div class="form-control">
                            <input  class="form-check-input" type="radio" name="deleteOptions"
                                [value]="1" id="deleteOptionsSingle" [(ngModel)]="deleteOption">                               
                            <label class="form-check-label" for="deleteOptionsSingle">Delete only this day's
                                schedule</label>
                        </div>
                    </div>
                    <div class="row col-md-12" *ngIf="!hideDeleteRange">
                        <div class="form-control">
                            <input class="form-check-input"  type="radio" name="deleteOptions"
                                [value]="2" id="deleteOptionsRange" [(ngModel)]="deleteOption">
                            <label class="form-check-label" for="deleteOptionsRange">Delete the entire range of this
                                schedule</label>
                        </div>
                    </div>
                    <div class="row col-md-12" >
                        <div class="form-control">
                            <input class="form-check-input"  type="radio" name="deleteOptions"
                                [value]="3" id="deleteOptionsEntire" [(ngModel)]="deleteOption">
                            <label class="form-check-label" for="deleteOptionsEntire">Delete the whole schedule for this
                                driver</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="closeDelete" (click)="closeDeleteModel()" data-dismiss="modal" >Close</button>
                        <button type="button" class="btn btn-default" id="deleteSchedule" (click)="RemoveSchedule(eventDelete)">Submit</button>                
                    </div>
                </div>

                <!-- End Delete -->
                         
            <div class="modal-footer" *ngIf="!IsConfirmDelete">
                <!-- <button type="button" class="btn btn-default" *ngIf="isShowEditPannel && !isApplyAll" (click)="updateCurrentSchedule()">Submit</button>
                <button type="button" class="btn btn-default" *ngIf="isShowEditPannel && isApplyAll" (click)="UpdateSchedule()">Submit</button> -->
                <button type="button" class="btn btn-default" (click)="closeViewDayDetailModel()" id="idCloseModel"
                    data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!--end view Shift-->
<div class="loader" *ngIf="(regionService.onLoadingChanged | async)">
    <div class="loading-content text-center">
        <div class="spinner"></div>
        <div class="font-bold">Loading...</div>
    </div>
</div>

<div *ngIf="IsSheduleEdit">
    <ng-sidebar-container style="z-index: 99999;">
        <ng-sidebar [(opened)]="_openedEditPanel" [animate]="_animate" [position]="_POSITIONS[_positionNum]"
            style="height: 100vh">
            <a (click)="_editToggleOpened(false)"><i class="fa fa-close fs18"></i></a>
            <h3 class="dib ml10 mt10 mb10">Modify Driver Schedule</h3>

            <content class="pr30" autocomplete="off" (keydown.enter)="$event.preventDefault()">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group readonly">
                            <label for="Region">Region:</label>
                            <ng-multiselect-dropdown [placeholder]="'Select Region(s)'" 
                                [settings]="singleselectSettingsById" [data]="DriverRegionList" [(ngModel)]="Selectedregion"
                                [disabled]="true">
                            </ng-multiselect-dropdown>                         
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group readonly">
                            <label for="Drivers">Driver:</label>
                            <ng-multiselect-dropdown [placeholder]="'Select Driver(s)'" 
                                [settings]="singleselectSettingsById" [data]="SelectedDriverList" [(ngModel)]="SelectedDriver"
                                [disabled]="true" >
                            </ng-multiselect-dropdown>                          
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="Shift">Shift:</label>
                            <ng-multiselect-dropdown [placeholder]="'Select Shift(s)'" 
                                [settings]="multiselectShiftById" [data]="ShiftList" [(ngModel)]="driverSchedule.selectedShifts"
                                (onSelect)="validateShiftForDriver($event)">
                            </ng-multiselect-dropdown>
                        </div>
                    </div>
                </div>               
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group" *ngIf="!startDateEnable">
                            <label for="fromDate">From Date:</label>
                            <input type="text" [readonly]="true" [(ngModel)]="eFromDate" class="form-control datepicker"
                                placeholder="Date" myDatePicker [format]="'MM/DD/YYYY'"
                                (onDateChange)="setFromDate($event);" [minDate]="MinStartDate"
                                [maxDate]="MaxStartDate" />                          
                        <!-- </div> -->
                        </div>
                        <div class="form-group" *ngIf="startDateEnable">
                            <label for="fromDate">From Date:</label>
                            <input type="text" [(ngModel)]="eFromDate" class="form-control datepicker"
                                placeholder="Date" myDatePicker [format]="'MM/DD/YYYY'"
                                (onDateChange)="setFromDate($event);" [minDate]="MinStartDate"
                                [maxDate]="MaxStartDate" />
                            <!-- <div *ngIf="isInvalid('fromDate')" class="color-maroon"> -->
                            <div *ngIf="isRequired('eFromDate')">
                                Required.
                            </div>
                        <!-- </div> -->
                        </div>
                    </div>
                    <div class="col-sm-6">                      
                        <div class="form-group">
                            <label for="ToDate">To Date:</label>
                            <input required type="text" [(ngModel)]="eToDate" class="form-control datepicker" placeholder="Date"
                                myDatePicker [format]="'MM/DD/YYYY'" (onDateChange)="setToDate($event);"
                                [minDate]="MinStartDate" [maxDate]="MaxStartDate" />                           
                        </div>
                    </div>
                </div>

                <div class="row" *ngIf="IsUpdateForMultiple">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" type="radio" name="selectedTypes"
                                    [value]="1" id="inlineRadioDaily" [(ngModel)]="selectedType">
                                <label class="form-check-label" for="inlineRadioDaily">Daily</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="selectedTypes" [value]="2"
                                    id="inlineRadioWdays" [(ngModel)]="selectedType">
                                <label class="form-check-label" for="inlineRadioWdays">WeekDays (Mon to Fri)</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="selectedTypes" [value]="3"
                                    id="inlineRadioEvery" [(ngModel)]="selectedType">
                                <label class="form-check-label" for="inlineRadioEvery">Repeat Every</label>
                            </div>
                            <div class="form-check form-check-inline" *ngIf="eToDate && eFromDate">
                                <input class="form-check-input" type="radio" name="selectedTypes"
                                    (change)="InitializeDates()" [value]="4" id="inlineRadioCustom"
                                    [(ngModel)]="selectedType">
                                <label class="form-check-label" for="inlineRadioCustom">Custom</label>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group" *ngIf="IsUpdateForMultiple && selectedType=='4'">
                            <label for="Dates"> Dates:</label>
                            <ng-multiselect-dropdown [placeholder]="'Date (s)'" 
                                [settings]="multiselectDateSettingsById" [data]="DateList" [(ngModel)]="customDates">
                            </ng-multiselect-dropdown>
                        </div>

                        <div class="form-group" *ngIf="IsUpdateForMultiple && selectedType=='3'">
                            <label for="Days">Days:</label>
                            <input type="number" placeholder="days" min="1" class="form-control" [(ngModel)]="repeat" />

                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-12" *ngIf="ConflictDateList.length > 0">
                        <div class="alert alert-warning fs12 mt10 mb0 radius-10">
                            <i class="fas fa-exclamation-circle mr5"></i> <strong>Warning:</strong> Driver Schedule(s) exists <a
                                (click)="showDriverConflictSchedules()">Show Details</a>
                            <table class="table table-striped table-bordered table-hover" *ngIf="IsShowConflictTable">
                                <thead>
                                    <tr>
                                        <th>Shift</th>
                                        <th> Conflict Dates</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let event of ConflictDateList">
                                        <td>{{driverSchedule.selectedShifts[0].Name}}</td>
                                        <td>{{event}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                
                </div>
                <div class="col-sm-12 row-fluid text-right form-buttons">
                    <div class="text-right" >
                        <input type="button" value="Cancel" class="btn btn-default" (click)="_editToggleOpened(false)">
                        <button type="button" id="Submit" class="btn btn-primary"
                        (click)="UpdateSchedule()">Submit</button>
                    </div>                    
                </div>
            </content>
        </ng-sidebar>
    </ng-sidebar-container>
</div>