.calender-grid{
    font-size:10px;
}
.blueColor {
    color: blue;
    font-size: 20px;
}
.cal-month-view .cal-day-badge {
    background-color: #9db948;
    color: #fff;
    margin-bottom: 5px;
}

.icon-zoom {
    padding: 5px;
    transition: transform .2s; /* Animation */
    margin: 0 auto;
}

    .icon-zoom:hover {
        transform: scale(1.2);
    }

    .label-font{
        font-size:15px;
    }