::ng-deep .master-filter.popover {
    min-width: 425px;
    max-width: 450px;
    background: #F9F9F9;
    border: 1px solid #E9E7E7;
    box-sizing: border-box;
    box-shadow: 10px 10px 8px -2px rgb(0, 0, 0, 0.13);
    border-radius: 10px;
}

    ::ng-deep .master-filter.popover .popover-body {
        padding: 0;
        border-radius: 5px;
        background: #ffffff;
    }

    ::ng-deep .master-filter.popover .popover-details {
        padding: 15px;
    }

    ::ng-deep .master-filter.popover .border-bottom-2 {
        border-bottom: 2px solid #e7eaec !important;
    }

.filter-link {
    top: -45px;
    left: 380px
}
