<button id="CreateRoute" type="button" class="btn btn-default float-right" (click)="_toggleOpened(false)"> Add Route
    <span> <i class="fa fa-plus" aria-hidden="true"></i></span></button>
<!--side bar menu-->


<ng-sidebar-container style="z-index: 99999;">
    <ng-sidebar [opened]="_opened" [animate]="_animate" [position]="_POSITIONS[_positionNum]" style="height: 100vh;">
        <a (click)="_toggleOpened(false)"><i class="fa fa-close fs18"></i></a>
        <h3 class="dib ml10 mt10 mb10">Create Route</h3>

        <!-- <pre>
            {{CreateRegionForm.value | json}}
        </pre> -->

        <content class="pr30" [formGroup]="CreateRegionForm" autocomplete="off"
            (keydown.enter)="$event.preventDefault()">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="Region">Region</label>
                        <ng-multiselect-dropdown [placeholder]="'Select Region(s)'" 
                            formControlName="RegionId" [settings]="multiselectRegionSettingsById" [data]="regionList"
                            (onSelect)="onRegionSelect($event)" (onDeSelect)="onRegionDeSelect($event)">
                        </ng-multiselect-dropdown>
                        <div *ngIf="isInvalid('RegionId')" class="color-maroon">
                            <div *ngIf="isRequired('RegionId')">
                                Required.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="Route">Route</label>
                        <ng-multiselect-dropdown [placeholder]="'Select Route(s)'" formControlName="RouteId"
                            [settings]="multiselectRegionSettingsById" [data]="RouteList" 
                            (onSelect)="onRouteSelect($event)">
                        </ng-multiselect-dropdown>
                        <div *ngIf="isInvalid('RouteId')" class="color-maroon">
                            <div *ngIf="isRequired('RouteId')">
                                Required.
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
<div class="row">
    <div class="col-sm-6" style="padding-left: 90%;" >
        <a href="javascript:void(0)" (click)="addShift()"><i class="fa fa-plus  "> Add Shift</i></a>  
        <!-- <link id="addShift" (click)="addShift()"  [disabled]= "IsDuplicateShift">
        <button (click)="addShift()"  [disabled]= "IsDuplicateShift" ><span> <i class="fa fa-plus"
                    aria-placeholder="Add"></i></span></button> -->
    </div>
</div>
            <div formArrayName="RegionShiftDetail" *ngFor="let shift of CreateRegionForm.get('RegionShiftDetail')['controls']; let i = index;">              
                <div [formGroupName]="i">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="RegionShiftDetail">Shift <span class="Required">*</span> </label>
                                <ng-multiselect-dropdown [placeholder]="'Select Shift(s)'" formControlName="ShiftId"
                                    [settings]="multiselectRegionSettingsById" [data]="ShiftList" 
                                    (onSelect)="onShiftSelect($event)" (onDeSelect)="onShiftDeSelect($event)">
                                </ng-multiselect-dropdown>
                                <div *ngIf="isInvalid('ShiftId')" class="color-maroon">
                                    <div *ngIf="isRequired('ShiftId')">
                                        Required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="columns">Column<span class="Required">*</span></label>
                                <ng-multiselect-dropdown [placeholder]="'Columns'" formControlName="ColumnIndex"
                                    [settings]="multiselectRegionSettingsById" [data]="ColumnsList">
                                </ng-multiselect-dropdown>
                                <div *ngIf="isInvalid('ColumnIndex')" class="color-maroon">
                                    <div *ngIf="isRequired('ColumnIndex')">
                                        Required.
                                    </div>
                                </div>
                            </div>
                        </div>                       
                        <div class="col-sm-1">
                            <label for="columns"></label>
                            <!-- <button (click)="removeShift(i)"><span> <i class="fa fa-remove"
                                        aria-placeholder="Remove"></i></span></button> -->

                                        <a href="javascript:void(0)" (click)="removeShift(i)" style="padding-top: 50%;"><i class="fa fa-remove">Remove</i></a>  
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="fromDate">From Date<span class="Required">*</span></label>
                        <input type="text" formControlName="fromDate" #fromDate class="form-control datepicker"
                            placeholder="Date" myDatePicker [format]="'MM/DD/YYYY'"
                            (onDateChange)="setFromDate($event);" [minDate]="MinStartDate" [maxDate]="MaxStartDate" />
                        <div *ngIf="isInvalid('fromDate')" class="color-maroon">
                            <div *ngIf="isRequired('fromDate')">
                                Required.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="fromDate">To Date<span class="Required">*</span></label>
                        <input type="text" formControlName="toDate" #EndDate class="form-control datepicker"
                            placeholder="Date" myDatePicker [format]="'MM/DD/YYYY'" (onDateChange)="setToDate($event);"
                            [minDate]="MinStartDate" [maxDate]="MaxStartDate" />
                        <div *ngIf="isInvalid('toDate')" class="color-maroon">
                            <div *ngIf="isRequired('toDate')">
                                Required.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="type" formControlName="type" value="1"
                                id="inlineRadioDaily">
                            <label class="form-check-label" for="inlineRadioDaily">Daily</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="type" formControlName="type" value="2"
                                id="inlineRadioWdays">
                            <label class="form-check-label" for="inlineRadioWdays">WeekDays (Mon to Fri)</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="type" formControlName="type" value="3"
                                id="inlineRadioEvery">
                            <label class="form-check-label" for="inlineRadioEvery">Repeat Every</label>
                        </div>
                        <!-- <div class="form-check form-check-inline"  *ngIf="CreateRegionForm.get('fromDate').value && CreateRegionForm.get('toDate').value">
                    <input class="form-check-input" type="radio" name="type" formControlName="type" (change)="InitializeDates()" value="4" id="inlineRadioCustom">
                    <label class="form-check-label" for="inlineRadioCustom">Custom</label>
                </div> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group"  *ngIf="CreateRegionForm.get('type').value=='3'">
                        <label for="Days">Days:</label>
                        <input type="number" placeholder="days"  min="1" class="form-control" formControlName="repeat" />

                    </div>
                </div>
            </div>
            <div class="col-sm-12 text-right form-buttons">
                <input type="button" value="Cancel" class="btn" (click)="closedSideBar()">
                <button id="Submit" [disabled]= "IsDuplicateShift" type="submit" (click)="onSubmit()" class="btn btn-lg btn-primary valid"
                    aria-invalid="false">Submit</button>
            </div>

        </content>
    </ng-sidebar>
</ng-sidebar-container>