.load-queue-container {
    .header-panel {
        .heading {
            title {
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: 0.25px;
                color: #000000;
            }
        }

        .status-panel {
            padding: 10px 0;
            border-bottom: 1px solid #DDDCDC;

            .dot {
                font-weight: 600;
                font-size: 12px;
                line-height: 15px;
                letter-spacing: 0.25px;

                &.completed {
                    background: #90DD8F;
                }

                &.partial {
                    background: #FFC37C;
                }

                &.empty {
                    background: #ffffff;
                    border: 1px solid #d4d4d4;
                }

                &.published {
                    background: #85BBFB;
                }

                &.exception {
                    background: #D4D4D4;
                }
            }

            .text {
                font-weight: 600;
                font-size: 12px;
                line-height: 15px;
                letter-spacing: 0.25px;
                color: #A8A8A8;
                margin-right: 10px;
            }
        }
    }

    .scroll-body {
        max-height: calc(100vh - 225px);
        overflow-y: overlay;
        margin-right: -10px;
        padding-right: 10px;

        ngb-accordion {
            .card {
                border: 0;

                .card-header {
                    background: #ffffffff;
                    padding: 3px 0;
                    border-bottom: 0;

                    .shift-name {
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 17px;
                        letter-spacing: 0.25px;
                        color: #000000;
                    }

                    .shift-time {
                        font-weight: 600;
                        font-size: 13px;
                        line-height: 16px;
                        letter-spacing: 0.25px;
                        color: #7A7A7A;
                    }

                    button {
                        padding: 0;
                    }

                    button[aria-expanded="true"] {
                        .fa-chevron-down {
                            display: none;
                        }
                    }

                    button[aria-expanded="false"] {
                        .fa-chevron-up {
                            display: none;
                        }
                    }
                }

                .card-body {
                    padding: 5px 0px 5px 0;
                }
            }
        }

        .load-panel-row {
            display: flex;
            flex-flow: row wrap;

            .load-panel {
                border-radius: 10px;
                display: flex;
                align-items: center;
                padding: 5px;
                margin-bottom: 5px;
                width: 49%;

                .column-inital-div {
                    margin-right: 7px;

                    .column-inital {
                        border-radius: 50%;
                        width: 30px;
                        height: 30px;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 20px;
                        display: flex;
                        align-items: center;
                        justify-items: center;
                        place-items: center;
                        place-content: center;
                        letter-spacing: 0.25px;
                        color: #FFFFFF;
                        // background: #4EA64B
                    }
                }

                .driver-name {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 17px;
                    letter-spacing: 0.25px;
                    color: #334833;
                    width: 95%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                // .col-check{
                // }
                &.completed {
                    background: #90DD8F;

                    .column-inital {
                        background: #72B071;
                    }
                }

                &.partial {
                    background: #FFC37C;

                    .column-inital {
                        background: #FFAA46;
                    }
                }

                &.empty {
                    background: #ffffff;
                    border: 1px solid #d4d4d4;

                    .column-inital {
                        background: #d4d3d3;
                        color: #334833;
                    }
                }

                &.published {
                    background: #85BBFB;

                    .column-inital {
                        background: #4198FF;
                    }
                }

                &:nth-child(odd) {
                    margin-right: 5px;
                }
                // &::after{
                //     content: '';
                //     position: absolute;
                //     top: 48%;
                //     right: 5px;
                //     width: 12px;
                //     height: 12px;
                //     background: red;
                //     transform: rotate(45deg) translateY(-50%);
                //     border-radius: 2px;
                // }
            }
        }
    }

    .footer {
        padding: 10px;
    }
}

.load-queue-popover {
    &.popover {
        min-width: 300px;
        max-width: 350px;
        background: #F9F9F9;
        border: 1px solid #E9E7E7;
        box-sizing: border-box;
        box-shadow: 10px 10px 8px -2px rgb(0, 0, 0, 0.13);
        border-radius: 10px;

        .popover-body {
            max-height: 350px;
            min-height: 250px;
            overflow-y: auto;
            overflow-x: hidden;
            padding: 0;
            border-radius: 5px;
            padding-bottom: 7px;
        }

        .pop-header {
            padding: 3px 15px;
            margin-top: 5px;
        }

        .popover-details {
            padding: 10px 25px;
            max-height: 310px;
            overflow-y: auto;

            .nav-tabs {
                border-bottom: 0px;

                .nav-link {
                    border: 2px solid transparent;
                    margin-right: 5px;

                    &.active {
                        border-bottom: 2px solid #1D66F3;
                        background: transparent;
                        color: #000000;
                    }
                }
            }

            .nav {
                li {
                    a {
                        padding: 0 5px 5px 5px;
                        color: #A8A8A8;

                        &:hover {
                            color: #000000;
                            border-bottom: 2px solid #1D66F3;
                            background: transparent;
                        }
                    }
                }
            }

            .tab-content {
                padding: 10px 0;
                max-height: 250px;
                overflow-y: overlay;
                overflow-x: hidden;
                margin-right: -20px;

                .title {
                    font-weight: 600 !important;
                    font-size: 12px !important;
                    line-height: 15px;
                    letter-spacing: 0.25px;
                    color: #000000;
                    margin-bottom: 0;
                }

                .sub-text {
                    font-size: 12px;
                    line-height: 15px;
                    letter-spacing: 0.25px;
                    color: #000000;
                    margin-bottom: 5px;
                }
            }
        }
    }
}

.error-text{
    color: #f12929!important;
}
