.wizard{
    height: 100%;
}

.fixed-area {
    height: 100%;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.section{
    min-height: 100vh;
    padding-top: 65px;
}
body, html {
    font-family: 'Noto Sans', sans-serif !important;
}

h1 {
    font-size: 23px;
    color: #404040;
}
h4 {
    font-size: 14px !important;
    color: #A4A4A4 !important;
    font-weight: normal !important;
}
::ng-deep aside {
    top: 0 !important;
}
.number {
    width: 20px;
    height: 20px;
}
.active-widget {
    background-color: #007bff;
    color:white;
}

.filter-link {
    top: -45px;
    left: 380px
}

.custom-bg {
    height: 100%;
    background-color: #f2f2f2;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}