<form [formGroup]="FreightForm" (ngSubmit)="onSubmit()">
    <div class="col-sm-12" id="add-trailerDetails">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Trailer ID<span class="color-maroon">*</span></label>
                            <input type="text" class="form-control" placeholder="Trailer ID" formControlName="TruckId" tabindex="1" />
                            <div *ngIf="FreightForm.get('TruckId').invalid && FreightForm.get('TruckId').touched" class="color-maroon">
                                <div *ngIf="FreightForm.get('TruckId').errors.required">
                                    Required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" placeholder="Name" formControlName="Name" tabindex="2" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Owner</label>
                            <input type="text" class="form-control" placeholder="Owner" formControlName="Owner" tabindex="3" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Licence Requirement<span class="color-maroon">*</span></label>
                            <select class="form-control" formControlName="LicenceRequirement" tabindex="4">
                                <option [value]="null">Select</option>
                                <option *ngFor="let key of LicenceRequirements" [value]="key.Id">{{key.Name}}</option>
                            </select>
                            <div *ngIf="FreightForm.get('LicenceRequirement').invalid && FreightForm.get('LicenceRequirement').touched" class="color-maroon">
                                <div *ngIf="FreightForm.get('LicenceRequirement').errors.required">
                                    Required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Licence Plate<span class="color-maroon">*</span></label>
                            <input type="text" class="form-control" placeholder="Licence Plate" formControlName="LicencePlate" tabindex="5" />
                            <div *ngIf="FreightForm.get('LicencePlate').invalid && FreightForm.get('LicencePlate').touched" class="color-maroon">
                                <div *ngIf="FreightForm.get('LicencePlate').errors.required">
                                    Required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Expiration Date<span class="color-maroon">*</span></label>
                            <input type="text" class="form-control datepicker" formControlName="ExpirationDate" myDatePicker [format]="'MM/DD/YYYY'" [minDate]="MinDate" [maxDate]="MaxDate" (onDateChange)="setSelectedDate($event);" tabindex="6" />
                            <div *ngIf="FreightForm.get('ExpirationDate').invalid && FreightForm.get('ExpirationDate').touched" class="color-maroon">
                                <div *ngIf="FreightForm.get('ExpirationDate').errors.required">
                                    Required.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Total Capacity</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Capacity" formControlName="FuelCapacity" tabindex="7" />
                                <span class="input-group-addon">{{DefaultUoM | slice:0:1}}</span>
                            </div>
                            <div *ngIf="FreightForm.get('FuelCapacity').invalid && FreightForm.get('FuelCapacity').touched" class="color-maroon">
                                <span *ngIf="FreightForm.get('FuelCapacity').errors.pattern">
                                    Invalid.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Trailer Type</label>
                            <select class="form-control" formControlName="TrailerType" tabindex="8">
                                <option *ngFor="let key of TrailerTypes" [ngValue]="key.Id">{{key.Name}}</option>
                            </select>
                        </div>

                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Status</label>
                            <select class="form-control" formControlName="Status" tabindex="9">
                                <option *ngFor="let key of Statuses" [ngValue]="key.Id">{{key.Name}}</option>
                            </select>
                        </div>
                    </div>

                    <!-- <div class="col-sm-4">
                        <div class="form-group">
                            <label>Optimized Capacity</label>
                            <input type="number" class="form-control" placeholder="Optimized Capacity" formControlName="OptimizedCapacity" numberWithDecimal/>
                            
                            <div *ngIf="FreightForm.get('OptimizedCapacity').invalid && FreightForm.get('OptimizedCapacity').touched" class="color-maroon">
                                Invalid quantity
                            </div>
                            
                        </div>
                    </div> -->
                    
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="d-block mb-rem-5">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="IsFilldCompatible" (click)="setValidationForIsValidFilldCompatible($event.target.checked)" formControlName="IsFilldCompatible">
                            <label class="form-check-label" for="IsFilldCompatible">TrueFill Inc. Compatible</label>
                        </div>
                    </div>
                    <div class="d-block">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" (click)="toggleCompartment($event)" name="IsCompartments" [(ngModel)]="IsCompartments" [ngModelOptions]="{standalone: true}">
                            <label class="form-check-label" for="inlineCheckbox1">Compartments</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <div [class]="FreightForm.get('IsFilldCompatible').value? 'pntr-none subSectionOpacity' : ''">
                        <label class="db">Does your trailer have pump?</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="IsPumpRadio1" value="1" name="IsPump" formControlName="IsPump">
                            <label class="form-check-label" for="IsPumpRadio1">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="IsPumpRadio2" value="0" name="IsPump" formControlName="IsPump">
                            <label class="form-check-label" for="IsPumpRadio2">No</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" *ngIf="FreightForm.get('IsFilldCompatible').value">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Smart Device ID" formControlName="SmartDeviceId" tabindex="2" />
                    <div *ngIf="FreightForm.get('SmartDeviceId').invalid && FreightForm.get('SmartDeviceId').touched" class="color-maroon">
                        <div *ngIf="FreightForm.get('SmartDeviceId').errors.required">
                            Required.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="IsCompartments">
            <div class="col-sm-12">
                <div formArrayName="Compartments">
                    <div class="row mb10" *ngFor="let compartment of FreightForm.get('Compartments')['controls']; let i = index; let first = first;">
                        <div class="row col-sm-12" [formGroupName]="i">
                            <div class="col-sm-3">
                                <input type="text" class="form-control" placeholder="Compartment Id" formControlName="CompartmentId" />
                                <div *ngIf="compartment.get('CompartmentId').invalid && compartment.get('CompartmentId').touched" class="color-maroon">
                                    <div *ngIf="compartment.get('CompartmentId').errors.required">
                                        Required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <select class="form-control" formControlName="FuelType">
                                    <option *ngFor="let key of FuelTypes" [ngValue]="key.Id">{{key.Name}}</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Capacity" formControlName="Capacity" />
                                    <span class="input-group-addon fs12">{{DefaultUoM | slice:0:1}}</span>
                                </div>
                                <div *ngIf="compartment.get('Capacity').invalid && compartment.get('Capacity').touched" class="color-maroon">
                                    <span *ngIf="compartment.get('Capacity').errors.pattern">
                                        Invalid.
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-2" *ngIf="FreightForm.get('IsFilldCompatible').value">
                                <input type="text" class="form-control" placeholder="Pump ID" formControlName="PumpId" tabindex="2" />
                                <div *ngIf="compartment.get('PumpId').invalid && compartment.get('PumpId').touched" class="color-maroon">
                                    <div *ngIf="compartment.get('PumpId').errors.required">
                                        Required.
                                    </div>
                                </div>
                             </div>
                            <div class="col-sm-1">
                                <a *ngIf="!first" (click)="RemoveCompartment(i);" class="fa fa-trash-alt mt10 color-maroon" title="Remove"></a>
                            </div>
                            </div>
                        </div>
                </div>
                <div class="row">
                        <div class="col-sm-12">
                            <a (click)="AddCompartment();" class="add-partial-block mb20">
                                <span class="fa fa-plus-circle"></span> Add New
                            </a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="col-sm-12 text-right form-buttons">
        <input type="button" value="Cancel" class="btn" onclick="closeSlidePanel()" (click)="clearTrailerForm()">
        <button id="Submit" type="submit" class="btn btn-lg btn-primary valid" aria-invalid="false">Submit</button>
    </div>
</form>
<div class="loader" *ngIf="IsLoading">
    <div class="loading-content text-center">
        <div class="spinner"></div>
        <div class="font-bold">Loading...</div>
    </div>
</div>