<div id="sb-filter-panel">
    <div class="row">
        <div [ngClass]="isDisableControl ? 'col-sm-12' : 'col-sm-12'">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search location" [(ngModel)]="SbGridFilterData.SearchLocation">
                <div class="input-group-append mr5">
                    <button class="btn btn-primary" type="button" (click)="filterLocation()">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
                <button class="btn btn-link" (click)="resetfilterLocation()">
                    Reset
                </button>
            </div>
        </div>
    </div>
</div>
