<div id="sb-filter-panel">
    <div class="row btn-schedule-filter">
        <div class="col-sm-12">
            <a class="ml10" onclick="showHideElements('schedule-filter','btn-schedule-filter')"><i class="fas fa-filter"></i> Filters</a>
        </div>
    </div>
    <div class="hide-element schedule-filter">
        <div class="row">
            <div [ngClass]="isDisableControl ? 'col-sm-3' : 'col-sm-4'" *ngIf="IsTrailerExists">
                <div class="form-group mb5">
                    <ng-multiselect-dropdown [placeholder]="'Select Trailer(s)'"
                                             [settings]="trailerDdlSettings"
                                             [data]="SbFilterData?.Trailers"
                                             [(ngModel)]="SbFilterData.SelectedTrailers"
                                             (onSelect)="onTrailerSelect($event)" (onDeSelect)="onTrailerDeSelect($event)"
                                             (onSelectAll)="onTrailerSelectAll($event)"
                                             (onDeSelectAll)="onTrailerDeSelectAll()">
                    </ng-multiselect-dropdown>
                </div>
            </div>
            <div [ngClass]="isDisableControl ? 'col-sm-3' : 'col-sm-4'">
                <div class="form-group mb5">
                    <ng-multiselect-dropdown [placeholder]="'Select Driver(s)'"
                                             [settings]="driverDdlSettings"
                                             [data]="SbFilterData?.Drivers"
                                             [(ngModel)]="SbFilterData.SelectedDrivers"
                                             (onSelect)="onDriverSelect($event)" (onDeSelect)="onDriverDeSelect($event)"
                                             (onSelectAll)="onDriverSelectAll($event)"
                                             (onDeSelectAll)="onDriverDeSelectAll()">
                    </ng-multiselect-dropdown>
                </div>
            </div>
            <div [ngClass]="isDisableControl ? 'col-sm-3' : 'col-sm-4'">
                <div class="form-group mb5">
                    <ng-multiselect-dropdown [placeholder]="'Select Pickup(s)'"
                                             [settings]="pickupDdlSettings"
                                             [data]="SbFilterData?.Pickups"
                                             [(ngModel)]="SbFilterData.SelectedPickups"
                                             (onSelect)="onPickupSelect($event)" (onDeSelect)="onPickupDeSelect($event)"
                                             (onSelectAll)="onPickupSelectAll($event)"
                                             (onDeSelectAll)="onPickupDeSelectAll()">
                    </ng-multiselect-dropdown>
                </div>
            </div>
            <div class="f-bold" [ngClass]="isDisableControl ? 'col-sm-3 mt10' : 'col-sm-12'">
                <a class="fs12 mr10" (click)="resetFilter()">Reset Filters</a>
                <a onclick="showHideElements('btn-schedule-filter','schedule-filter')" class="fs12">Close</a>
            </div>
        </div>
    </div>
    </div>
