<div class="row mb-3">
    <div class="col-sm-11">
        <div class="dib border pa5 radius-capsule shadow-b bg-white">
            <div class="btn-group btn-filter">
                <input class="hide-element" type="radio" [name]="'viewType'" [value]="1"
                       [checked]="viewType==1">
                <label class="btn ml0 mr-1" (click)="changeViewType(1)">Ports</label>
                <input class="hide-element" type="radio" [name]="'viewType'" [value]="2"
                       [checked]="viewType==2">
                <label class="btn" (click)="changeViewType(2)">Vessels</label>
            </div>
        </div>
    </div>
    <div class="col-sm-1">
        <select class="form-control mt-1" (change)="onCountryChange($event)">
            <option *ngFor="let country of CountryList" [value]="country.Id"
                    [selected]="SelectedCountryId==country.Id">
                <i class="fa fa-airbnb fa-2x"></i> {{country.Code}}
            </option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <app-marineports *ngIf="viewType==1" [SelectedCountryId]="SelectedCountryId"></app-marineports>
        <app-marinevessels *ngIf="viewType==2" [SelectedCountryId]="SelectedCountryId"></app-marinevessels>
    </div>
</div>

