@model CustomerDetailsViewModel

@{
    ViewBag.Title = "Carrier/Supplier Details";
}

<div>
    @Html.Partial("_PartialSupplierDetails", Model);
</div>

@section Scripts {
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/Scripts/js/news-feed")
}

@using (Html.BeginScripts())
{
    <script type="text/javascript">
        var currentEntityId = '@Request.QueryString["supplierCompanyId"]'; // for newsfeed
        var newsfeedUrl = "@Url.Action("GetNewsfeed", "Dashboard", new { area = "Supplier" })";
    </script>
}