<div [formGroup]="invoiceForm" class="well box-shadow">
    <div formArrayName="OtherProductTaxes">
        <h4>Taxes</h4>
        <div class="form-group" *ngFor="let tax of invoiceForm.get('OtherProductTaxes')['controls']; let i = index; let isFirst = first;">
            <div [formGroupName]="i">
                <div class="row" *ngIf="isFirst">
                    <div class="col-sm-3">
                        <label>Type<span class="color-maroon">*</span></label>
                    </div>
                    <div class="col-sm-3">
                        <label>Tax Amount<span class="color-maroon">*</span></label>
                    </div>
                    <div class="col-sm-3">
                        <label>Description<span class="color-maroon">*</span></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <input type="hidden" formControlName="OrderId" />
                        <input type="hidden" formControlName="TaxId" />
                        <select class="form-control" formControlName="TaxPricingTypeId" (change)="onTaxTypeSelect($event,tax)">
                            <option [value]="null">Select Tax Type</option>
                            <option *ngFor="let taxtype of TaxPricingTypes;" [value]="taxtype.Id">{{taxtype.Name}}</option>
                        </select>
                        <div *ngIf="isInvalid(tax, 'TaxPricingTypeId')" class="color-maroon">
                            <div *ngIf="isRequired(tax, 'TaxPricingTypeId')">
                                Required.
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <input type="text" formControlName="TaxAmount" class="form-control" placeholder="Tax Amount" />
                            <!--<div class="input-group-addon fs12">{{DisplayCurrency}}</div>-->
                            <div *ngIf="tax.get('TaxAmountSymbol').value" class="input-group-addon fs12">{{tax.get('TaxAmountSymbol').value}}</div>
                        </div>
                        <div *ngIf="isInvalid(tax, 'TaxAmount')" class="color-maroon">
                            <div *ngIf="isRequired(tax, 'TaxAmount')">
                                Required.
                            </div>
                            <div *ngIf="isPattern(tax, 'TaxAmount')">
                                Invalid.
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" formControlName="TaxDescription" class="form-control" placeholder="Description" />
                        <div *ngIf="isInvalid(tax, 'TaxDescription')" class="color-maroon">
                            <div *ngIf="isRequired(tax, 'TaxDescription')">
                                Required.
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <a class="fa fa-trash-alt color-maroon mt10" (click)="removeTax(i)"></a>
                    </div>
                </div>
            </div>
        </div>
        <a (click)="addTax(null)"><i class="fa fa-plus-circle"></i> Add Tax</a>
    </div>
</div>



