<div class="row">
    <div class="form-group col-sm-3">
        <!--<ngx-select-dropdown (change)="OnCustomerSelect($event)" [multiple]="false" [config]="configSettings" [options]="CustomerList"></ngx-select-dropdown>-->
        <label>Customer</label>
        <ng-multiselect-dropdown [(ngModel)]="SelectedCustomer" [settings]="SingleDdlSettings" [data]="CustomerList" (onSelect)="OnCustomerSelect($event)" (onDeSelect)="OnCustomerDeSelect($event)">
        </ng-multiselect-dropdown>
    </div>
    <div class="form-group col-sm-4">
        <label>Job</label>
        <ng-multiselect-dropdown [(ngModel)]="SelectedJob" [settings]="SingleDdlSettings" [data]="JobList" (onSelect)="OnJobSelect($event)" (onDeSelect)="OnJobDeSelect($event)">
        </ng-multiselect-dropdown>
    </div>
    <div class="form-group col-sm-3">
        <label>Fuel Type</label>
        <ng-multiselect-dropdown [(ngModel)]="SelectedFuelTypes" [settings]="FuelDdlSettings" [data]="FuelTypeList"
                                 (onSelect)="onFuelSelect($event)" (onDeSelect)="onFuelDeSelect($event)" (onSelectAll)="onFuelSelect($event)" (onDeSelectAll)="onAllFuelDeSelect($event)">
        </ng-multiselect-dropdown>
    </div>
</div>
<div [formGroup]="SameDestGroupForm">
    <div class="group-height">
        <div class="row">
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-3" *ngFor="let order of orderList">
                        <div class="well" [ngClass]="{'order-selected': order.IsOrderSelected==true}" (click)="OrderClicked(order)" style="cursor:pointer">
                            <h3 class="mt0 mb0">{{order.TfxPoNumber}}</h3>
                            <span>{{order.FuelType}}</span><br>
                            <span>{{order.DisplayPrice}}</span><br>
                            <span>{{order.Quantity}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <label for="CustomerPoNumber">Customer PO#</label>
                <input class="form-control" type="text" formControlName="CustomerPoNumber" />
                <span class="help-block color-maroon" *ngIf="SameDestGroupForm.get('CustomerPoNumber').errors && (SameDestGroupForm.get('CustomerPoNumber').touched ||
                                  SameDestGroupForm.get('CustomerPoNumber').dirty)">
                    <span *ngIf="SameDestGroupForm.get('CustomerPoNumber').errors.required">
                        Required.
                    </span>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-right">
            <input type="button" value="Cancel" class="btn btn-lg" (click)="clearDestGroupForm()" onclick="closeSlidePanel()">
            <input type="button" (click)="OnSubmit()" *ngIf="!isEdit" class="btn btn-primary btn-lg" value="Create">
            <input type="button" (click)="OnSubmit()" *ngIf="isEdit" class="btn btn-primary btn-lg" value="Submit">
        </div>
    </div>
</div>

<div class="loader" *ngIf="IsLoading">
    <div class="loading-content text-center">
        <div class="spinner"></div>
        <div class="font-bold">Submitting Group...</div>
    </div>
</div>
