
.table-striped tbody tr:nth-of-type(odd).bg-retain, .table-striped tbody tr:nth-of-type(even).bg-retain {
    background: #f9e4be;
}
.retain-compartments {
    max-height: 50vh;
    overflow: auto;
    overflow-x: hidden;
}
