<!--Trailer object Summary-->
<div>
    <div class="row">
        <div class="col-12 col-md-12" id="add-trailer">
            <img src="src/assets/trailer.png" class="pull-left mr10" width="40" />
            <h4 class="pt0 pull-left">Trailer Summary</h4>
            <a (click)="createTrailer('Create Trailer')" onclick="slidePanel('#create-trailer','50%')" class="fs18 pull-left ml10">
                <i class="fa fa-plus-circle fs18 mt4 pull-left"></i><span class="fs14 mt2 pull-left">Create Trailer</span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="well bg-white shadowb-b">
                <div class="ibox mb0">
                    <div class="ibox-content no-padding no-border">
                        <div id="truck-details-grid" class="table-responsive">
                            <!--Enum - GridName.TrailerSummaryGrid - 15-->
                            <table id="truck-datatable" data-gridname="15" datatable [dtOptions]="dtOptionsTrailer" [dtTrigger]="dtTriggerTrailer" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th data-key="TrailerId">Trailer Id</th>
                                        <th data-key="TruckName">Name</th>
                                        <th data-key="TruckOwner">Owner</th>
                                        <th data-key="TruckLicenceRequirement">Licence Requirement</th>
                                        <th data-key="TruckLicencePlate">Licence Plate</th>
                                        <th data-key="TruckExpirationDate">Expiration Date</th>
                                        <th data-key="TruckFuelCapacity">Fuel Capacity</th>
                                        <!-- <th data-key="OptimizedCapacity">Optimized Capacity</th> -->
                                        <th data-key="TruckContractNumber">Contract Number</th>
                                        <th data-key="TruckIsFilldCompatible">Filld Compatible</th>
                                        <th data-key="TruckCompartments">Compartments</th>
                                        <th data-key="TruckTrailerType">Trailer Type</th>
                                        <th data-key="TruckStatus">Status</th>
                                        <th data-key="TruckAction">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let truck of Trucks" [ngClass]="{'bg-retain': truck.TrailerFuelRetains.length > 0 }">
                                        <td>
                                            <div class="pr float-left"><a *ngIf="truck.TrailerFuelRetains.length>0" (click)="OpenTrailerDetails(truck.Id)"><span class="recurring_text mr5"><i class="fas fa-info-circle" title="Trailer Retain Details"></i></span></a></div>
                                            <div class="ml20">{{truck.TruckId}}</div>
                                        </td>
                                        <td>
                                            <span *ngIf="truck.Name != null">{{truck.Name}}</span>
                                            <span *ngIf="truck.Name == null">--</span>
                                        </td>
                                        <td>
                                            <span *ngIf="truck.Owner != null">{{truck.Owner}}</span>
                                            <span *ngIf="truck.Owner == null">--</span>
                                        </td>
                                        <td>
                                            {{LicenceRequirements[truck.LicenceRequirement]==='Class1'?'Class 1':'Class 3'}}
                                        </td>
                                        <td>
                                            <span *ngIf="truck.LicencePlate != null">{{truck.LicencePlate}}</span>
                                            <span *ngIf="truck.LicencePlate == null">--</span>
                                        </td>
                                        <td>
                                            <span *ngIf="truck.ExpirationDate != null">{{truck.ExpirationDate}}</span>
                                            <span *ngIf="truck.ExpirationDate == null">--</span>
                                        </td>
                                        <td>
                                            <span *ngIf="truck.FuelCapacity > 0">{{truck.FuelCapacity}}</span>
                                            <span *ngIf="truck.FuelCapacity == 0">--</span>
                                        </td>
                                        <!-- <td>
                                            <span *ngIf="truck.OptimizedCapacity > 0">{{truck.OptimizedCapacity}}</span>
                                            <span *ngIf="truck.OptimizedCapacity == 0">--</span>
                                        </td> -->
                                        <td>
                                            <span *ngIf="truck.ContractNumber != null">{{truck.ContractNumber}}</span>
                                            <span *ngIf="truck.ContractNumber == null">--</span>
                                        </td>
                                        <td>
                                            <span *ngIf="truck.IsFilldCompatible != null">{{truck.IsFilldCompatible?'Yes':'No'}}</span>
                                            <span *ngIf="truck.IsFilldCompatible == null">No</span>
                                        </td>
                                        <td>
                                            <div *ngFor="let comp of truck.Compartments">
                                                <span>{{comp.CompartmentId}}</span>
                                                <span *ngIf="comp.Capacity > 0">{{' : ' + comp.Capacity}}</span>
                                                <br />
                                            </div>
                                            <div *ngIf="truck.Compartments.length == 0">--</div>
                                        </td>
                                        <td>{{TrailerType[truck.TrailerType]}}</td>
                                        <td>{{TruckStatus[truck.Status]==='InActive'?'In-Active':TruckStatus[truck.Status]==='UnderMaintenance'?'Under-Maintenance':TruckStatus[truck.Status]}}</td>
                                        <td class="text-center">
                                            <button type="button" (click)="createTrailer('Edit Trailer');editTruck(truck);" class="btn btn-link" onclick="slidePanel('#create-trailer','50%')"><i class="fas fa-edit fs16"></i></button>
                                            <button type="button" class="btn btn-link ml10" mwlConfirmationPopover [popoverTitle]="popoverTitle" [confirmText]="confirmButtonText" [cancelText]="cancelButtonText" placement="bottom" (confirm)="deleteTruck(truck)"><i class="fas fa-trash-alt color-maroon"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="create-trailer" class="side-panel pl5 pr5">
    <div class="side-panel-wrapper">
        <div class="pt15 pb0 mb10">
            <a class="ml15 close-panel" (click)="clearPanelDataTrailer()" onclick="closeSlidePanel();"><i class="fa fa-close fs18"></i></a>
            <h3 class="dib mt0 mb0 ml15">{{ModalTextTrailer}}</h3>
        </div>
        <div>
            <!--<div *ngIf="IsCreateTruck"> -->
            <app-create-trailer (onSubmitGroupData)="loadTruckDetails()"></app-create-trailer>
            <!--</div>-->
        </div>
    </div>

</div>

<div>
    <div class="row">
        <br />
        <br />
        <br />
    </div>
</div>

    <!--Tractor object Summary-->
    <div>
        <div class="row">
            <div class="col-12 col-md-12" id="add-tractor">
                <img src="src/assets/ico-tractor.png" class="pull-left mr10 mtm5" width="45" />
                <h4 class="pt0 pull-left">Tractor Summary</h4>
                <a (click)="createTractor('Create Tractor')" onclick="slidePanel('#create-tractor','30%')" class="fs18 pull-left ml10">
                    <i class="fa fa-plus-circle fs18 mt4 pull-left"></i><span class="fs14 mt2 pull-left">Create Tractor</span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="well bg-white shadowb-b">
                    <div class="ibox mb0">
                        <div class="ibox-content no-padding no-border">
                            <div id="tractor-details-grid" class="table-responsive">
                                <!--Enum - GridName.TractorSummaryGrid - 16-->
                                <table id="tractor-datatable" data-gridname="16" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th data-key="TractorId">Tractor Id</th>
                                            <th data-key="TractorLicencePlate">Licence  Plate</th>
                                            <th data-key="TractorExpiryDate">Expiry Date</th>
                                            <th data-key="TractorVIN">VIN</th>
                                            <th data-key="TractorOwner">Owner</th>
                                            <th data-key="TractorCompatibleTrailers">Compatible Trailers</th>
                                            <th data-key="TractorStatus">Status</th>
                                            <th data-key="TractorDrivers">Drivers</th>
                                            <th data-key="TractorAction">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let tractor of Tractors">
                                            <td>{{tractor.TractorId}}</td>
                                            <td>
                                                <span *ngIf="tractor.Plate != null">{{tractor.Plate}}</span>
                                                <span *ngIf="tractor.Plate == null">--</span>
                                            </td>
                                            <td>
                                                <span *ngIf="tractor.ExpirationDate != null">{{tractor.ExpirationDate}}</span>
                                                <span *ngIf="tractor.ExpirationDate == null">--</span>
                                            </td>
                                            <td>
                                                <span *ngIf="tractor.VIN != null">{{tractor.VIN}}</span>
                                                <span *ngIf="tractor.VIN == null">--</span>
                                            </td>
                                            <td>
                                                <span *ngIf="tractor.Owner != null">{{tractor.Owner}}</span>
                                                <span *ngIf="tractor.Owner == null">--</span>
                                            </td>
                                            <td>
                                                <div *ngFor="let trailerType of tractor.TrailerType">
                                                    <span>{{TrailerType[trailerType]}}</span>
                                                    <br />
                                                </div>
                                                <div *ngIf="tractor.TrailerType.length == 0">--</div>
                                            </td>
                                            <td>{{TractorStatus[tractor.Status]==='InActive'?'In-Active':TractorStatus[tractor.Status]==='UnderMaintenance'?'Under-Maintenance':TractorStatus[tractor.Status]}}</td>
                                            <td>
                                                <div *ngFor="let driverName of tractor.Drivers">
                                                    <span>{{driverName.Name}}</span>
                                                    <br />
                                                </div>
                                                <div *ngIf="tractor.Drivers.length == 0">--</div>
                                            </td>

                                        <td class="text-center">
                                            <button type="button" (click)="createTractor('Edit Tractor');editTractor(tractor);" class="btn btn-link" onclick="slidePanel('#create-tractor','30%')"><i class="fas fa-edit fs16"></i></button>
                                            <button type="button" class="btn btn-link ml10" mwlConfirmationPopover [popoverTitle]="popoverTitle" [confirmText]="confirmButtonText" [cancelText]="cancelButtonText" placement="bottom" (confirm)="deleteTractor(tractor)"><i class="fas fa-trash-alt color-maroon"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="create-tractor" class="side-panel pl5 pr5">
    <div class="side-panel-wrapper">
        <div class="pt15 pb0 mb10">
            <a class="ml15 close-panel" (click)="clearPanelData()" onclick="closeSlidePanel();"><i class="fa fa-close fs18"></i></a>
            <h3 class="dib mt0 mb0 ml15">{{ModalText}}</h3>
        </div>
        <div>
            <!--<div *ngIf="IsCreateTruck"> -->
            <app-create-tractor (onSubmitGroupData)="loadTractorDetails()"></app-create-tractor>
            <!--</div>-->
        </div>
    </div>
</div>
<div class="loader" *ngIf="IsLoading">
    <div class="loading-content text-center">
        <div class="spinner"></div>
        <div class="font-bold">Loading...</div>
    </div>
</div>
<button type="button" id="btnconfirm-trailerInfo" class="hide-element" data-toggle="modal" data-target="#confirm-trailerInfo"></button>
<div class="modal fade" id="confirm-trailerInfo" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="overflow-h">
                    <div class="pull-left"><h2 class="fs12 f-bold mb10 pa5 dib alert alert-info">There is some fuel retained in the trailer.</h2></div>
                    <div class="pull-right">
                        <button class="close color-grey pull-right pa" data-dismiss="modal" type="button"><i class="fa fa-close fs21"></i></button>
                    </div>
                </div>
                
                <div class="retain-compartments">
                    <table id="member-datatable" class="table fs12 table-sm table-borderless mb0">
                        <thead>
                            <tr class="f-bold">
                                <th>Compartment</th>
                                <th>Fuel Type</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let compData of CompartmentDetails">
                                <td>{{compData.CompartmentId}}</td>
                                <td>{{compData.ProductType}}</td>
                                <td>
                                    {{compData.Quantity}}
                                    <span *ngIf="compData.UOM==1">G</span>
                                    <span *ngIf="compData.UOM!=1">L</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                    <div class="text-right mt10">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
