<div class="well bg-white shadow-b pr">
    <div class="row mb10">
        <div class="col-sm-12 text-center sticky-header-dash">
            <div class="dib border pa5 radius-capsule shadow-b  mb10">
                <div class="btn-group btn-filter">
                    <input class="hide-element" type="radio" [name]="'type'" [value]="1" [checked]="DateType==1">
                    <label class="btn ml0" (click)="changeDateType(1)">Today</label>
                    <input class="hide-element" type="radio" [name]="'type'" [value]="2" [checked]="DateType==2">
                    <label class="btn" (click)="changeDateType(2)">Matching Window</label>
                    <input class="hide-element" type="radio" [name]="'type'" [value]="3" [checked]="DateType==3">
                    <label class="btn" (click)="changeDateType(3)">Day Range</label>
                </div>
            </div>

        </div>
    </div>

<div class="row mb10">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-11">
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" [(ngModel)]="fromDate" class="form-control datepicker" placeholder="Date" myDatePicker
                            [format]="'MM/DD/YYYY'" (onDateChange)="setFromDate($event);"  [minDate]="minfromdate"  [disabled]="DateType!=3"/>
                    </div>
                    <div class="col-md-6">
                        <input type="text" [(ngModel)]="toDate" class="form-control datepicker" placeholder="Date" myDatePicker
                            [format]="'MM/DD/YYYY'" (onDateChange)="setToDate($event);" [minDate]="minfromdate" [disabled]="DateType!=3"
                             />
                    </div>
                </div>
            </div>
            <div class="col-sm-1">
                <i class="fa fa-info-circle ml5" data-toggle="tooltip" data-placement="top" title="Records before {{minfromdate|date: 'MM/dd/yyyy'}} are archieved"></i>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-6">
                <ng-multiselect-dropdown [placeholder]="'Select Carrier(s)'" 
                    [settings]="multiselectSettingsById" [data]="CarrierDrpDwnList" [(ngModel)]="selectedCarrierList" (onSelect)="onCarrierSelect($event)"
                    (onDeSelect)="onCarrierDeSelect($event)">
                </ng-multiselect-dropdown>
        
            </div>
            <div class="col-sm-6 text-right form-buttons">
                <button id="Submit" type="button" value="Search" (click)="onSearch()" class="btn btn-lg btn-primary valid" aria-invalid="false">Submit</button>
                <button id="statusSelectbtn" type="button" value="Export" data-toggle="modal" data-target="#statusSelect" class="btn btn-lg btn-primary valid" aria-invalid="false">Export</button>
            </div>
        </div>
    </div>
   
    
</div>
</div>

<!-- <button type="button"  class="btn btn-primary hide-element" data-toggle="modal" data-target="#statusSelect">
    Launch demo modal
  </button> -->
  
  <!-- Modal -->
  <div class="modal fade" id="statusSelect" tabindex="-1" role="dialog" aria-labelledby="statusSelectLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-scrollable modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="statusSelectLabel">Select Status</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <select class="form-control" [(ngModel)]="selectedStatus">
                <option [value]="LFVRecordStatus.Clean">Match</option>
                <option [value]="LFVRecordStatus.NoMatch">No Match</option>
                <option [value]="LFVRecordStatus.PartialMatch">Partial Match</option>
                <option [value]="LFVRecordStatus.PendingMatch">Pending</option>
                <option [value]="LFVRecordStatus.Duplicate">Duplicate</option>
                <option [value]="LFVRecordStatus.ActiveExceptions">Active Exception</option>
                <option [value]="LFVRecordStatus.IgnoreMatch">Ignored</option>
                <option [value]="LFVRecordStatus.UnMatched">Unmatched</option>
                <option [value]="LFVRecordStatus.ForcedIgnore">Forced Ignore</option>
            </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onExport()">Generate CSV</button>
        </div>
      </div>
    </div>
  </div>