// .
agm-map {
    height: 300px;
  }
// .
.add-location-container{
    aside {
        width: 80%;
      }
    
      .ng-sidebar__backdrop{
        position: fixed !important;
      }
    .form-group{
        margin-bottom: 10px;
    }
    .fixed-footer-panel{
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        background: #ffffff;
        padding: 10px 20px;
    }

    .ng-autocomplete {
        width:100% !important;
        display: table;
        margin: 0 auto;
      }
      .ng-autocomplete .input-container{
          margin-bottom: 10px !important;
      }
     .autocomplete-container .suggestions-container ul li a {
        padding: 8px 15px !important;
        display: block;
        text-decoration: none;
        cursor: pointer;
        color: rgba(0,0,0,.87);
        font-size: 12px !important;
    }
}

.pricingcode-modal{
    .modal-header{
        padding: 5px 15px;
        .close{
            margin-top: -10px;
        }
    }

    .radius-capsule {
        .btn {
            line-height: 20px;
            padding: 3px 15px !important;
            font-size: 12px;

            &:not(:last-child) {
                margin-right: 5px;
            }
        }
    }

    .click-card{
        &:hover{
            cursor: pointer;
            background: #efefef;
        }
    }
} 
.seeMore {
    color:#0098FC !important;
    cursor:pointer;
    text-align: center !important;
    text-decoration: underline !important;
    background-color: #ffff51ba !important;
    a {
    color:#0098FC !important;
    cursor:pointer;
    text-align: center !important;
    text-decoration: underline !important;
    }
}