::selection {
    background-color: #0273d4;
    color: #fff;
}

.loading {
    padding: 1em;
}

::ng-deep aside {
    padding: 1em;
    width: 40%;
    background-color: #fff;
    right: 0px !important;
    position: fixed !important;
    top: 52px !important;
    overflow-x: hidden !important
}

::ng-deep aside.ng-sidebar--opened {
    box-shadow: 2px 0 123px 2px rgba(0,0,0,0.20);
}

ng-sidebar-container {
    position: absolute;
    top: 60px;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

::ng-deep .ordernumber {
    width: 30px;
    height: 30px;
    border: 1px solid orange;
    border-radius: 100px;
}

::ng-deep input[type="radio"] + label > input {
    background: transparent;
    border: none;
    border-style: none;
    /*color: white;*/
    max-width: 75px;
    outline: none;
    padding: 0;
}

::ng-deep input[type="radio"]:checked + label {
    background-image: linear-gradient(96deg, #53b2fe, #065af3);
    color: white;
}


