@model SupplierProductsViewModel
@{
    ViewBag.Title = Model.Id > 0 ? "Product Mapping Details" : "Create Product Mapping";
}
<div class="row">
    <div class="col-sm-6 tab-headers">
        <a href="javascript:void(0)" onclick="showPanelsection('product-mapping-details'), activePanellink(this)" class="active mr20">
        </a>
    </div>
</div>
<div class="tab-container">
    <div id="product-mapping-details">
        @Html.Partial("_PartialCreateProductMapping", Model)
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        if (@Html.Raw(Model.StatusCode == Status.Failed)) {          
            $('#create-modal-cancel').on('click', function () {
                window.history.go(-1);
            });
        }
        else {
            $('#create-modal-cancel').on('click', function () {
                closeSlidePanel();
            });
        }
    });
</script>
