@model SupplierProductViewModel
@{
    ViewBag.Title = "Product Mapping";
}
<div class="row">
    <div class="col-sm-12">
        <h3 class="mt0 f-light fs18 pull-left mr20">Product Mapping</h3>
        @if (CurrentUser.IsSupplier || CurrentUser.IsSupplierAdmin || CurrentUser.IsSupplierCompany)
        {
            <a onclick='LoadSupplierProduct();' id="auto-linkcreatenew" class="pull-left mb10">
                <span class="fa fa-plus-circle fs18 pull-left mt1"></span> @Resource.btnLabelMapNewProduct
            </a>
        }
    </div>
</div>
    @Html.Partial("_PartialSupplierProductMappingGrid", Model)

<script type="text/javascript">
        function LoadSupplierProduct() {
            var url = '@Url.Action("Create", "ProductMapping", new { area = "Supplier"})';
            $.get(url, function (response) {
                if (response != null || response != "") {
                    $("#slider-heading").text('Map New Product');
                    $("#slider-content").html(response);
                    parseForm();
                    slidePanel("#sliderpanel");
                }
            })
            .done(function () {
                    getSupplierPreferenceSetting();
             })
            .always(
                function () {
                    $("#slider-loader").hide();
                }
            );
    }
</script>