
<div class="section-marine-ports-grid">
    <div>
        <div class="row">
            <div class="col-12">
                <h4 class="pt0 pull-left">Terminals</h4>
                <a (click)="createTerminal('Create Terminal')" onclick="slidePanel('#create-terminal','70%')" class="fs18 pull-left ml10"
                    [ngClass]="{'disabled': SelectedCountryId =='4'}">
                    <i class="fa fa-plus-circle fs18 mt4 pull-left"></i><span class="fs14 mt2 pull-left">Add New</span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="well bg-white shadowb-b">
                    <div class="ibox mb0">
                        <div class="ibox-content no-padding no-border">
                            <div id="terminal-details-grid" class="table-responsive">
                                <table id="terminal-datatable" data-gridname="35" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Abbreviation</th>
                                            <th>ControlNumber</th>
                                            <th>Address</th>
                                            <th>City</th>
                                            <th>State</th>
                                            <th>Terminal Owner</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let terminal of TerminalDetailsData">
                                            <td>{{terminal.Name}}</td>
                                            <td>
                                                <span *ngIf="terminal.Abbreviation != null">{{terminal.Abbreviation}}</span>
                                                <span *ngIf="terminal.Abbreviation == null">--</span>
                                            </td>
                                            <td>
                                                <span *ngIf="terminal.ControlNumber != null">{{terminal.ControlNumber}}</span>
                                                <span *ngIf="terminal.ControlNumber == null">--</span>
                                            </td>
                                            <td>
                                                <span *ngIf="terminal.Address != null">{{terminal.Address}}</span>
                                                <span *ngIf="terminal.Address == null">--</span>
                                            </td>
                                            <td>
                                                <span *ngIf="terminal.City != null">{{terminal.City}}</span>
                                                <span *ngIf="terminal.City == null">--</span>
                                            </td>
                                            <td>
                                                <span *ngIf="terminal.StateCode != null">{{terminal.StateCode}}</span>
                                                <span *ngIf="terminal.StateCode == null">--</span>
                                            </td>
                                            <td>
                                                <span *ngIf="terminal.TerminalOwner != null">{{terminal.TerminalOwner}}</span>
                                                <span *ngIf="terminal.TerminalOwner == null">--</span>
                                            </td>
                                            <td class="text-center">
                                                <button type="button" (click)="createTerminal('Edit Terminal');editTerminal(terminal);" class="btn btn-link" onclick="slidePanel('#create-terminal','70%')"><i class="fas fa-edit fs16"></i></button>
                                                <!--<button type="button" class="btn btn-link ml10" mwlConfirmationPopover [popoverTitle]="popoverTitle" [confirmText]="confirmButtonText" [cancelText]="cancelButtonText" placement="bottom" (confirm)="deletePort(port)"><i class="fas fa-trash-alt color-maroon"></i></button>-->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div id="create-terminal" class="side-panel pl5 pr5 scroll-y">
        <div class="side-panel-wrapper">
            <div class="pt15 pb0 mb10">
                <a class="ml15 close-panel" (click)="clearPanelData()" onclick="closeSlidePanel();"><i class="fa fa-close fs18"></i></a>
                <h3 class="dib mt0 mb0 ml15">{{ModalText}}</h3>
            </div>
            <div class="mx-3">
                <form [formGroup]="terminalCreateForm" (ngSubmit)="onSubmit()">
                    <div class="row bg-white">
                        <div class="col-12">
                            <div class="create-terminal">
                                <div class="row">
                                    <div class="col-sm-4 form-group">
                                        <div class="new-terminal-name">
                                            <label class="terminal-info">
                                                Terminal Name <span class="required pl4" aria-required="true">*</span>
                                            </label>
                                            <input class="form-control" formControlName="Name" type="text" value="">
                                            <div *ngIf="isInvalid('Name')" class="color-maroon">
                                                <div *ngIf="isRequired('Name')">
                                                    Required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 form-group">
                                        <div class="new-terminal-abbreviation">
                                            <label class="terminal-info">
                                                Terminal Abbreviation
                                            </label>
                                            <input class="form-control" formControlName="Abbreviation" type="text" value="">
                                            <div *ngIf="isInvalid('Abbreviation')" class="color-maroon">
                                                <div *ngIf="isRequired('Abbreviation')">
                                                    Required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 form-group">
                                        <div class="new-terminal-control-number">
                                            <label class="terminal-info">
                                                Terminal Control Number
                                            </label>
                                            <input class="form-control" formControlName="ControlNumber" type="text" value="">
                                            <div *ngIf="isInvalid('ControlNumber')" class="color-maroon">
                                                <div *ngIf="isRequired('ControlNumber')">
                                                    Required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 form-group">
                                        <div class="new-terminal-owner">
                                            <label class="terminal-info">
                                                Terminal Owner
                                            </label>
                                            <input class="form-control" formControlName="TerminalOwner" type="text" value="">
                                            <div *ngIf="isInvalid('TerminalOwner')" class="color-maroon">
                                                <div *ngIf="isRequired('TerminalOwner')">
                                                    Required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt20">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-7">
                                                <div class="wrapper-location" style="display: block;">
                                                    <div class="address-wrapper"
                                                         [ngClass]="{'pntr-none subSectionOpacity': terminalCreateForm.controls['IsGeocodeUsed'].value == true && terminalCreateForm.get('CountryId').value != '4'}">
                                                        <div class="address-controls">
                                                            <div class="row">
                                                                <div class="col-sm-8">
                                                                    <div class="form-group">
                                                                        <label>Address</label>
                                                                        <span class="required pl4" aria-required="true" *ngIf="terminalCreateForm.get('CountryId').value != '4'">*</span>
                                                                        <input class="form-control address addressInput"
                                                                               formControlName="Address" value="">
                                                                        <div *ngIf="isInvalid('Address')" class="color-maroon">
                                                                            <div *ngIf="isRequired('Address')">
                                                                                Required.
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-4">
                                                                    <div class="form-group">
                                                                        <label for="AddressDetails_ZipCode">Zip</label>
                                                                        <span class="required pl4" aria-required="true" *ngIf="terminalCreateForm.get('CountryId').value != '4'">*</span>
                                                                        <input class="form-control"
                                                                               formControlName="ZipCode" type="text" value=""
                                                                               (change)="getAddressByZip()">
                                                                        <div *ngIf="isInvalid('ZipCode')" class="color-maroon">
                                                                            <div *ngIf="isRequired('ZipCode')">
                                                                                Required.
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-4">
                                                                    <div class="form-group">
                                                                        <label>City</label>
                                                                        <span class="required pl4" aria-required="true" *ngIf="terminalCreateForm.get('CountryId').value != '4'">*</span>
                                                                        <input class="form-control city addressInput"
                                                                               id="AddressDetails_City" formControlName="City"
                                                                               type="text" value="">
                                                                        <div *ngIf="isInvalid('City')" class="color-maroon">
                                                                            <div *ngIf="isRequired('City')">
                                                                                Required.
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-4">
                                                                    <div class="form-group">
                                                                        <label>County Name</label>
                                                                        <span class="required pl4" aria-required="true" *ngIf="terminalCreateForm.get('CountryId').value != '4'">*</span>
                                                                        <i class="fa fa-info-circle ml5" data-toggle="tooltip"
                                                                           data-placement="top"
                                                                           title="Correct County name is required by our Tax service to calculate taxes accurately."></i>
                                                                        <input class="form-control county addressInput"
                                                                               id="AddressDetails_CountyName"
                                                                               formControlName="County" type="text" value=""
                                                                               autocomplete="off">
                                                                        <div *ngIf="isInvalid('County')" class="color-maroon">
                                                                            <div *ngIf="isRequired('County')">
                                                                                Required.
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-4">
                                                                    <div class="form-group">
                                                                        <label for="AddressDetails_State_Id">
                                                                            State<span class="required pl4" aria-required="true">*</span>
                                                                        </label>
                                                                        <select class="form-control state addressInput triggerTerminalChange"
                                                                                id="AddressDetails_State_Id"
                                                                                name="AddressDetails.State.Id"
                                                                                formControlName="StateId">
                                                                            <option value="">Select State</option>
                                                                            <option id="{{item.StateId}}" [value]="item.StateId"
                                                                                    *ngFor="let item of filteredStatesList" [selected]="item.StateId== terminalCreateForm.get('StateId').value">
                                                                                {{item.StateName}}
                                                                            </option>
                                                                        </select>
                                                                        <div *ngIf="isInvalid('StateId')" class="color-maroon">
                                                                            <div *ngIf="isRequired('StateId')">
                                                                                Required.
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-check form-group form-check-inline">
                                                                <input class="form-check-input" id="checkbox-geocodes"
                                                                       formControlName="IsGeocodeUsed" type="checkbox"
                                                                       [value]="false" (change)="setLatLongValidator(terminalCreateForm.get('IsGeocodeUsed').value)">
                                                                <label class="form-check-label"
                                                                       for="checkbox-geocodes">Geo Codes</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-6 col-md-4 combineDiv">
                                                            <div class="form-group">
                                                                <label for="AddressDetails_Latitude">Latitude</label>
                                                                <input class="form-control latitude geoInput defaultDisabled"
                                                                       id="AddressDetails_Latitude"
                                                                       name="AddressDetails.Latitude"
                                                                       formControlName="Latitude" type="text" value="0"
                                                                       [readonly]="terminalCreateForm.get('IsGeocodeUsed').value == false"
                                                                       (change)="getAddressByLatLong(terminalCreateForm.get('Latitude').value,terminalCreateForm.get('Longitude').value)">
                                                                <div *ngIf="isInvalid('Latitude')" class="color-maroon">
                                                                    <div *ngIf="isRequired('Latitude')">
                                                                        Required.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-6 col-md-4 combineDiv">
                                                            <div class="form-group">
                                                                <label for="AddressDetails_Longitude">Longitude</label>
                                                                <input class="form-control longitude geoInput defaultDisabled"
                                                                       id="AddressDetails_Longitude"
                                                                       formControlName="Longitude" type="text" value="0"
                                                                       [readonly]="terminalCreateForm.get('IsGeocodeUsed').value == false"
                                                                       (change)="getAddressByLatLong(terminalCreateForm.get('Latitude').value,terminalCreateForm.get('Longitude').value)">
                                                                <div *ngIf="isInvalid('Longitude')" class="color-maroon">
                                                                    <div *ngIf="isRequired('Longitude')">
                                                                        Required.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--<div class="col-md-4">
                                <div class="form-group">
                                    <label for="AddressDetails_TimeZoneName">
                                        Time
                                        Zone
                                    </label>
                                    <input class="form-control timeZoneName defaultDisabled"
                                           id="AddressDetails_TimeZoneName"
                                           formControlName="TimeZoneName" readonly="true"
                                           type="text" value=""
                                           [disableControl]=" portCreateForm.controls['IsGeocodeUsed'].value == false">
                                </div>
                            </div>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <agm-map [zoom]="mapConstants.ZoomArea" [latitude]="mapConstants.CenterLat" [longitude]="mapConstants.CenterLon">
                                                <agm-marker [latitude]="mapConstants.CenterLat" [longitude]="mapConstants.CenterLon" [markerDraggable]="true"
                                                            (dragEnd)="markerDragEnd($event)"
                                                            [iconUrl]="mapConstants.IconUrl"></agm-marker>
                                            </agm-map>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm-12 text-right form-buttons">
                                    <input type="button" id="btnCancel" value="Cancel" class="btn" onclick="closeSlidePanel()" (click)="clearPanelData()">
                                    <input class="btn btn-primary btn-lg no-disable" type="submit" value="Submit" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


<div class="loader" *ngIf="IsLoading">
    <div class="loading-content text-center">
        <div class="spinner"></div>
    </div>
</div>