<div [formGroup]="Parent" *ngIf="Parent.get('ContactPersons')['controls'].length > 0">
    <ng-container formArrayName="ContactPersons">
        <ng-container *ngFor="let contactperson of Parent.get('ContactPersons')['controls']; let i = index;">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row" [formGroupName]="i">
                        <div class="col-sm-3 new-company">
                            <div class="form-group">
                                <div>
                                    <input class="form-control newContactPerson"
                                           id="CustomerDetails_Name_{{i}}" formControlName="Name"
                                           placeholder="Contact Person" type="text" value="">
                                    <!--<div *ngIf="contactperson.controls['Name'].errors">
                                        <span class="text-danger"
                                              *ngIf="contactperson.controls['Name'].errors?.required">
                                            Contact Person is required
                                        </span>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <input class="form-control input-phoneformat phoneNumber" (blur)="onChangeMobileNumber($event, contactperson)" placeholder="Mobile Number"
                                       id="CustomerDetails_PhoneNumber_{{i}}" name="PhoneNumber"
                                       formControlName="PhoneNumber" type="text" value="">
                                <div *ngIf="!contactperson.controls['PhoneNumber'].errors && contactperson.controls['IsPhoneNumberConfirmed'].value == false" class="color-orange fs12 pt5" id="mobile-validation-msg">Unable to verify number! You will miss Text Alerts.</div>
                                <div *ngIf="contactperson.controls['PhoneNumber'].errors">
                                    <span class="text-danger"
                                          *ngIf="contactperson.controls['PhoneNumber'].errors?.required">
                                        Mobile Number is required
                                    </span>
                                </div>
                                <div class="text-danger" *ngIf="contactperson.controls['PhoneNumber'].errors?.pattern">Please, Enter 10 digit Mobile Number.</div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group custEmail">
                                <input class="form-control email" id="CustomerDetails_Email_{{i}}" placeholder="Email"
                                       name="Email" formControlName="Email" type="email" value="" />
                                <div *ngIf="contactperson.get('Email').errors">
                                    <span class="text-danger"
                                          *ngIf="contactperson.get('Email').errors?.required">
                                        Email
                                        is required
                                    </span>
                                    <span class="text-danger"
                                          *ngIf="contactperson.get('Email').errors?.email"> Invalid </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <a class="fa fa-trash-alt ml10 color-maroon mt10" (click)="removeContactPerson(i)"></a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>
<button type="button" class="btn btn-link" (click)="addContactPerson()"><i class="fa fa-plus-circle"></i> Add Contact Person</button>


