<div class="invoices-view-contanier">
    <div class="well">
        <div class="well-header">
            <div class="row">
                <div class="col-sm-9 form-row align-items-center">
                    <div class="d-inline-block">
                        <h4 class="well-title">{{ (activeInvoiceDDTTab==6)? temp_string : 'Invoices' }}</h4>
                    </div>
                    <div class="dib border radius-capsule shadow-b ml20">
                        <div class="btn-group btn-filter">
                            <input class="hide-element" type="radio" [name]="'activeInvoiceDDTTab'" [value]="0" [checked]="activeInvoiceDDTTab==0">
                            <label class="btn ml0" (click)="changeActiveTab(0)">Invoices</label>
                            <input class="hide-element" type="radio" [name]="'activeInvoiceDDTTab'" [value]="6" [checked]="activeInvoiceDDTTab==6">
                            <label class="btn" (click)="changeActiveTab(6)">DDTs</label>
                        </div>
                    </div>
                    <!-- <div class="d-inline-block ml20">
                        <div class="form-group input-search">
                            <i class="fas fa-search form-control-search"></i>
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                    </div> -->
                </div>
                <div class="col-sm-3 form-row align-items-center flex-row-reverse pr0">
                    <button class="btn btn-outline btn-primary btn-rnd fs11" (click)="navigate()">View More</button>
                </div>
            </div>
        </div>
        <div class="well-body  padding-8">
            <div class="table-wrapper">
                <div *ngIf="IsLoading" class="pa top0 bg-white left0 z-index5 loading-wrapper">
                    <span class="spinner-dashboard pa"></span>
                </div>
                <table  class="table table-hover">
                    <thead>
                        <tr>
                            <th >Invoice Number</th>
                            <th >PO Number</th>
                            <th >Supplier Name</th>
                            <th >Drop Date</th>
                            <th >Drop Time</th>
                            <th >Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container>
                            <tr *ngFor="let item of Invoices">
                                <td>{{item?.InvoiceNumber }} <span class="fa fa-info-circle" 
                                    placement="right"
                                    ngbTooltip="This invoice is not currently available. Please contact {{item?.Supplier}} for details." *ngIf="item?.IsSupressOrderPricing"></span></td>
                                <td>
                                    <ng-container *ngFor="let po of item?.PoNumber.split(';')">
                                        <div style="display:inline-block;">
                                            {{po}}
                                        </div>
                                    </ng-container>
                                </td>
                                <td>{{item?.Supplier }}</td>
                                <td>{{item?.DropDate}}</td>
                                <td>
                                    <ng-container *ngFor="let time of item?.DropTime.split(';')">
                                        <div class="text-nowrap" style="display:inline-block;">
                                            {{time}}
                                        </div>
                                    </ng-container>
                                </td>
                                <td> <span class="badge badge-pill badge-primary" [ngClass]="{'badge-success': item?.Status=='Received','badge-danger': item?.Status=='Rejected','badge-warning': item?.Status.length>8 }"
                                    placement="left"
                                    ngbTooltip="{{item?.Status}}"> 
                                    {{ (item?.Status.length>8)? (item?.Status | slice:0:8)+'..':(item?.Status) }}
                                </span> </td>
                            </tr>
                            <tr *ngIf="Invoices && Invoices.length==0">
                                 <td colspan="6">
                                    <div class="row align-items-center" style="height: 175px;">
                                        <div class="col-12 align-items-center text-center">
                                            <i class="fab fa-searchengin fa-5x"></i>
                                            <h4>No Data Found</h4>
                                        </div>
                                    </div>
                                 </td>  
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
             <!-- <div class="well bg-white shadow-b pr">
                <div class='pa bg-white top0 left0 z-index5 loading-wrapper schedule-loading-wrapper hide-element'>
                    <span class='spinner-dashboard pa'></span>
                </div>
                <div class="ibox mb0">
                    <div class="ibox-content no-padding no-border location_table">
                       
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>