<div class="row">
    <div class="col-sm-12">
        <div class="row" >
            <div class="col-sm-3 sticky-header-dash">
                <div class="dib border pa5 radius-capsule shadow-b float-left mb10">
                    <div class="btn-group btn-filter">
                        <input class="hide-element" type="radio" [name]="'type'" [value]="1" [checked]="viewType==1">
                        <label class="btn ml0" (click)="changeViewType(1)">Location</label>
                        <input class="hide-element" type="radio" [name]="'type'" [value]="2" [checked]="viewType==2">
                        <label class="btn" (click)="changeViewType(2)">Loads</label>
                        <input class="hide-element" type="radio" [name]="'type'" [value]="3" [checked]="viewType==3">
                        <label class="btn" (click)="changeViewType(3)">Sales</label>
                    </div>
                </div>
                <div class="dib switch-window ml20 pull-left mt5" *ngIf="viewType!=3">
                    <div class="btn-group">
                        <input class="hide-element" name="single" type="radio" [value]="1" [checked]="singleMulti==1">
                        <label class="btn ml0 first-icon" (click)="changeWindowType(1)" placement="bottom" ngbTooltip="Single Window"><i class="far fa-window-maximize fs14 mt3"></i></label>
                        <input class="hide-element" name="multiple" type="radio" [value]="2" [checked]="singleMulti==2">
                        <label class="btn last-icon" (click)="changeWindowType(2)" placement="bottom" ngbTooltip="Multi Window"><i class="far fa-window-restore fs14 mt3"></i></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <app-location [singleMulti]="singleMulti" *ngIf="viewType==1">Loading...</app-location>
                <app-where-is-my-driver [singleMulti]="singleMulti" *ngIf="viewType==2">Loading...</app-where-is-my-driver>
                <app-sales-data *ngIf="viewType==3">Loading...</app-sales-data>
            </div>
        </div>
    </div>

   
</div>


