::ng-deep agm-map {
    height: 60vh;
}

::ng-deep .gmap_location {
    position: relative;
}

::ng-deep .filters_panel {
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 0;
    width: 100%;
    padding: 10px 60px;
}

::ng-deep .filters_panel .filter_div {
    background: #ffffff;
    color: #000000;
    border-radius: 5px;
    padding: 10px;
}

::ng-deep .filters_panel .filter_div label {
    margin-bottom: 0;
}

::ng-deep .table .bg_must_go {
    background-color: #f5d0d0;
}

::ng-deep .table .bg_should_go {
    background-color: #f7e6a9;
}

::ng-deep .table .bg_could_go {
    background-color: #e4e2e2;
}

::ng-deep .filter-in-map {
    background: lightgrey;
    position: absolute;
    width: 80%;
    top: 20px;
    left: 20px;
    border-radius: 5px;
}

::ng-deep .driver-list {
    max-height: 335px;
    overflow: auto;
    margin-top: 10px;
    padding:0 8px;
}

::ng-deep .driver-initials {
    width: 36px;
    height: 36px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

::ng-deep .driver-details:hover {
    background: #f7f7f7;
    cursor: pointer;
}

.sticky-header-dash {
    position: fixed;
    padding: 10px 10px;
    top: 45px;
    left:0;
    height: 65px;
    font-size: 20px;
    z-index: 11;
    background: #fff !important;
    left:0;
    float:left;
}

.switch-window input[type="radio"]:checked + label {
    background-image: none;
    background-color: white;
    color: #1062d1;
    border: 1px solid #1062d1;
    border-radius: 5px 0 0 5px !important;
}

 .switch-window label.last-icon,
 .switch-window input[type="radio"]:checked + label.last-icon {
    border-radius: 0 5px 5px 0 !important;
    margin-left: 0 !important;
}

.switch-window label.first-icon {
    border-radius: 5px 0 0 5px !important;
}


.switch-window .btn {
    padding: 5px 10px !important;
    background-image: none;
    background-color: white;
    color: #D1D1D1;
    border: 1px solid #D1D1D1;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
}