
/*Moved map css to dispatcher-dashboard.component.css*/
// .locationfilter-in-map {
//     width: 90%;
// }


// .sticky-header-loc {
//     position: fixed;
//     right: 0;
//     padding: 15px 5px;
//     top: 45px;
//     height: 65px;
//     font-size: 20px;
//     z-index: 10;
//     background: #fff;
// }

// .locationfilter {
//     width: 90% !important;
//     position: absolute;
//     right: 5px;
//     border-radius: 5px;
//     font-size: 14px;
// }
// .carrier-managed-filter {
//     width: 75%;
//     position: absolute;
//     left: 15px;
//     border-radius: 5px;
//     font-size: 14px;
// }

// .right_side_panel {
//     padding: 0 10px 10px;
// }

//     .right_side_panel .close_btn {
//         right: 10px;
//         top: 5px;
//     }

//     .right_side_panel #myCarousel img {
//         max-height: 150px;
//         width: 100%;
//     }

//     .right_side_panel img {
//         max-height: 25vh !important;
//         margin: auto !important;
//     }

//     .right_side_panel .driver_details {
//         margin-top: 10px;
//     }

//         .right_side_panel .driver_details .site-status .panel-default {
//             background-color: white;
//             border: 0;
//         }

//         .right_side_panel .driver_details .site-status .panel-heading {
//             padding: 5px 0px;
//             background-color: white;
//             border: 0;
//         }

//         .right_side_panel .driver_details .site-status .panel-body {
//             padding: 5px 5px;
//         }

//         .right_side_panel .driver_details .site-status .panel-group {
//             margin-bottom: 0px;
//         }

//         .right_side_panel .driver_details .site-status .panel-heading a {
//             color: #000000;
//         }

// #dispatcher-datatable .bg_noDlr_go {
//     background-color: #e5e5e5;
// }

// .right_side_panel .driver_details .site-status .date_time {
//     padding: 5px;
// }

// .right_side_panel .assets-panel {
//     position: absolute;
//     top: 0;
//     left: 0;
//     background: #ffffff;
//     width: 100%;
//     /*height: 100%;*/
// }

// .assets-panel  .aseets-body .nav-tabs {
//     overflow-x: auto;
//     overflow-y: hidden;
//     display: -webkit-box;
//     display: -moz-box;
// }

//     .assets-panel .aseets-body .nav-tabs::-webkit-scrollbar-thumb {
//         background-color: #e3e3e3;
//         border-radius: 5px;
//         opacity: .2;
//     }

//     .assets-panel .aseets-body .nav-tabs::-webkit-scrollbar-track {
//         background-color: transparent;
//     }

//     .assets-panel .aseets-body .nav-tabs::-webkit-scrollbar {
//         width: 6px;
//         height: 4px;
//         overflow: scroll;
//         background-color: inherit;
//         border-radius: 5px;
//     }

//     .assets-panel .aseets-body .nav-tabs > li {
//         float: none;
//         padding-bottom:5px;
//     }
// .aseets-body .nav > li.active {
//     background: none !important;
// }
// .aseets-body .nav > li > a {
//     padding: 2px 0 !important;
//     border-width: 0 !important;
//     border-bottom: 2px solid #fff !important;
//     margin-right: 8px;
// }
// .aseets-body .nav > li.active > a {
//     padding: 2px 0 !important;
//     border-width: 0 !important;
//     border-bottom: 2px solid #0c52b1 !important;
//     color: #0c52b1;
// }
// .aseets-body .nav > li > a:hover {
//     border-width: 0 !important;
//     border-bottom: 2px solid #0c52b1 !important;
//     background: none !important;
//     color: #848484;
// }


// .right_side_panel .aseets-body .tab-content {
//     max-height: 310px;
//     overflow-y: auto;
//     overflow-x: hidden;
// }
// .right_side_panel .charts-panel {
//     position: absolute;
//     top: 0;
//     left: 0;
//     background: #ffffff;
//     width: 100%;
//     /*height: 100%;*/
// }

//     .right_side_panel .charts-panel .charts-header {
//         padding: 10px 5px;
//     }

//     .right_side_panel .charts-panel .charts-body {
//         max-height: 340px;
//         overflow-y: auto;
//         overflow-x: hidden;
//     }

// .show_filter {
//     width: 100%;
//     background: 0 0;
//     position: relative;
//     top: 0px;
//     left: 0px;
//     border-radius: 5px;
//     opacity: 1;
//     margin-top: 5px;
// }

// #assetDetailsModal .modal-header {
//     padding: 5px 15px;
//     border-bottom: 1px solid #e5e5e5;
// }

// .asset-details td {
//     padding: 4px 8px;
// }

// .aseets-body .nav-tabs {
//     border-bottom: 0;
// }

// table.dataTable.fixedHeader-floating {
//     top: 17px !important;
// }

// .display_hide {
//     display: none;
//     transition: opacity 1s ease-out;
//     opacity: 0;
// }

// table.dataTable.fixedHeader-locked {
//     position: fixed !important;
// }

// table.dataTable.fixedHeader-floating, table.dataTable.fixedHeader-locked {
//     top: 65px !important;
// }

// .carrier-popover.popover{
//     min-width: 300px;
//     max-width: 350px;
//     background: #F9F9F9;
//     border: 1px solid #E9E7E7;
//     box-sizing: border-box;
//     box-shadow: 10px 10px 8px -2px rgb(0, 0, 0, 0.13);
//     border-radius: 10px;
// }
// .carrier-popover.popover  .popover-body{
//     padding: 10px;
//     border-radius: 5px;
// }

// .multiselect-dropdown{
// font-size: 12px !important;
// }

// .activediff-dot {
//     height: 10px;
//     width: 10px;
//     background-color: #585bff;
//     border-radius: 50%;
//     display: inline-block;
//     animation: 1s blink ease infinite;
// }



/*Scss code start here*/
.locationfilter-in-map {
	width: 90%;
}
.sticky-header-loc {
	position: fixed;
	right: 0;
	padding: 15px 5px;
	top: 45px;
	height: 65px;
	font-size: 20px;
	z-index: 10;
	background: #fff;
}
.locationfilter {
	width: 90% !important;
	position: absolute;
	right: 5px;
	border-radius: 5px;
	font-size: 14px;
}
.carrier-managed-filter {
	width: 75%;
	position: absolute;
	left: 15px;
	border-radius: 5px;
	font-size: 14px;
}
.right_side_panel {
	padding: 0 10px 10px;
	.close_btn {
		right: 10px;
		top: 5px;
	}
	#myCarousel {
		img {
			max-height: 150px;
			width: 100%;
		}
	}
	img {
		max-height: 25vh !important;
		margin: auto !important;
	}
	.driver_details {
		margin-top: 10px;
		.site-status {
			.panel-default {
				background-color: white;
				border: 0;
			}
			.panel-heading {
				padding: 5px 0px;
				background-color: white;
				border: 0;
				a {
					color: #000000;
				}
			}
			.panel-body {
				padding: 5px 5px;
			}
			.panel-group {
				margin-bottom: 0px;
			}
			.date_time {
				padding: 5px;
			}
		}
	}
	.assets-panel {
		position: absolute;
		top: 0;
		left: 0;
		background: #ffffff;
		width: 100%;
	}
	.aseets-body {
		.tab-content {
			max-height: 310px;
			overflow-y: auto;
			overflow-x: hidden;
		}
	}
	.charts-panel {
		position: absolute;
		top: 0;
		left: 0;
		background: #ffffff;
		width: 100%;
		.charts-header {
			padding: 10px 5px;
		}
		.charts-body {
			max-height: 340px;
			overflow-y: auto;
			overflow-x: hidden;
		}
	}
}
#dispatcher-datatable {
	.bg_noDlr_go {
		background-color: #e5e5e5;
	}
}
.assets-panel {
	.aseets-body {
		.nav-tabs {
			overflow-x: auto;
			overflow-y: hidden;
			display: -webkit-box;
			display: -moz-box;
			&::-webkit-scrollbar-thumb {
				background-color: #e3e3e3;
				border-radius: 5px;
				opacity: .2;
			}
			&::-webkit-scrollbar-track {
				background-color: transparent;
			}
			&::-webkit-scrollbar {
				width: 6px;
				height: 4px;
				overflow: scroll;
				background-color: inherit;
				border-radius: 5px;
			}
			>li {
				float: none;
				padding-bottom: 5px;
			}
		}
	}
}
.aseets-body {
	.nav {
		>li.active {
			background: none !important;
			>a {
				padding: 2px 0 !important;
				border-width: 0 !important;
				border-bottom: 2px solid #0c52b1 !important;
				color: #0c52b1;
			}
		}
		>li {
			>a {
				padding: 2px 0 !important;
				border-width: 0 !important;
				border-bottom: 2px solid #fff !important;
				margin-right: 8px;
				&:hover {
					border-width: 0 !important;
					border-bottom: 2px solid #0c52b1 !important;
					background: none !important;
					color: #848484;
				}
			}
		}
	}
	.nav-tabs {
		border-bottom: 0;
	}
}
.show_filter {
	width: 100%;
	background: 0 0;
	position: relative;
	top: 0px;
	left: 0px;
	border-radius: 5px;
	opacity: 1;
	margin-top: 5px;
}
#assetDetailsModal {
	.modal-header {
		padding: 5px 15px;
		border-bottom: 1px solid #e5e5e5;
	}
}
.asset-details {
	td {
		padding: 4px 8px;
	}
}
table.dataTable.fixedHeader-floating {
	top: 17px !important;
	top: 65px !important;
}
.display_hide {
	display: none;
	transition: opacity 1s ease-out;
	opacity: 0;
}
table.dataTable.fixedHeader-locked {
	position: fixed !important;
	top: 65px !important;
}
.carrier-popover.popover {
	min-width: 300px;
	max-width: 350px;
	background: #F9F9F9;
	border: 1px solid #E9E7E7;
	box-sizing: border-box;
	box-shadow: 10px 10px 8px -2px rgb(0, 0, 0, 0.13);
	border-radius: 10px;
	.popover-body {
		padding: 10px;
		border-radius: 5px;
	}
}
.multiselect-dropdown {
	font-size: 12px !important;
}
.activediff-dot {
	height: 10px;
	width: 10px;
	background-color: #585bff;
	border-radius: 50%;
	display: inline-block;
	animation: 1s blink ease infinite;
}


.master-filter {
    &.popover {
        min-width: 425px;
        max-width: 450px;
        background: #F9F9F9;
        border: 1px solid #E9E7E7;
        box-sizing: border-box;
        box-shadow: 10px 10px 8px -2px rgb(0, 0, 0, 0.13);
        border-radius: 10px;
        .popover-body {
            // max-height: 350px;
            // overflow-y: auto;
            // overflow-x: hidden;
            padding: 0;
            border-radius: 5px;
			background: #ffffff;
        }
        .popover-details {
            padding: 15px;
            // max-height: 310px;
            // overflow-y: auto;

			.font-bold{
				font-weight: 600 !important;
			}
        }

		.border-bottom-2{
			border-bottom: 2px solid #e7eaec !important;
		}
    }
}

.circle-badge{
	position: absolute;
    top: -11px;
    left: -14px;
    background: rgb(250, 147, 147);
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
	width: 18px;
    height: 18px
}