table.dataTable.fixedHeader-locked {
    position: fixed !important;
}

table.dataTable.fixedHeader-floating, table.dataTable.fixedHeader-locked {
    top: 115px !important;

}

.sticky-header {
    position: -webkit-sticky;
    position: sticky;
    top: 110px;
    background-color: #ffffff;
    padding: 5px 15px;
    font-size: 20px;
    z-index: 9;
    text-align: right;
    border-radius: 10px;
    /* -webkit-box-shadow: 0 3px 15px 0 rgba(0,0,0,.1); */
    -moz-box-shadow: 0 3px 15px 0 rgba(0,0,0,.1);
    box-shadow: 0 3px -1px 0 rgba(0,0,0,.1);
    margin-bottom: 5px;
}


.priority-tabs .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px 10px 15px;
    color: #616161;
    font-size: 14px;
    font-weight: normal;
    border-radius: 5px;
    margin-right:5px;
}

.priority-tabs .nav > li > a:hover{
color:#ffffff;
}

.priority-tabs .nav-pills .nav-link.active {
    color: #ffffff;
}