.driver-details:nth-child(5n+1) .driver-initials {
    background: #f6af27;
}

.driver-details:nth-child(5n+2) .driver-initials {
    background: #ab47bc;
}

.driver-details:nth-child(5n+3) .driver-initials {
    background: #a5a5a5;
}

.driver-details:nth-child(5n+4) .driver-initials {
    background: #dc4949;
}

.driver-details:nth-child(5n+5) .driver-initials {
    background: #00897b;
}

/*.table.dataTable {
    margin-top: 0 !important;
}
*/
.sticky-header-wmd {
    position: fixed;
    right: 0;
    padding: 15px 20px;
    top: 45px;
    height: 65px;
    /*font-size: 20px;*/
    z-index: 10;
    background: #fff;
}


.locationfilter {
    width: 100%;
    position: absolute;
    right: 4px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 1010;
}

.sticky_header {
    position: -webkit-sticky;
    position: sticky;
    top: 45px;
    padding: 5px;
    font-size: 20px;
    z-index: 10;
    background: #fff;
    margin-bottom: 0px;
    margin-top: -10px;
    /*box-shadow: 0 3px 15px 0 rgba(0,0,0,.1);*/
    border-radius: 2px;
}

.display_hide {
    display: none;
    transition: opacity 1s ease-out;
    opacity: 0;
}

.expand_map_btn {
    position: absolute;
    top: 1px;
    right: 15px;
    background: #fff;
    border-radius: 2px 2px 2px 2px;
    padding: 3px;
    box-shadow: -2px 2px 6px 1px #aaa;
    z-index: 1;
}


.driver_btn {
    position: absolute;
    top: 15px;
    left: -35px;
    background: white;
    border-radius: 2px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 5px;
    box-shadow: -4px 0px 4px 0px #aaaaaa;
}

.absolute_driver {
    position: fixed;
    width: 25%;
    top: 100px;
    right: 0;
    background: #fff;
    z-index: 11;
    padding: 10px;
    box-shadow: 0 3px 15px 0 rgba(0,0,0,.1);
    border-radius: 10px;
}

.hide_absolute_driver {
    width: 0;
    right: -20px;
}

.activeRoute {
    font-weight: 600;
    cursor: pointer;
    background: #f5f5f5;
}

.live {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: green;
    position: absolute;
    top: -1px;
    right: 1px;
    transform: scale(1);
    animation: pulse 1s infinite;
}

.inactive {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: orange;
    position: absolute;
    top: -1px;
    right: 1px;
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }

    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}
