<div class="col-sm-9 sticky-header-wmd" [formGroup]="FilterForm">
    <div class="row">
        <div class="col-sm-5 pa0">
            <div class="row">
                <div class="col-sm-7">
                    <div class="form-check form-check-inline fs14 mt5">
                        <input class="form-check-input" type="checkbox" id="inlineCarrierManaged" formControlName="IsShowCarrierManaged">
                        <label class="form-check-label" for="inlineCarrierManaged"> Carrier Managed Locations</label>
                    </div>
                    <div class="mtm5" *ngIf="FilterForm.get('IsShowCarrierManaged').value">
                        <a class="fs14 ml20" [ngbPopover]="popContent" placement="bottom" popoverClass="carrier-popover" [autoClose]="'outside'">Select Carrier</a>
                        <ng-template #popContent>
                            <div class="col-sm-12 p-0">
                                <ng-multiselect-dropdown [formControl]="FilterForm.controls['SelectedCarriers']"
                                                         [settings]="CarrierDdlSettings"
                                                         [placeholder]="'Select Carrier'"
                                                         [data]="carrierList">
                                </ng-multiselect-dropdown>
                            </div>
                        </ng-template>
                    </div>
                </div>

                <div class="col-sm-5">

                    <!--<ng-multiselect-dropdown [formControl]="FilterForm.controls['SelectedRegions']"
                                             [settings]="RegionDdlSettings"
                                             [placeholder]="'Select Region'"
                                             [data]="Regions">
                    </ng-multiselect-dropdown>-->
                    <div #myDiv></div>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <!--<input type="text" placeholder="From Date" class="form-control datepicker" myDatePicker
                   [format]="'MM/DD/YYYY'" [maxDate]="MaxInputDate" (onDateChange)="setFromDate($event);"
                   formControlName="FromDate" autocomplete="off">-->
        </div>
        <div class="col-sm-2">
            <!--<input type="text" placeholder="To Date" class="form-control datepicker" myDatePicker
                   [format]="'MM/DD/YYYY'" [maxDate]="MaxInputDate" (onDateChange)="setToDate($event);"
                   formControlName="ToDate" autocomplete="off">-->
        </div>
        <div class="col-sm-3 pl0 text-right pt8"> <!--(clickOutside)="clickOutsideDropdown()"-->
            <!--<a class="fs14 mr10 mt10" (click)="toggleFilterView()"><i class="fas fa-filter mr5"></i> Filters</a>-->
            <a class="fs14 mr10" [ngbPopover]="popContent" placement="auto" [autoClose]="'outside'" container="body" triggers="manual" #p="ngbPopover" (click)="p.open()"
               popoverClass="master-filter"><i class="fas fa-filter mr5 ml20 pr"><span *ngIf="count>0" class="circle-badge">{{count}}</span></i>Filters</a>
            <a class="hide_show_map fs14 ml10" (click)="toggleMapView()">
                <i class="fas fa-eye mr5"></i>{{ FilterForm.get('ToggleMap').value ? 'Hide Map' : 'Show Map'}}
            </a>
            <!--<div class="text-right mr15 mt15" *ngIf="toogleFilter">
                <div class="pull-right">
                    <div class="locationfilter border mtm10 bg-gray shadow-b z-index5 pa10">
                        <div class="row">
                            <div class="col-sm-12 mb15">
                                <ng-multiselect-dropdown [formControl]="FilterForm.controls['SelectedStates']" [settings]="StateDdlSettings"
                                                         [placeholder]="'Select States'" [data]="RegionStates">
                                </ng-multiselect-dropdown>
                            </div>
                            <div class="col-sm-12 mb15">
                                <ng-multiselect-dropdown [formControl]="FilterForm.controls['SelectedPriorities']"
                                                         [settings]="PriorityDdlSettings" [placeholder]="'Select Priority'"
                                                         [data]="LoadPriorities">
                                </ng-multiselect-dropdown>
                            </div>
                            <div class="col-sm-12 mb15">
                                <ng-multiselect-dropdown [formControl]="FilterForm.controls['SelectedDispachers']"
                                                         [settings]="PriorityDdlSettings" [placeholder]="'Select Dispatcher'"
                                                         [data]="RegionDispachers">
                                </ng-multiselect-dropdown>
                            </div>
                            <div class="col-sm-12 mb15">
                                <ng-multiselect-dropdown [formControl]="FilterForm.controls['selectedLocAttributeList']"
                                                         [settings]="PriorityDdlSettings" [placeholder]="'Inventory Capture Method'"
                                                         [data]="LocationAttributeList">
                                </ng-multiselect-dropdown>
                            </div>
                            <div class="col-sm-12 mb15">
                                <select class="form-control" [formControl]="FilterForm.controls['SelectedCustomerId']">
                                    <option [value]=null>Select Customer</option>
                                    <option *ngFor="let customer of customerList" [value]="customer.CompanyId"
                                            [selected]="SelectedCustomerId==customer.CompanyId">
                                        {{customer.CompanyName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
    <ng-template #popContent>
        <div class="popover-details">
            <div class="row border-bottom-2">
                <div class="col-6 pr-0">
                    <div class="form-group">
                        <label class="font-bold" for="exampleFormControlInput1">Region</label>
                        <ng-multiselect-dropdown [formControl]="FilterForm.controls['SelectedRegions']"
                                                 [settings]="RegionDdlSettings"
                                                 [placeholder]="'Select Region'"
                                                 [data]="Regions">
                        </ng-multiselect-dropdown>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="font-bold" for="exampleFormControlInput1">States</label>
                        <ng-multiselect-dropdown [formControl]="FilterForm.controls['SelectedStates']" [settings]="StateDdlSettings"
                                                 [placeholder]="'Select States'" [data]="RegionStates">
                        </ng-multiselect-dropdown>
                    </div>
                </div>
            </div>
    
            <div class="row border-bottom-2 mt10">
                <div class="col-6 pr-0">
                    <div class="form-group">
                        <label class="font-bold" for="exampleFormControlInput1">From</label>
                        <input type="text" placeholder="From Date" class="form-control datepicker" myDatePicker
                               [format]="'MM/DD/YYYY'" [maxDate]="MaxInputDate" (onDateChange)="setFromDate($event);"
                               formControlName="FromDate" autocomplete="off">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="font-bold" for="exampleFormControlInput1">To</label>
                        <input type="text" placeholder="To Date" class="form-control datepicker" myDatePicker
                               [format]="'MM/DD/YYYY'" [maxDate]="MaxInputDate" (onDateChange)="setToDate($event);"
                               formControlName="ToDate" autocomplete="off">
                    </div>
                </div>
            </div>
    
            <div class="row border-bottom-2 mt10">
                <div class="col-6 pr-0">
                    <div class="form-group">
                        <label class="font-bold" for="exampleFormControlInput1">Priority</label>
                        <ng-multiselect-dropdown [formControl]="FilterForm.controls['SelectedPriorities']"
                                                 [settings]="PriorityDdlSettings" [placeholder]="'Select Priority'"
                                                 [data]="LoadPriorities">
                        </ng-multiselect-dropdown>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="font-bold" for="exampleFormControlInput1">Dispatcher</label>
                        <ng-multiselect-dropdown [formControl]="FilterForm.controls['SelectedDispachers']"
                                                 [settings]="PriorityDdlSettings" [placeholder]="'Select Dispatcher'"
                                                 [data]="RegionDispachers">
                        </ng-multiselect-dropdown>
                    </div>
                </div>
            </div>
            <div class="row border-bottom-2 mt10">
                <div class="col-6 pr-0">
                    <div class="form-group">
                        <label class="font-bold" for="exampleFormControlInput1">Inventory Data Capture</label>
                        <ng-multiselect-dropdown [formControl]="FilterForm.controls['selectedLocAttributeList']"
                                                 [settings]="PriorityDdlSettings" [placeholder]="'Inventory Data Capture'"
                                                 [data]="LocationAttributeList">
                        </ng-multiselect-dropdown>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="font-bold" for="exampleFormControlInput1">Select Customer</label>
                        <select class="form-control" [formControl]="FilterForm.controls['SelectedCustomerId']">
                            <option [value]=null>Select Customer</option>
                            <option *ngFor="let customer of customerList" [value]="customer.CompanyId"
                                    [selected]="SelectedCustomerId==customer.CompanyId">
                                {{customer.CompanyName}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-12 text-right">
                    <button type="button" (click)="ResetLoadFilters();" class="btn btn-default">
                        Reset
                    </button>
                    <button type="button" (click)="ApplyLoadFilters('set'); p.close();" class="btn btn-primary">
                        Save
                    </button>
                </div>
            </div>
        </div>
    
    </ng-template>
</div>
<app-where-is-my-driver-map-view *ngIf="(loadScreenType == 'Map' || loadScreenType == 'All')"
                                 [singleMulti]="singleMulti"
                                 [FilterForm]="FilterForm">
</app-where-is-my-driver-map-view>
<app-where-is-my-driver-grid-view *ngIf="(loadScreenType == 'Grid' || loadScreenType == 'All')"
                                  [singleMulti]="singleMulti"
                                  [FilterForm]="FilterForm" [IsFiltersLoaded]="IsFiltersLoaded">
</app-where-is-my-driver-grid-view>

