@{
    ViewBag.Title = "Terms";
    Layout = "~/Views/Shared/_LayoutOnboarding.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        @Html.GetFormattedResource(Resource.txtOnboardingEULA)
    </div>
</div>





