/* ==========================================================================
   SiteFuel custom styles
   ========================================================================== */

header {
    height: 52px;
    z-index: 100;
    border-bottom: 1px solid #e3e3e3;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.12);
}

main {
    padding-top: 50px;
    z-index: 99;
}

.main-wrapper {
    padding-top: 20px;
    min-height: 96%;
    padding-right:45px;
    padding-left:45px;
}

nav {
    width: 300px;
    top: 0px;
    z-index: 1000;
    background: white;
    overflow: auto;
    margin-top: 52px;
    box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.12);
    z-index:10005;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px 12px 5px;
    color: #616161;
    font-size: 14px;
    font-weight: normal;
    border-radius: 0px;
}

.nav .fa, .nav .far, .nav .fas, .nav .fab {
    width: 45px !important;
    text-align: center
}

.m-blue-bar {
    top: 0px;
    height: 55px;
    z-index: 1100;
}

nav.slider-menu {
    display: block !important;
}

.nav > li > a:hover, .nav > li > a:focus, .nav > li > a:hover > span > svg > path {
    background-color: #1062d1;
    border-radius: 0px;
    color: white;
    fill: #fff !important;
}
.nav > li > a:hover > span > svg > path.svg-detail{
    fill:#1062d1 !important;
}
.menu-links a {
    padding: 15px 0px;
    display: inline-block;
    margin-right: 30px;
    font-size: 16px;
}

    .menu-links a.active {
        border-bottom: 2px solid #1f2547;
    }


nav > li > a.active {
    background-color: #5c5b5b;
    border-radius: 0px !important;
    border-left: 5px solid #404040;
}

nav .submenu a {
    color: #616161;
    font-size: 14px;
    line-height: 30px;
    margin-top: 1px;
}
nav .submenu a.active {
    color: #fff;
}
nav .submenu a:hover {
    background: #f5f5f5;
    border-radius: 0px;
}
nav .submenu .active a:hover {
    background: #1062d1;
}


#mobile-menu-toggle {
    width: 25px;
    height: 30px;
    cursor: pointer;
    margin-top:12px;
}

    #mobile-menu-toggle span {
        height: 2px;
        top: 5px;
    }

        #mobile-menu-toggle span:nth-child(2) {
            top: 13px;
        }

        #mobile-menu-toggle span:nth-child(3) {
            top: 21px;
        }

    #mobile-menu-toggle.open span:nth-child(1) {
        top: 12px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    #mobile-menu-toggle.open span:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu-toggle.open span:nth-child(3) {
        top: 12px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }

.dashboard-box {
    height: 200px;
}

.map_canvas img {
    max-width: none;
}

.map_canvas {
    height: 320px;
    width: 100%;
}

.map_canvas_Dashboard {
    min-height: 250px !important;
    width: 100%;
}

.img-max50 {
    max-height: 50px;
    max-width: 50px;
}

.error-msg h1 {
    font-size: 40px;
}

.error-msg .fa {
    font-size: 50px;
}

.icon-wrapper {
    position: absolute;
    right:5px;
    top: 52px;
    position: fixed;
    z-index: 100;
}

.btn-question .fa {
    margin-left: -2px;
}


.btn-calculator a {
    background: #64ad04;
    border-color: #64ad04;
}

.btn-calculator .fa {
    margin-left: 2px;
}

/* ==========================================================================
   SiteFuel media-queries
   ========================================================================== */
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
    #mobile-menu-toggle {
        margin-left: 6px;
    }

    #user {
        /*margin-right: 13px;*/
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .main-wrapper {
        padding-right: 5px;
        padding-left: 5px;
    }
}

.nav > li.active,
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover,
.submenu li.active {
    border-left: 0 solid #0b4593;
    background-color: #1062d1;
    color: white;
}

#notifications-datatable tbody tr td {
    text-align: center;
}

    #notifications-datatable tbody tr td:first-child {
        text-align: left;
    }

.createNew {
    border: 1px solid #9f9fa0;
}

/*.dataTables_wrapper {
    padding-bottom: 0px;
}*/

#supplier-fuelrequest-datatable thead tr th:last-child,
#supplier-fuelrequest-datatable tbody tr td:last-child {
    white-space: nowrap;
}

td.details-control {
    background: url('../images/expand.png') no-repeat center center;
    cursor: pointer;
    width: 20px;
}

tr.shown td.details-control {
    background: url('../images/collapse.png') no-repeat center center;
    width: 20px;
}

#asset-datatable tr th:last-child, #asset-datatable tr td:last-child, #license-datatable tr td:last-child, #license-datatable tr td:last-child {
    text-align: center;
    width: 55px;
}

#assets-datatable thead tr th:first-child, #assets-datatable tbody tr td:first-child,
#address-datatable tbody tr td:last-child, #address-datatable thead tr th:last-child,
#invitedusers-datatable tbody tr td:last-child, #invitedusers-datatable tbody tr th:last-child,
#onboardedusers-datatable tbody tr td:last-child, #onboardedusers-datatable tbody tr th:last-child,
#license-datatable tbody tr th:last-child {
    text-align: center;
}

.btn.active {
    -webkit-box-shadow: inset 0 13px 13px rgba(0,0,0,.125);
    box-shadow: inset 0 13px 13px rgba(0,0,0,.125);
}

.scroll-to-top {
    padding: 10px;
    text-decoration: none;
    bottom: 25px;
    right: 0px;
    z-index: 10000;
    -webkit-animation-duration: 0.300s;
    -moz-animation-duration: 0.300s;
    animation-duration: 0.300s;
}

.supp-status .label-default {
    position: relative;
    top: 13px !important;
}

.schedule-trash .fa-trash-alt {
    margin-top: 9px;
}
/*.dataTables_wrapper td {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap; 
}*/

/*@media (min-width:768px) {
.dataTables_wrapper td
{
    word-break: break-word;
    word-wrap: break-word;
}
}*/

@media all and (max-width:768px) {
    .btn-circle.btn-lg {
        width: 40px;
        height: 40px;
        padding: 5px 11px;
        font-size: 16px;
    }

    .icon-wrapper {
        right: 13px;
    }
}

/*.dataTables_wrapper table tr td:first-child, .dataTables_wrapper table tr th:first-child,
table#supplier-fuelrequest-datatable tr td:nth-child(7), table#supplier-fuelrequest-datatable tr td:last-child,
table#supplierinvoice-datatable tr td:nth-child(7), table#supplierinvoice-datatable tr td:nth-child(9), table#supplierinvoice-datatable tr td:last-child,
table#supplierorderhistory-datatable tr td:nth-child(7), table#supplier-ddt-datatable tr td:nth-child(7),
table#supplier-ddt-datatable tr td:nth-child(9), table#supplier-ddt-datatable tr td:last-child, table#supplierorder-datatable tr td:nth-child(6),
table#job-datatable tr td:nth-child(6), table#job-datatable tr td:nth-child(7), table#buyerorder-datatable tr td:nth-child(9),
table#Buyerinvoice-datatable tr td:nth-child(8), table#Buyerinvoice-datatable tr td:nth-child(10),
table#Buyerinvoice-datatable tr td:nth-child(8), table#Buyerinvoice-datatable tr td:nth-child(10), table#Buyerinvoice-datatable tr td:nth-child(11),
table#buyerorder-invoice-datatable tr td:nth-child(3), table#buyerorder-ddt-datatable tr td:nth-child(3),
table#invitedusers-datatable tr td:last-child, table#sitefueluser-datatable tr td:nth-child(7) {
    white-space: nowrap !important;
}*/

/*table#Buyerinvoice-datatable tr td:last-child {
    white-space: normal !important
}

table#companyuser-datatable tr td:nth-child(2), table#companyuser-datatable tr td:nth-child(5) {
    word-break: break-all;
}*/

table#invitedusers-datatable tr td:nth-child(5), table#sitefueluser-datatable tr td:last-child {
    text-align: center
}

@media (min-width:997px) {
    /*.dataTables_wrapper {
        overflow-x: hidden !important;
    }
    #Buyerinvoice-datatable_wrapper.dataTables_wrapper, #supplierinvoice-datatable_wrapper.dataTables_wrapper,
    #buyerorder-ddt-datatable_wrapper.dataTables_wrapper, #buyerorder-invoice-datatable_wrapper.dataTables_wrapper,
    #job-datatable_wrapper.dataTables_wrapper, #buyer-fuelrequest-datatable_wrapper, #asset-datatable_wrapper, #buyerorder-datatable_wrapper {
        overflow-x: visible !important;
    }*/
    #modal-global-fuelcost .modal-dialog {
        width: 700px;
    }
}

.row-pointer tbody tr {
    cursor: pointer;
}

#previewthumbnail {
    position: absolute;
    border: 3px solid #c1c1c1;
    border-radius: 5px;
    display: none;
}

#files {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.upload-assets {
    width: 300px;
    margin-left:-115px;
    margin-top:35px;
}

.order-assets {
    width: 300px;
    margin: 30px 0 0 -178px;
}

.d-invoiceimage {
    left: 15%;
    top: 10%;
}

@media all and (max-width:991px) {
    .border-b.pb30 {
        padding-bottom: 0px;
    }
}

@media all and (min-width:768px) and (max-width:991px) {

    .trash-spacing img {
        margin-top: 32px;
    }
}

@media all and (max-width:767px) {
    .resetleftspace {
        padding-left: 15px;
    }

    .resetrightspace {
        padding-right: 15px;
    }

    .trash-spacing {
        padding-top: 0px;
        padding-left: 15px;
    }

        .trash-spacing img {
            margin-top: 0px !important;
        }

    .order-assets {
        margin: 30px 0 0 0;
    }
}

h4 {
    padding-top: 10px;
}

.form-control.subcontractors {
    width: 100%;
}

.notification-count {
    left: 26px;
    top: 2px;
    border-radius: 50px;
    padding: 4px 0px 0 0;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 9px;
}

.notifications-wrapper {
    max-height: 300px;
    width:300px !important;
    overflow-y: auto;
}
.notifications-wrapper a{
    white-space:normal !important;
    display:inline-block;
    line-height:20px !important;
}
.notification-viewall a {
    padding: 15px !important;
    text-align: center !important;
}
header .dropdown-menu.notifications-wrapper li span {
    width: 100%;
    text-align: left
}
.notification-content > div:nth-child(1) {
    width: 20%;
    font-size: 25px;
}

.notification-content > div:nth-child(2) {
    width: 85%;
    white-space: normal;
}

.notification-content > div:nth-child(3) {
    width: 15%;
}

.user-photo {
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: linear-gradient(#1ab394,#19a98c);
    background-image: -webkit-linear-gradient(#1ab394,#19a98c);
    font-style: normal;
}

#listUnreadMsgs {
    width: 300px;
    margin-top: 14px !important;
}

.txt-highlight, .txt-highlight label {
    color: #dc3c0c !important;
}

#listUnreadMsgs li:last-child a {
    text-align: center
}

.wrapper-jobs {
    min-height: 125px;
}
.address-wrapper{
    min-height:230px;
}

#appsettings-datatable tr td:nth-child(2) {
    word-break: break-word;
    word-wrap: break-word;
}

#appsettings-datatable tr td:nth-child(3) {
    width: 22%
}

#wrapper-newsfeed {
    max-height: 300px;
    overflow: auto;
}

.open > .multiselect.dropdown-toggle.btn-default:focus,
.multiselect.btn-default:focus, .multiselect, .multiselect.btn-default:hover, .multiselect.btn-default:visited,
.open > .multiselect.dropdown-toggle.btn-default.btn-user:focus,
.open > .multiselect.btn-default, .open > .multiselect.btn-default:hover {
    background-color: #ffffff !important;
    border-color: #aaaaaa !important;
    color: #444444;
    font-weight: 300;
    box-shadow: none;
    line-height: 14px;
}

.multiselect-container.dropdown-menu > .active > a:focus,
.multiselect-container.dropdown-menu > .active > a:hover, .multiselect-container.dropdown-menu > li > a:hover {
    background-color: #5897fb;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    color: #ffffff !important;
}

.multiselect-container.dropdown-menu > .active > a {
    background-color: #dddddd;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.business-subtype ~ .select2-container .select2-selection--single
{    height: 34px;
}
.business-subtype ~ .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 34px;
}
.business-subtype ~ .select2-container--default .select2-selection--single .select2-selection__arrow {
    top:4px;
}
.dashboard-grids{
    max-height:240px;
    overflow-y:auto;
}
