body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.container_full_height {
    height: 100%
}
.control-box .register-options {
    margin-bottom: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    border-radius: 10px;
    padding: 17px 0px 12px 0px;
}
.control-box .credential-box {
    box-shadow: 0 2px 4px rgba(0,0,0,.08);
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 30px;
    width: 430px;
    min-height: 330px;
    background: white;
}

.control-box input[type='text'], .control-box input[type='password'], .control-box select.form-control {
    height: 44px;
    border-radius: 5px;
    color: #686868;
}

.control-box .btn, .control-box button {
    background: #1062d1;
    border-radius: 40px;
    color: white;
    padding: 12px 40px;
}
    .control-box button.show-password {
        padding: 11px 10px;
        border-radius: 0 5px 5px 0;
    }
    .control-box .btn:hover, .control-box button:hover {
        color: white;
    }
.control-box label, .control-box .checkbox label {
    font-weight: 500;
    font-size: 12px;
}
.control-box .form-control:focus, .control-box .single-line:focus {
    border-color: #1062d1;
}
.control-box h1 {
    font-size: 22px;
}

.control-box .tabs-login div {
    width: 50%;
    float: left;
    border-bottom: 2px solid #e8e8e8;
    font-size: 18px;
}
.control-box .tabs-login .active {
    border-bottom: 2px solid #1062d1;
}
.control-box .app-features {
    background: #1062d1;
    border-radius: 10px 0 0 10px;
    width: 290px;
    padding: 20px;
    margin-top: 84px;
}
    .control-box .app-features ul li div:first-child {
        width: 50px;
    }
.control-box {
    width: 720px;
}
.control-box .footer-wrapper {
    margin: 20px auto 0;
    color:#cccccc;
}
.control-box .auth-logo {
    left: 28px;
    top: 32px;
}

@media all and (max-width:767px) {
    .control-box .app-features {
        display: none;
    }

    .control-box .control-box > div:last-child {
        width: 100%
    }

    .control-box .control-box {
        width: 100%
    }
    .control-box .credential-box {
        width: 100%
    }
    .control-box .auth-logo {
        position: relative;
        text-align: center;
        left: 0;
        padding-bottom: 45px;
    }
    
}

@media only screen and (max-width : 480px) {
    .login-xs-lg {
        float: none !important;
        text-align: center;
    }

    .control-box {
        width: 340px !important;
    }
}

.btn-okta {
    color: #090909 !important;
    background-color: white !important;
    background-image: url("../images/ico-parkland.png"),url("../images/ico-okta.png") !important;
    background-position: 15px 8px, 108px 10px !important;
    background-repeat: no-repeat !important;
    padding-left: 40px !important;
    padding-right: 60px !important;
}