
@model InvoiceFilterViewModel

<div class="row mb10">
    <div class="col-sm-12">
        <div class="well pb10 mb0">
            <div class="row">
                <div class="col-6 col-sm-3"><input type="text" id="txtSupplierOrderDropTicketFromDate" placeholder="@Resource.lblFrom" class="form-control datepicker" /></div>
                <div class="col-6 col-sm-3"><input type="text" id="txtSupplierOrderDropTicketToDate" placeholder="@Resource.lblTo" class="form-control datepicker" /></div>
                <div class="col-12 col-sm-3 mt5-xs">
                    <input type="button" class="btn btn-primary" value="@Resource.btnLabelApply" onclick="reloadDdtDataTable();" />
                    <input type="button" class="btn ml5" value="Clear" onclick="clearOrderDdtFilter();" />
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ddt-filter-grid">
    @Html.PartialFor("~/Areas/Supplier/Views/Shared/_PartialDigitalDropTicketGrid.cshtml", m => m)
</div>