
@using (Ajax.BeginForm("CompanyExceptions", "Exception", null,
    new AjaxOptions()
    {
        HttpMethod = "Post",
        LoadingElementId = "ajax-loading",
        OnSuccess = "showStatusMsg",
        OnFailure = "showStatusMsg",
        OnComplete = "updateFormJson",
        AllowCache = false
    }, new { id = "manage-exceptions" }))
{
    <div id="manage-exception-section" class="partial-section">
        <div id="manage-exception" class="partial-block-collection-section">
            @if (Model.Exceptions != null)
            {
                foreach (var item in Model.Exceptions)
                {
                    @Html.PartialFor("_PartialCompanyException", m => item)
                }
            }
            <div class="row well mb15">
                <div class="col-sm-12">
                    <div class="font-bold mb10">
                        <span class="font-bold text-label-color">No Data Manage Exception</span>
                    </div>
                </div>
                <div class="row col-sm-12">
                    <div class="col-sm-6 col-md-2">
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="font-bold mb5">
                            This exception will raise when:
                        </div>
                        <div class="mb5">
                            BOL/Lift Ticket image is missing
                        </div>
                        @*<div class="mb5">
                            Badge# is missing
                        </div>*@
                        <div class="mb5">
                            Pre & Post Dip is missing
                        </div>
                        <div class="mb5">
                            Drop Image is missing
                        </div>
                        <div class="mb5">
                            Signature is missing
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="font-bold mb5">
                            Resolution for invoicing
                        </div>
                        <div class="mb5">
                            Add BOL/Lift Ticket image
                        </div>
                        @*<div class="mb5">
                            Add Badge#
                        </div>*@
                        <div class="mb5">
                            Upadate Pre & Post Dip
                        </div>
                        <div class="mb5">
                            Add Drop Image
                        </div>
                        <div class="mb5">
                            Accept request for waiver
                        </div>
                        <div class="mb5">
                            Add Signature
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="mb5 font-bold text-primary font-italic mt15">
                            Note: This exception will only raise if user has enabled it from Order/Location/Account level setting
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    if (CurrentUser.IsSupplierAdmin)
    {
        <div class="row text-right">
            <div class="col-sm-2"></div>
            <div class="col-sm-10 text-right form-buttons">
                <input class="btn" type="button" value="@Resource.btnLabelCancel" onclick="location.href='@Url.Action("Index", "Dashboard", new { area = "Supplier" })'" />
                <input class="btn btn-lg btn-primary form-submit" type="submit" value="@Resource.btnLabelSubmit" disabled="disabled" />
            </div>
        </div>
    }
}
<script type="text/javascript">
    var formJsonReady = "";
    $(document).ready(function () {
        if ($("#manage-exceptions").length > 0) {
            formJsonReady = JSON.stringify($("#manage-exceptions").serializeArray());
        }
        $(document).on("change keyup", "#manage-exceptions :input", function () {
            formJsonCurrent = JSON.stringify($("#manage-exceptions").serializeArray());
            if (formJsonReady !== "" && formJsonReady != formJsonCurrent) {
                $(".form-submit").removeAttr("disabled");
            }
            else {
                $(".form-submit").attr("disabled", "disabled");
            }
        });
    });
    function updateFormJson() {
        formJsonReady = JSON.stringify($("#manage-exceptions").serializeArray());
        $(".form-submit").attr("disabled", "disabled");
    }
</script>