@model DeliveryFeeByQuantityViewModel

@using (Html.BeginCollectionItem("FuelRequestFee.DeliveryFeeByQuantity"))
{
    <div class="partial-block row">
        @Html.PartialFor("_PartialCommonDeliveryFeeByQuantity", m => m)
    </div>
}
