@model BrokerFilterViewModel

<div id="supplier-brokerordermap" class="mb15 col-sm-12">
    @*@Html.Partial("_PartialBrokerOrderMapView", Model)*@
</div>
@Html.Partial("_PartialBrokerOrdersGrid", Model)
<script>
    $(document).ready(function () {
        ReloadBrokerSupplierOrderMap();
    });

    function ReloadBrokerSupplierOrderMap() {
        var data = {
            Currency: getSelectedCountryAndCurrency().currencyType,
            CountryId: getSelectedCountryAndCurrency().countryId,
        };

        var url = '@Url.Action("GetBrokerMapData", "Broker", new { area = "Supplier" })';

        $.get(url, data, function (response) {
            $("#supplier-brokerordermap").empty().append(response);
        });
    }
</script>

