@model DashboardSupplierInvoicesViewModel
<div class="row">
    <div class="col-sm-12">
        <h2 class="fs16 f-normal mb15 mt0">
            <span class="fa fa-money mr5"></span> @Html.ActionLink(Resource.lblDropTickets, "DropTicketsView", "Invoice", new { area = "Supplier", groupIds = Model.GroupIds }, new { @class = "" })
        </h2>
    </div>
</div>
<canvas id="ddtPieChart" class="mt10 mb20" height="120"></canvas>

