@model UpdateImagesModel

@using (Html.BeginCollectionItem("ImagesModels"))
{
    <div class="partial-block row">
        @Html.PartialFor("~/Areas/Supplier/Views/Shared/_PartialUploadInvoiceImagesForBDN.cshtml", m => m)
    </div>
}
