@model OrderFilterViewModel

<div id="supplier-ordermap" class="mapheight">
</div>
<script>
    $(document).ready(function () {
        ReloadSupplierOrderMap();
    });

    function ReloadSupplierOrderMap() {
        var data = {
             JobId : '@Model.JobId',
             Filter : '@Model.Filter',
             Currency : getSelectedCountryAndCurrency().currencyType,
             CountryId : getSelectedCountryAndCurrency().countryId,
             GroupIds: getCompanyGroup().groupIds,
        };

        var url = '@Url.Action("PartialMapView", "Order", new { area = "Supplier" })';

        $.get(url, data, function (response) {
            $("#supplier-ordermap").empty().append(response);
        });
    }
</script>
