@model AdditionalFeeViewModel

@using (Html.BeginCollectionItem("Terms.FuelRequestFee.AdditionalFee"))
{
    <div class="partial-block">
            @Html.PartialFor("_PartialCommonAdditionalFee", m => m)
    </div>
}
