@model OrderFilterViewModel
<div class="row">
    <div class="col-md-12">
        @Html.Partial("_PartialBrokeredFuelRequestGrid", Model)
    </div>
</div>
<div class="row mt10">
    <div class="col-sm-12">
        <h4>@Resource.headingCounterOffers</h4>
    </div>
</div>
<div class="row" id="CounterOfferGrid">
    <div class="col-sm-12">
        @Html.Partial("_PartialBrokeredCounterOffersGrid", new FuelRequestFilterViewModel() { FuelRequestId = 0, CountryId = Model.CountryId, Currency = Model.Currency })
    </div>
</div>
