@{
    ViewBag.Title = @Resource.headingWhereIsMyDriver;
}

<div id="whereismydriver-map">
    @Html.Partial("_PartialWhereIsMyDriverMapView")
</div>
<div class="row">
    <div class="col-sm-12" id="driverdropdetails">
        @Html.Partial("_PartialDriverDropDetails")
    </div>
</div>