.location-panel {
    height: calc(100vh - 130px);
    max-height: calc(100vh - 160px);
    overflow-y: auto;
}

.location-chart-panel {
    max-height: calc(100vh - 160px);
    overflow-y: auto;
    margin-right: -20px;
}

.tank-container {
    max-height: calc(100vh - 195px);
    overflow-y: auto;
}

.table-scroll{
    height: calc(100vh - 240px);
    max-height: calc(100vh - 160px);
    overflow-y: auto;
}

.tank-view.table > tbody > tr > td{
    padding: 4px 8px;
}

.table.tank-view-child > tbody > tr:first-child td{
    border-top: 0px solid #e7eaec;
}
.table.tank-view-child > tbody > tr > td{
    padding: 4px 8px;
}
.table.tank-view-child{
    margin-bottom: 5px;
}

.table.tank-view-child .active{
    font-weight: 700;
    color: brown;
}


.location-accordion .card,
.location-accordion .card:last-child .card-header {
    border: none;
}

.location-accordion .card-header {
    background: transparent;
    border-bottom: 0;
    padding: 0;
}

.location-accordion .card-header:hover {
    background: #e2e0ff5e !important;
}

.location-accordion .card-body {
    padding: 0px;
    margin-left: -8px;
    margin-right: -8px;
}

.location-accordion .fa-stack {
    font-size: 8px;
}

.location-accordion .list-group-item {
    border: 0;
}

.location-accordion .list-group-item.active {
    background-color: transparent;
}

.location-accordion .list-group-item.active a {
    color: #1062d1;
    font-weight: bold;
}

.location-accordion .list-group-item a {
    color: #616161;
}

.location-accordion .btn {
    width: 100%;
    color: #004987;
    padding: 0;
}

.icon-color-b {
    color: #1062d1;
}

.location-accordion .btn-link:hover,
.location-accordion .btn-link:focus {
    text-decoration: none;
}


.location-accordion .btn-link {
    color: #616161 !important;
}

.location-accordion .list-group-item {
    padding: 3px 20px;
}

.bg-change {
    background: #e2e0ff5e !important;
    font-weight: bold;
}

.location-accordion .active-dot {
    height: 10px;
    width: 10px;
    background-color: #ff5858;
    border-radius: 50%;
    display: inline-block;
    animation: 1s blink ease infinite;
}


@keyframes blink {

    from,
    to {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@-moz-keyframes blink {

    from,
    to {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {

    from,
    to {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@-ms-keyframes blink {

    from,
    to {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@-o-keyframes blink {

    from,
    to {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

.tank-status {
    width: 80px;
    height: 80px;
    border: 5px solid gray;
    color: #ddd;
    position: relative;
    border-radius: 100px;
    overflow: hidden;
    margin: 0 auto;
}

.tank-status .filled {
    background: #1062d1;
    width: 100%;
    bottom: -1px;
    position: absolute;
    border-radius: 0 0 90px 90px;
    border: 1px solid #1062d1;
}

.filled-percent,
.empty-percent {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
}

.filled-percent {
    top: 24%;
}

.empty-percent {
    top: -16px;
    color: black;
}

.tank-container .badge-success,
.tank-container .badge-warning {
    font-weight: normal;
    color: #383838 !important;
}

.tank-container .badge-success {
    background: #aed7a2;
}

.tank-container .badge-warning {
    background: #ecd89c;
}

.dr-panel {
    background: #FFFFFF;
    border-radius: 5px;
    padding: 10px;
}

.dr-panel .header .tank-name {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.25px;
    color: #4A4A4A;
    margin-right: 5px;
}

.dr-panel .header .product-type {
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.25px;
    color: #4A4A4A;
    margin-right: 5px;
}

.dr-panel .header .left-days {
    float: right;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.25px;
    color: #F45656;
}

.dr-panel .header .last-reading {
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.25px;
    color: #7C7C7C;
}

.dr-panel .dr-panel-body .small-label {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.25px;
    color: #4A4A4A;
    padding: 5px 15px;
    padding-left: 0;
}

.dr-panel .dr-panel-body .small-value {
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.25px;
    color: #4A4A4A;
    padding: 5px 5px;
}

.mlr-5{
    margin-right: 5px;
    margin-left: 0px;
}

.angular-copy-icon {
    margin-left: -20px;
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    right: 0;
    top: -20px;
}

.collapsed_btn[aria-expanded="true"] .fa-chevron-down{
    display: none;
}

.collapsed_btn[aria-expanded="false"] .fa-chevron-up{
    display: none;
}

.tank-container .badge-info {
    background: #9cdcec;
}