<div *ngIf="IsLoading" class="pa top0 bg-white left0 z-index5 loading-wrapper"><span class="spinner-dashboard pa"></span></div>
<agm-map [zoom]="zoomLevel" style="height: 60vh;" [maxZoom]="16" [minZoom]="2" [mapTypeControl]="true" [fullscreenControl]="true" [fullscreenControlOptions]="screenOptions" (mapReady)="mapReady($event)" [latitude]="mapConstants.CenterLat" [longitude]="mapConstants.CenterLon">
    <ng-container *ngFor="let port of marinePortsData">
        <agm-marker [latitude]="port.Latitude" [longitude]="port.Longitude" [iconUrl]="mapConstants.IconUrl" (mouseOver)="mouseHoverMarker(infoWindow,$event)" (mouseOut)="mouseHoveOutMarker(infoWindow,$event)">
            <agm-info-window [disableAutoPan]="false" #infoWindow>
                <div>
                    <p><strong>{{ port.JobName}}</strong></p>
                </div>
            </agm-info-window>
        </agm-marker>
    </ng-container>
</agm-map>
