<div class="small-tab" id="driverManagement-Tab">
    <div class="row">
        <div class="col-sm-10">
            <ul class="nav nav-tabs mb15" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active fs16 mr15" id="home-tab" data-toggle="tab" href="#code" (click)="changeTab(1)" role="tab" aria-controls="home" aria-selected="true">Terminal Supplier</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs16 mr15" id="profile-tab" data-toggle="tab" href="#desc" (click)="changeTab(2)" role="tab" aria-controls="profile" aria-selected="false">Terminal Item Description</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-2 text-right">
            <div class="drop-down">
                <select name="options" class="form-control col-sm-6 float-right" [(ngModel)]="selectedCountry">
                    <option class="can" [value]="2"
                            style="background-image:url('/src/assets/CAN.svg');">
                        CAN
                    </option>
                    <option class="usa" [value]="1"
                            style="background-image:url('/src/assets/USA.svg');">
                        USA
                    </option>
                    
                </select>
            </div>
        </div>
    </div>

 
    <div class="tab-content">
        <div id="code" class="tab-pane fade show active">
            <div *ngIf="isShowCode">
                <app-terminal-code [selectedCountry]="selectedCountry"></app-terminal-code>
            </div>

        </div>
        <div id="desc" class="tab-pane fade">
            <div *ngIf="isShowDesc">
                <app-terminal-description [selectedCountry]="selectedCountry"></app-terminal-description>
            </div>

        </div>
    </div>
</div>

<!-- <div class="loader" *ngIf="(regionService.onLoadingChanged | async)">
    <div class="loading-content text-center">
        <div class="spinner"></div>
        <div class="font-bold">Loading...</div>
    </div>
</div> -->