@model DifferentFuelPriceViewModel

@using (Html.BeginCollectionItem("FuelRequestResale.DifferentFuelPrices"))
{
    <div class="partial-block">
        @Html.PartialFor("_PartialCommonDifferentFuelPrice", m => m)
    </div>
}