@model InvoiceFilterViewModel

<div id="buyer-invoicemap" class="row mapheight">
</div>
<script>
    $(document).ready(function () {
        ReloadBuyerInvoiceMap();
    });

    function ReloadBuyerInvoiceMap() {
        var data = {
            JobId: '@Model.JobId',
            Filter: '@Model.Filter',
            Currency: getSelectedCountryAndCurrency().currencyType,
            CountryId: getSelectedCountryAndCurrency().countryId,
            GroupIds: getCompanyGroup().groupIds,
        };

        var url = '@Url.Action("PartialMapView", "Invoice", new { area = "Buyer" })';
        $.get(url, data, function (response) {
            $("#buyer-invoicemap").empty().append(response);
        });
    }
</script>
