@model SiteFuel.Exchange.ViewModels.DeliveryScheduleViewModel
@Html.PartialFor("_PartialCommonDeliverySchedule", m => m)
<div class="row">
    <div class="col-sm-6">
        @Html.HiddenFor(m => m.DriverId)
        <span>@Model.DriverName</span>
    </div>
    <div class="col-sm-6">
        <div class="row">
            @Html.Partial("_PartialCommonDeliveryScheduleStatus", Model.StatusId)
        </div>
    </div>
</div>