@model JobFilterViewModel

<div id="buyer-jobmap" class="row mapheight">
</div>
<script>
    $(document).ready(function () {
        ReloadBuyerJobMap();
    });

    function ReloadBuyerJobMap() {
        var data = {
            Id: '@Model.Id',
            Filter: '@Model.Filter',
            Currency: getSelectedCountryAndCurrency().currencyType,
            CountryId: getSelectedCountryAndCurrency().countryId
        };

        var url = '@Url.Action("PartialMapView", "Job", new { area = "Buyer" })';

        $.get(url, data, function (response) {
            $("#buyer-jobmap").empty().append(response);
        });
    }
</script>
