@model InvoiceDetailViewModel
<div id="invoice-history">
    @if (Model.Invoice.InvoiceTypeId == (int)InvoiceType.DigitalDropTicketManual || Model.Invoice.InvoiceTypeId == (int)InvoiceType.DigitalDropTicketMobileApp)
    {
        @Html.Partial("_PartialDropTicketHistoryGrid", Model.Invoice.InvoiceNumber.Id)
    }
    else
    {
        @Html.Partial("_PartialInvoiceHistoryGrid", Model.Invoice.InvoiceNumber.Id)
    }
    @if (Model.IsApprovalWorkflowEnabled && ((Model.Invoice.StatusId != (int)InvoiceStatus.WaitingForApproval && Model.Invoice.StatusId != (int)InvoiceStatus.Unassigned && !Model.IsRejectedAndWaitingApproval) ||
            ((Model.Invoice.StatusId == (int)InvoiceStatus.WaitingForApproval || Model.IsRejectedAndWaitingApproval) && (CurrentUser.IsBuyerAdmin || CurrentUser.Id == Model.ApprovalUserId))))
    {
        @Html.Partial("_PartialInvoiceApprovalHistoryGrid", Model.Invoice)
    }
</div>