@model SiteFuel.Exchange.ViewModels.DeliveryScheduleViewModel

@using (Html.BeginCollectionItem("FuelDeliveryDetails.DeliverySchedules"))
{
    <div class="col-sm-12 partial-block row">
        @Html.PartialFor("_PartialCommonDeliverySchedule", m => m)
        <div class="row col-sm-12">
            <div class="col-sm-6 pa0">
                @Html.HiddenFor(m => m.DriverId)
                <span>@Model.DriverName</span>
            </div>
        </div>
    </div>
}
