<div class="row">
    <div class="col-12 col-sm-12" id="addDriver">
        <h4 class="pt0 pull-left mb5">Invited</h4>
        <a (click)="setPanelHeader('Add Driver')" onclick="slidePanel('#driver-panel','35%')" class="fs18 pull-left ml15">
            <i class="fa fa-plus-circle fs18 mt2 pull-left"></i><span class="fs14 pull-left">Add Driver</span>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="well bg-white shadowb-b">
            <div class="ibox mb0">
                <div class="ibox-content no-padding no-border">
                    <div id="div-invited-driver-grid" class="table-responsive">
                        <!--Enum - GridName.InvitedDriverSummaryGrid - 17-->
                        <table id="invited-driver-grid-datatable" data-gridname="17" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th data-key="InvitedDriverName">Driver Name</th>
                                    <th data-key="InvitedEmail">Email</th>
                                    <th data-key="InvitedContactNumber">Contact Number</th>
                                    <th data-key="InvitedCompanyName">Company Name</th>
                                    <th data-key="InvitedLicenseNumber">Licence Number</th>
                                    <th data-key="InvitedLicenseType">Licence Type</th>
                                    <th data-key="InvitedExpiryDate">Expiration Date</th>
                                    <th data-key="InvitedTrailerTypes">Trailer Type(s)</th>
                                    <th data-key="InvitedFilldAuthorized">TrueFill Inc.Compatible</th>
                                    <th data-key="InvitedShiftInfo">Shift Info</th>
                                    <th data-key="InvitedAction">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let driver of InvitedDrivers">
                                    <td>
                                        <a (click)="setPanelHeader('Edit Driver');editDriver(driver, false);" class="btn btn-link" onclick="slidePanel('#driver-panel','30%')">
                                            <span>{{driver.FirstName}} {{driver.LastName}}</span>
                                        </a>
                                    </td>
                                    <td>{{driver.Email}}</td>
                                    <td>
                                        <span *ngIf="driver.ContactNumber != null">{{driver.ContactNumber}}</span>
                                        <span *ngIf="driver.ContactNumber == null">--</span>
                                    </td>
                                    <td>
                                        <span *ngIf="driver.CompanyName != null">{{driver.CompanyName}}</span>
                                        <span *ngIf="driver.CompanyName == null">--</span>
                                    </td>
                                    <td>
                                        <span *ngIf="driver.LicenseNumber != null">{{driver.LicenseNumber}}</span>
                                        <span *ngIf="driver.LicenseNumber == null">--</span>
                                    </td>
                                    <td>
                                        <span *ngIf="driver.DisplayLicenseType != null">{{driver.DisplayLicenseType}}</span>
                                        <span *ngIf="driver.DisplayLicenseType == null">--</span>
                                    </td>
                                    <td>
                                        <span *ngIf="driver.ExpiryDate != null">{{driver.ExpiryDate}}</span>
                                        <span *ngIf="driver.ExpiryDate == null">--</span>
                                    </td>
                                    <td>
                                        <span *ngIf="driver.DisplayTrailerTypes != null">{{driver.DisplayTrailerTypes}}</span>
                                        <span *ngIf="driver.DisplayTrailerTypes == null">--</span>
                                    </td>
                                    <td>
                                        <span *ngIf="driver.IsFilldAuthorized != null">{{driver.IsFilldAuthorized?'Yes':'No'}}</span>
                                        <span *ngIf="driver.IsFilldAuthorized == null">No</span>
                                    </td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-link" (click)="showDriverShifts(driver)" data-toggle="modal" data-target="#driverShiftsModal">
                                            <i class="far fa-clock-o color-blue fs16" alt="Shifts" title="Shifts"></i>
                                        </button>
                                    </td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#confirm-delete-driver" (click)="setdeleteDriver(driver)"><i class="fas fa-trash-alt color-maroon" alt="Delete" title="Delete"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt15">
    <div class="col-md-12 mt10">
        <h4 class="pt0 pull-left mb5">Onboarded</h4>
    </div>
    <div class="col-md-12">
        <div class="well bg-white shadowb-b">
            <div class="ibox mb0">
                <div class="ibox-content no-padding no-border">
                    <div id="div-onboarded-driver-grid" class="table-responsive">
                        <!--Enum - GridName.OnboardedDriverSummaryGrid - 22-->
                        <table id="onboarded-driver-grid-datatable" data-gridname="22" datatable [dtOptions]="dtOptionsOnboarded" [dtTrigger]="dtTriggerOnboarded" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th data-key="OnboardedDriverName">Driver Name</th>
                                    <th data-key="OnboardedEmail">Email</th>
                                    <th data-key="OnboardedContactNumber">Contact Number</th>
                                    <th data-key="OnboardedCompanyName">Company Name</th>
                                    <th data-key="OnboardedLicenseNumber">Licence Number</th>
                                    <th data-key="OnboardedLicenseType">Licence Type</th>
                                    <th data-key="OnboardedExpiryDate">Expiration Date</th>
                                    <th data-key="OnboardedTrailerTypes">Trailer Type</th>
                                    <th data-key="InvitedFilldAuthorized">TrueFill Inc.Compatible</th>
                                    <th data-key="OnboardedShiftInfo">Shift Info</th>
                                    <th data-key="OnboardedAction">Active</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let driver of OnboardedDrivers">
                                    <td>
                                        <a (click)="setPanelHeader('Edit Driver');editDriver(driver, true);" class="btn btn-link" onclick="slidePanel('#driver-panel','30%')">
                                            <span>{{driver.FirstName}} {{driver.LastName}}</span>
                                        </a>
                                    </td>
                                    <td>{{driver.Email}}</td>
                                    <td>
                                        <span *ngIf="driver.ContactNumber != null">{{driver.ContactNumber}}</span>
                                        <span *ngIf="driver.ContactNumber == null">--</span>
                                    </td>
                                    <td>
                                        <span *ngIf="driver.CompanyName != null">{{driver.CompanyName}}</span>
                                        <span *ngIf="driver.CompanyName == null">--</span>
                                    </td>
                                    <td>
                                        <span *ngIf="driver.LicenseNumber != null">{{driver.LicenseNumber}}</span>
                                        <span *ngIf="driver.LicenseNumber == null">--</span>
                                    </td>
                                    <td>
                                        <span *ngIf="driver.DisplayLicenseType != null">{{driver.DisplayLicenseType}}</span>
                                        <span *ngIf="driver.DisplayLicenseType == null">--</span>
                                    </td>
                                    <td>
                                        <span *ngIf="driver.ExpiryDate != null">{{driver.ExpiryDate}}</span>
                                        <span *ngIf="driver.ExpiryDate == null">--</span>
                                    </td>
                                    <td>
                                        <span *ngIf="driver.DisplayTrailerTypes != null">{{driver.DisplayTrailerTypes}}</span>
                                        <span *ngIf="driver.DisplayTrailerTypes == null">--</span>
                                    </td>
                                    <td>
                                        <span *ngIf="driver.IsFilldAuthorized != null">{{driver.IsFilldAuthorized?'Yes':'No'}}</span>
                                        <span *ngIf="driver.IsFilldAuthorized == null">No</span>
                                    </td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-link" (click)="showDriverShifts(driver)" data-toggle="modal" data-target="#driverShiftsModal">
                                            <i class="far fa-clock-o color-blue fs16" alt="Shifts" title="Shifts"></i>
                                        </button>
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" (confirm)="changeDriverStatus(driver)" [(ngModel)]="driver.IsActive" mwlConfirmationPopover [popoverTitle]="popoverTitle" [confirmText]="confirmButtonText" [cancelText]="cancelButtonText" placement="bottom" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="driver-panel" class="side-panel pl5 pr5">
    <div class="side-panel-wrapper">
        <div class="pt15 pb0 mb10">
            <a class="ml15 close-panel" (click)="clearPanelControls()" onclick="closeSlidePanel();"><i class="fa fa-close fs18"></i></a>
            <h3 class="dib mt0 mb0 ml15">{{HeaderText}}</h3>
        </div>
        <div>
            <app-create-driver #createDriver (onSaveDriverData)="getDriverDetails()"></app-create-driver>
        </div>
    </div>
</div>
<div id="driverShiftsModal" class="modal fade" role="dialog" *ngIf="IsShowShiftInfoPopup">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pt10 pb5">
                <h4 class="modal-title pt0">{{ShiftInfo.DriverName}}</h4>
                <button type="button" class="close" data-dismiss="modal" (click)="closeDriverShiftsPopup();">&times;</button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Shift</th>
                            <th>From Date</th>
                            <th>To Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let shift of ShiftInfo.Shifts">
                            <td>{{shift.ShiftFrom}} - {{shift.ShiftTo}}</td>
                            <td>{{shift.FromDate}}</td>
                            <td>{{shift.ToDate}}</td>
                        </tr>
                        <tr *ngIf="ShiftInfo.Shifts == null || ShiftInfo.Shifts.length == 0">
                            <td colspan="3" class="text-center pa5">No schedule found</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="closeDriverShiftsPopup()" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="loader" *ngIf="IsLoading">
    <div class="loading-content text-center">
        <div class="spinner"></div>
        <div class="font-bold">Loading...</div>
    </div>
</div>

<!-- Confirmation -->
<div class="modal fade confirm-box" id="confirm-delete-driver" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="pa top0 bg-white left0 z-index5 loading-wrapper" *ngIf="IsLoadingdriverDelete" id="deleteDriverLoading"><span class="spinner-dashboard pa"></span></div>
                <button type="button" class="close color-grey pull-right pa" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
                <h2 class="fs18 f-bold mt0">Are you sure?</h2>
                <p class="pb10" id="deleteDelGrpHeading" *ngIf="IsScheduleExists">Driver schedule exists.</p>
                <div class="text-right">
                    <button type="button" class="btn btn-danger btn-lg btnDriverYes" (click)="deleteDriver()">Confirm</button>
                    <button type="button" id="btnDriverCancel" class="btn btn-primary" data-dismiss="modal">Cancel</button>

                </div>
            </div>
        </div>
    </div>
</div>
