mwl-confirmation-popover-window .popover.bottom {
    margin-top: 65px;
}

.carrier-assignment {
    height: calc(100vh - 192px);
    overflow-y: auto;
    overflow-x: hidden;
}

aside {
    width: 80%;
}

.dual-list .list-group {
    margin-top: 8px;
    height: 300px;
    overflow-y: auto;
}

   .dual-list .list-group .list-group-item {
        border: 0px solid #e7eaec;
    }

    .dual-list .list-group .list-group-item:hover {
        background-color: #3a8feb85;
        border-color: #f2f3f485;
    }


.dual-list .list-group .list-group-item.active a {
    color: #ffffff !important;
}
    .dual-list .list-group .list-group-item.active i {
        color: #ffffff !important;
    }

    .list-left li, .list-right li {
        cursor: pointer;
        text-align: left;
    }

.list-arrows {
    padding-top: 100px;
}

    .list-arrows button {
        margin-bottom: 20px;
    }

.chk-custom-all {
    max-width: 40px;
    padding: 6px 12px;
    float: right !important;
}
.ng-sidebar{
    z-index:3 !important;
}

.trncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
