.dr-wrapper {
    background: #F0F1F2;
}
.ng-autocomplete {
    width:100% !important;
    display: table;
    margin: 0 auto;
  }
  .ng-autocomplete .input-container{
      margin-bottom: 10px !important;
  }
 .autocomplete-container .suggestions-container ul li a {
    padding: 8px 15px !important;
    display: block;
    text-decoration: none;
    cursor: pointer;
    color: rgba(0,0,0,.87);
    font-size: 12px !important;
}
.no-scroll {
    overflow: unset !important;
}

.dark-gradient {
    background: #de6161; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2657eb, #de6161); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2657eb, #de6161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
}

.dark-gradient input {
    border-radius: 10px;
}

#confirm-delete .modal-body {
    padding: 15px !important
}

#confirm-delete .modal-dialog {
    width: 350px !important
}

.schedule-panel {
    transition: width 400ms;
}

/*.delivery-panel {
    margin-top: 37px;
    width: 25%;
    position: absolute;
    right: 0;
}*/

.delivery-panel {
    width: 30%;
    position: absolute;
    right: 75px;
    bottom: 0;
    /*z-index: 1000;*/
    background: white;
    /*box-shadow: 0 2px 4px rgba(0,0,0,.08);*/
    box-shadow: -15px 10px 35px rgba(0,0,0,.08);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 10;
}

.delivery-panel_body {
    display: none;
}

.delivery-group-heading {
    background: #696767 !important;
    color: white;
    /*box-shadow: 0 2px 4px rgba(0,0,0,.08);*/
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.delivery-group-heading h1 {
    margin-bottom: 0px !important;
}

.display_body {
    display: block !important;
    /*box-shadow: 0 2px 4px rgba(0,0,0,.08);*/
    background: white;
}

.overflow-y-60 {
    height: 65vh;
    overflow-y: auto;
}


.slideInRight {
    -webkit-animation-duration: 400ms;
    animation-duration: 400ms;
}

input:focus + .auto-select {
    display: inline-block
}

input + .auto-select:hover {
    display: inline-block;
}

input + .auto-select {
    display: none;
}

.auto-select {
    list-style: none;
    position: absolute;
    width: 100%;
    background-color: white;
    padding: 0;
    z-index: 10;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
    border: 1px solid #e5e6e7;
    max-height: 250px;
    overflow-y: auto;
}

.auto-select li {
    padding: 10px 5px;
    border-bottom: 1px solid #e5e6e7;
}

.auto-select li:hover {
    background-color: #f8f8f8;
    cursor: pointer;
}

.auto-select li[selected="true"],
.auto-select li:active {
    background-color: #dee0f2;
    cursor: pointer;
}

.auto-select li:last-child {
    padding: 10px 5px;
    border-bottom: none;
}

.dg-header {
    display: inline-block;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    width: 85%;
}

.zip-code {
    text-transform: uppercase;
}

.blend-first {
    border-bottom: none !important;
    background-color: aliceblue;
    border-radius:5px 5px 0 0 !important
}
.blend-middle {
    border-bottom: none !important;
    border-top: none !important;
    margin-top: 0px !important;
    background-color: aliceblue;
    border-radius: 0 !important
}

.blend-last {
    border-top: none !important;
    margin-top: 0px !important;
    background-color: aliceblue;
    border-radius: 0 0 5px 5px !important;
}

