@model AssetViewModel
@{
    ViewBag.Title = "Asset Details";
}

<div class="row">
    <div class="col-sm-12 col-lg-10 col-centered">
        <!-- asset details starts -->
        <div class="row privateSelect">
            <div class="col-sm-12 col-md-2 pr0">
                <h4 class="f-light text-right fs18">@Resource.lblAsset</h4>
            </div>
            <div class="col-sm-12 col-md-10">
                <div class="col-md-12 border-b pb30 mb20 no-xs-padding no-sm-padding">
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        @using (Html.BeginForm("Edit", "Asset", new { area = "Buyer" }, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            <div class="row">
                                <div class="col-sm-12">
                                    @Html.PartialFor("_PartialAsset", m => m)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 text-right pb30">
                                    <input type="submit" class="btn btn-primary" value="@Resource.btnLabelSubmit" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>