<div class="loader" *ngIf="IsLoading">
    <div class="loading-content text-center">
        <div class="spinner"></div>
        <div class="font-bold">Loading</div>
    </div>
</div>
<div [formGroup]="Parent" class="well box-shadow">
    <div formArrayName="Fees">
        <h4>Fees</h4>
        <div class="mt10 mb5">
            <b>General</b>
        </div>
        <ng-container *ngFor="let commonFee of CommonFees; let i = index; let isLast = last">
            <div class="row">
                <div class="col-sm-10">
                    <app-fee-type [Parent]="Parent" [FeeGroup]="commonFee" [FeeTypes]="FeeTypes" [Currency]="DisplayCurrency"
                                  [FeeConstraintTypes]="FeeConstraintTypes" [FeeSubTypes]="FeeSubTypes"></app-fee-type>
                </div>
                <div class="col-sm-2">                    
                    <a class="fa fa-trash-alt ml10 color-maroon mt10" (click)="removeGeneralFee(true, commonFee)"></a>
                </div>
            </div>
        </ng-container>
        <button type="button" class="btn btn-link" (click)="addGeneralFee(true, null)"><i class="fa fa-plus-circle"></i> Add Fee</button>
        <div class="mt10">
            <b>Other</b>
        </div>
        <ng-container *ngFor="let otherFee of OtherFees; let i = index; let isLast = last">
            <div class="row">
                <div class="col-sm-10">
                    <app-fee-type [Parent]="Parent" [FeeGroup]="otherFee" [FeeTypes]="FeeTypes" [Currency]="DisplayCurrency"
                                  [FeeConstraintTypes]="FeeConstraintTypes" [FeeSubTypes]="FeeSubTypes"></app-fee-type>
                </div>
                <div class="col-sm-2">
                    <a class="fa fa-trash-alt ml10 color-maroon mt10" (click)="removeGeneralFee(false, otherFee)"></a>
                </div>
            </div>
        </ng-container>
        <button type="button" class="btn btn-link" (click)="addGeneralFee(false, null)"><i class="fa fa-plus-circle"></i> Add Fee</button>
        <div class="mt10">
            <h4>Weekend / Holiday Fee(s)</h4>
        </div>
        <div class="mt10 mb5">
            <b>General</b>
        </div>
        <ng-container *ngFor="let spCommonFee of SpCommonFees; let i = index; let isLast = last">
            <div class="row">
                <div class="col-sm-10">
                    <app-fee-type [Parent]="Parent" [FeeGroup]="spCommonFee" [FeeTypes]="FeeTypes" [Currency]="DisplayCurrency"
                                  [FeeConstraintTypes]="FeeConstraintTypes" [FeeSubTypes]="FeeSubTypes"></app-fee-type>
                </div>
                <div class="col-sm-2">
                    <a class="fa fa-trash-alt ml10 color-maroon" (click)="removeSpecialFee(true, spCommonFee)"></a>
                </div>
            </div>
        </ng-container>
        <button type="button" class="btn btn-link" (click)="addSpecialFee(true, 1, null)"><i class="fa fa-plus-circle"></i> Add Fee</button>
        <div class="mt10 mb5">
            <b>Other</b>
        </div>
        <ng-container *ngFor="let spOtherFee of SpOtherFees; let i = index; let isLast = last">
            <div class="row">
                <div class="col-sm-10">
                    <app-fee-type [Parent]="Parent" [FeeGroup]="spOtherFee" [FeeTypes]="FeeTypes" [Currency]="DisplayCurrency"
                                  [FeeConstraintTypes]="FeeConstraintTypes" [FeeSubTypes]="FeeSubTypes"></app-fee-type>
                </div>
                <div class="col-sm-2">
                    <a class="fa fa-trash-alt ml10 color-maroon mt10" (click)="removeSpecialFee(false, spOtherFee)"></a>
                </div>
            </div>
        </ng-container>
        <button type="button" class="btn btn-link" (click)="addSpecialFee(false, 1, null)"><i class="fa fa-plus-circle"></i> Add Fee</button>
    </div>
</div>

