<!--<p>view-fuel-surcharge-pricingdetails works!</p>-->
<div class="col-sm-12">
    <table class="table">
        <thead>
            <tr>
                <th class="text-center" width="47%">Price Between</th>
                <th class="text-center" width="48%">Fuel Surcharge %</th>
            </tr>
        </thead>
    </table>
    <div style="max-height:70vh;overflow:auto" id="surchargeTable">
        <table class="table table-bordered table-hover mb0">
            <tbody>
                <tr *ngFor="let pricing of FuelSurchargePricingList">
                    <td class="text-center vmiddle" width="50%">
                        ${{pricing.PriceRangeStartValue}} - ${{pricing.PriceRangeEndValue}}
                    </td>
                    <td width="50%">
                        <div class="input-group">
                            <span class="p-2 border px-4">{{pricing.FuelSurchargeStartPercentage}}</span>
                            <div class="input-group-append">
                                <span class="input-group-text">%</span>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>