@model CloneRequestViewModel
@{
    ViewBag.Title = "Clone Fuel Request";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="col-sm-12">
    <div class="row well">
        <div class="col-sm-12">
            <h4>@Resource.headingCloneRequest</h4>
            @Html.PartialFor("_PartialCloneRequest", m => m)
        </div>
    </div>
</div>    
<div class="row">
    <div class="col-sm-12 text-right">
        <input type="submit" name="Save" class="btn btn-primary btn-lg" value="@Resource.btnLabelSave" />
    </div>
</div>
}
