@model ResaleFilterViewModel
@{
    ViewBag.Title = "Resale Summary";
}

<div class="row">
    <div class="col-sm-7 col-md-9">
        <h4>@Resource.headingResale</h4>
    </div>
    @if (Model.Id == 0)
    {
        <div class="col-sm-5 col-md-3">
            @Html.PartialFor("~/Views/Shared/_PartialCurrencyFilter.cshtml", m => m.Country)
        </div>
    }
</div>
@Html.Partial("_PartialResaleGrid", Model)

