<!--<div>
    <input type="button" class="btn btn-primary" (click)="loadTrends()" value="Trends" />
</div>-->

<div *ngIf="!noChartData">
    Last {{customDays==0?(data?.noOfDays):customDays}} Days   Demand Capture Chart (Site-{{data?.siteId}})
</div>

<div *ngIf="noChartData" class="alert alert-danger">
    No Data Found.
</div>

<div [ngClass]="{'hide_chart': !showChart}">
    <div>
        <select  *ngIf="!noChartData" (change)="onSelection($event.target.value)">
            <option *ngFor="let item of dateFilterList" [value]="item.Id">{{item.Value}}</option>
        </select>
        <input type="number" maxlength="2" max="99" class="form-control" [(ngModel)]="customDays" *ngIf="showCustomDateText" />
        <input type="button" class="btn btn-primary" (click)="getDemandCapChartData(data.siteId, customDays, data.tfxJobId)" *ngIf="showCustomDateText && customDays>0" value="Submit" />
    </div>

    <div id="chart-timeline"></div>
</div>
<div *ngIf="(isLoadingSubject | async)" class="pa top0 bg-white left0 z-index5 loading-wrapper"><span class="spinner-dashboard pa"></span></div>

