<div class="inventory-view-contanier">
    <div class="well">
        <div class="well-header">
            <div class="row">
                <div class="col-sm-9 form-row align-items-center">
                    <div class="d-inline-block">
                        <h4 class="well-title">Location Inventory</h4>
                    </div>
                    <!-- <div class="d-inline-block text-right prority-pills ml-2">
                        <ul class="nav nav-pills float-right">
                            <li class="nav-item" (click)="changeActiveTab(DeliveryReqPriority.MustGo)">
                                <a class="nav-link mustgo active"
                                   [ngClass]="{'active': activePriorityTab == DeliveryReqPriority.MustGo}">Must Go</a>
                            </li>
                            <li class="nav-item" (click)="changeActiveTab(DeliveryReqPriority.ShouldGo)">
                                <a class="nav-link shouldgo"
                                   [ngClass]="{'active': activePriorityTab == DeliveryReqPriority.ShouldGo}">Should Go</a>
                            </li>
                            <li class="nav-item" (click)="changeActiveTab(DeliveryReqPriority.CouldGo)">
                                <a class="nav-link couldgo"
                                   [ngClass]="{'active': activePriorityTab == DeliveryReqPriority.CouldGo}">Could Go</a>
                            </li>
                        </ul>
                    </div> -->

                </div>
                
                <div class="col-sm-3 form-row align-items-center flex-row-reverse pr0">
                    <button class="btn btn-outline btn-primary btn-rnd fs11" (click)="navigate()">View More</button>
                </div>
            </div>
        </div>
        <div class="well-body padding-8">
            <div class="row">
                <div class="col-12">
                    <div class="d-block text-right prority-pills float-right mb10">
                        <ul class="nav nav-pills float-right">
                            <li class="nav-item" (click)="changeActiveTab(DeliveryReqPriority.MustGo)">
                                <a class="nav-link mustgo active"
                                   [ngClass]="{'active': activePriorityTab == DeliveryReqPriority.MustGo}">Must Go</a>
                            </li>
                            <li class="nav-item" (click)="changeActiveTab(DeliveryReqPriority.ShouldGo)">
                                <a class="nav-link shouldgo"
                                   [ngClass]="{'active': activePriorityTab == DeliveryReqPriority.ShouldGo}">Should Go</a>
                            </li>
                            <li class="nav-item" (click)="changeActiveTab(DeliveryReqPriority.CouldGo)">
                                <a class="nav-link couldgo"
                                   [ngClass]="{'active': activePriorityTab == DeliveryReqPriority.CouldGo}">Could Go</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="table-wrapper">
                        <div *ngIf="IsLoading" class="pa top0 bg-white left0 z-index5 loading-wrapper"><span
                                class="spinner-dashboard pa"></span></div>

                        <table 
                            class="table bg-white table-hover">
                            <thead>
                                <tr>
                                    <th data-key="site_ID">Location ID</th>
                                    <th data-key="loc">Location</th>
                                    <th data-key="tank_name">Tank Name</th>
                                    <th data-key="qty">Trailing 7 Days Average</th>
                                    <th data-key="inv">Current Inventory</th>
                                    <th data-key="days">Days Remaining</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container>
                                    <tr *ngFor="let item of inventories">
                                        <td>{{item?.SiteId }}</td>
                                        <td>{{item?.Location }}</td>
                                        <td>{{item?.TankName }}</td>
                                        <td>{{item?.AvgSale}}</td>
                                        <td>{{item?.Inventory  }}</td>
                                        <td>{{item?.DaysRemaining=='--'? 'NA':item?.DaysRemaining }}</td>
                                    
                                    </tr>
                                    <tr *ngIf="inventories && inventories.length==0">
                                     <td colspan="6"> 
                                          <div class="row align-items-center" style="height: 175px;">
                                        <div class="col-12 align-items-center text-center">
                                            <i class="fab fa-searchengin fa-5x"></i>
                                            <h4>No Data Found</h4>
                                        </div>
                                    </div>
                                </td> 
                                </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
            
            <!-- <div class="well bg-white shadow-b pr">
                <div class='pa bg-white top0 left0 z-index5 loading-wrapper schedule-loading-wrapper hide-element'><span
                        class='spinner-dashboard pa'></span></div>
                <div class="ibox mb0">
                    <div class="ibox-content no-padding no-border location_table">
                      
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>

