.loads-wrapper {
    max-height: calc(100vh - 190px) !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
}

.load-overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(192,192,192,0.3);
    z-index:103;
}

::ng-deep .dropdown-btn {
    padding: 0 3px !important;
    min-height: 32px;
    line-height: 2.5 !important;
}

::ng-deep .dropdown-btn .selected-item {
    line-height: 1.42 !important;
}

/*#create-load-panel + .load-overlay {
    display: none;
}

#create-load-panel[style] + .load-overlay {
    display: block;
}*/

#load-tanks .modal-body {
    max-height: 70vh;
    overflow: auto;
} 