.icon_menu {
    display: none;
    position: absolute;
    top: 0;
    right: 5px;
    /*background: #ffffff;*/
    background: #7e7b7b;
    padding: 5px 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,.08);
    border-radius: 3px;
}

.dr_cards_new:hover .icon_menu {
    display: block;
}

.route_text {
    color: #c95e61;
    font-size: 10px;
    font-weight: bold;
}



.dr-queue {
    padding: 5px;
    /*background: #FDD6D6;*/
    border-radius: 10px;
    position: relative;
    margin-bottom: 2px;

    .dr-info {
        display: flex;
        align-items: baseline;

        .brand-name {
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.25px;
            color: #12121F;
            text-transform: uppercase;
        }

        .job-location {
            font-weight: 600;
            font-size: 13px;
            line-height: 16px;
            letter-spacing: 0.25px;
            color: #12121F;
            text-transform: capitalize;
            max-width: 40%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .job-city {
            font-weight: 600;
            font-size: 11px;
            line-height: 13px;
            letter-spacing: 0.25px;
            color: #12121F;
            max-width: 25%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-transform: uppercase;
        }

        .compability-type {
            font-weight: 600;
            font-size: 11px;
            line-height: 13px;
            letter-spacing: 0.25px;
            color: #12121F;
        }
    }


    .duration {
        position: absolute;
        bottom: 2px;
        right: 10px;
        font-weight: 600;
        font-size: 11px;
        line-height: 13px;
        letter-spacing: 0.25px;
        color: #D34E4E;
    }

    .click-icon {
        position: absolute;
        top: 0;
        right: 10px;
    }

    &.must-go {
        background: #FDD6D6;
    }

    &.should-go {
        background: #FFDDB5;
    }

    &.could-go {
        background: #DCDCDC;
    }
}

.dr-popover {
    &.popover

{
    min-width: 300px;
    max-width: 350px;
    background: #F9F9F9;
    border: 1px solid #E9E7E7;
    box-sizing: border-box;
    box-shadow: 10px 10px 8px -2px rgb(0, 0, 0, 0.13);
    border-radius: 10px;
    .popover-body

{
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    border-radius: 5px;
}

.popover-details {
    padding: 3px 20px;
    max-height: 310px;
    overflow-y: auto;
    .product-details

{
    padding: 2px 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    .product-name

{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.25px;
    color: #12121F;
}

.product-qty {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.25px;
    color: #BB4141;
    float: right;
    text-align: right;
}

.icon-tray {
    text-align: center;
    display: flex;
    place-content: center;
    transition: all 0.3s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
    .circle-icon

{
    background: #fff;
    border: 0px solid #797979;
    box-sizing: border-box;
    border-radius: 50%;
    margin-right: 5px;
    width: 25px;
    height: 25px;
    display: flex;
    place-content: center;
    align-items: center;
    a

{
    color: #6F6E6E !important;
}

i {
    font-size: 14px;
}

}
}

&:hover {
    box-shadow: 0 0 3px #515151;
    border: 0;
    transition: all .6s ease-out;
    .icon-tray

{
    padding: 3px;
    transition: all .6s ease-out;
    opacity: 1;
    height: auto;
}

}
}

.must-go {
    background: #FDD6D6;
    .product-qty{
    color: #BB4141;
}

}

.should-go {
    background: #FFDDB5;
    .product-qty

{
    color: #E89330;
}

}

.could-go {
    background: #DCDCDC;
    .product-qty

{
    color: #696969;
}

}

.in-progress {
    background: #3D71B8;
    .product-name

{
    color: #ffffff;
}

.product-qty {
    color: #ffffff;
}

}
}
}
}
