@using SiteFuel.Exchange.Web.Common

@{
    ViewBag.Title = "Mobile App Download Links";
    Layout = "~/Views/Shared/_LayoutError.cshtml";
}
<div class="row">
    <div class="col-sm-12 mt20 mb20 text-center"><img src="~/Content/images/truefill-logo.png" /></div>
    <div class="col-sm-12 text-center"><a href="@CommonHelperMethods.GetApplicationSettingValue(ApplicationConstants.KeyAppSettingIosBuyerMobileApp)"><img src="~/Content/images/ico-app-store.png" border="0" /></a></div>
    <div class="col-sm-12 text-center"><a href="@CommonHelperMethods.GetApplicationSettingValue(ApplicationConstants.KeyAppSettingAndroidBuyerMobileApp)"><img src="~/Content/images/ico-google-play.png" border="0" /></a></div>
</div>


