<div class="row">
    <div class="col-sm-12 sticky-header-dash">
        <div class="dib border pa5 radius-capsule shadow-b bg-white">
            <div class="btn-group btn-filter" id="RegionTab">
                <input class="hide-element" type="radio" [name]="'viewType'" [value]="1"
                       [checked]="viewType==1">
                <label class="btn ml0" (click)="changeViewType(1)">Dispatch Region</label>
                <input class="hide-element" type="radio" [name]="'viewType'" [value]="2"
                       [checked]="viewType==2">
                <label class="btn ml-1" (click)="changeViewType(2)">Source Region</label>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <app-dispatch-region *ngIf="viewType==1"></app-dispatch-region>
        <app-source-region *ngIf="viewType==2"></app-source-region>
    </div>
</div>