.ng-select.custom {
    border: 0px;
    min-height: 0px;
    border-radius: 0;
}
    .ng-select.custom .ng-select-container {
        min-height: 0px;
        border-radius: 0;
    }
.scroll-height{
    height: calc(100vh - 130px);
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: -10px;
    padding-right: 10px;
}
aside{
    padding-bottom: 0px !important;
}
.list-drag{
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-items: center;
    place-content: space-between;
    margin: 0 0px 5px 0px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #eae7e7;
}
.custom-select{
    padding: 0px 5px;
    font-size: 14px;
    line-height: 25px;
}
.border-muted{
    border: 1px solid rgba(0, 0, 0, 0.2);
}