<ng-sidebar-container>
    <ng-sidebar [(opened)]="_opened"
                [animate]="_animate"
                [position]="_POSITIONS[_positionNum]"
                class="bdr-panel" 
                style="height: 100vh">

        <a (click)="toggleOpen(false, null)"><i class="fa fa-close fs18"></i></a>
        <div class="pa bg-white z-index5 loading-wrapper" *ngIf="_loading">
            <span class='spinner-dashboard pa'></span>
        </div>
        <content class="pr30">
            <h3 class="dib ml10 mt10 mb10">BDN Details</h3>
            <div [formGroup]="BdrDetailForm">
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <input type="hidden" placeholder="Id" formControlName="Id" />
                        <label for="PumpingStartTime">Delivery Pumping Start Time</label>
                        <input name="PumpingStartTime" formControlName="PumpingStartTime" myTimePicker [format]="'hh:mm:ss A'" class="form-control timepicker"
                               (onTimeChange)="BdrDetailForm.get('PumpingStartTime').setValue($event)" />
                        <div *ngIf="isInvalid('PumpingStartTime')" class="color-maroon">
                            <span *ngIf="BdrDetailForm.get('PumpingStartTime').errors.pattern">
                                Invalid Time Format
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-8 form-group">
                        <label for="PumpingStopTime">Delivery Pumping Completion Time</label>
                        <div class="row">
                            <div class="col-sm-8">
                                <input name="PumpingStopTime" formControlName="PumpingStopTime" myTimePicker [format]="'hh:mm:ss A'" class="form-control timepicker"
                                       (onTimeChange)="BdrDetailForm.get('PumpingStopTime').setValue($event)" />
                                <div *ngIf="isInvalid('PumpingStopTime')" class="color-maroon">
                                    <span *ngIf="BdrDetailForm.get('PumpingStopTime').errors.pattern">
                                        Invalid Time Format
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label for="OpenMeterReading">Open Meter Reading</label>
                        <input name="OpenMeterReading" formControlName="OpenMeterReading" class="form-control" />
                    </div>
                    <div class="col-sm-4 form-group">
                        <label for="CloseMeterReading">Close Meter Reading</label>
                        <input name="CloseMeterReading" formControlName="CloseMeterReading" class="form-control" />
                    </div>
                    <div class="col-sm-4 form-group">
                        <label for="MarpolSampleNumbers">MARPOL Sample Numbers</label>
                        <input name="MarpolSampleNumbers" formControlName="MarpolSampleNumbers" class="form-control" />
                    </div>
                    <div class="col-sm-4 form-group">
                        <label for="MVMarpolSampleNumbers">MV MARPOL Sample Numbers</label>
                        <input name="MVMarpolSampleNumbers" formControlName="MVMarpolSampleNumbers" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label for="Viscosity">Viscosity @ 50&deg;C (cST)</label>
                        <input type="number" name="Viscosity" formControlName="Viscosity" class="form-control" />
                        <div *ngIf="isInvalid('Viscosity')" class="color-maroon">
                        </div>
                        <div *ngIf="isInvalid('Viscosity') && BdrDetailForm.get('Viscosity').invalid">
                            <label class="fs12" style="color:red">
                                Invalid value
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label for="SulphurContent">Sulfur Content (% m/m)</label>
                        <input type="number" name="SulphurContent" formControlName="SulphurContent" class="form-control" />
                        <div *ngIf="isInvalid('SulphurContent')" class="color-maroon">
                        </div>
                        <div *ngIf="isInvalid('SulphurContent') && BdrDetailForm.get('SulphurContent').invalid">
                            <label class="fs12" style="color:red">
                                Invalid value
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label for="FlashPoint">Flash Point (&deg;F/&deg;C)</label>
                        <input type="number" name="FlashPoint" formControlName="FlashPoint" class="form-control" />
                        <div *ngIf="isInvalid('FlashPoint')" class="color-maroon">
                        </div>
                        <div *ngIf="isInvalid('FlashPoint') && BdrDetailForm.get('FlashPoint').invalid">
                            <label class="fs12" style="color:red">
                                Invalid value
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label for="DensityInVaccum">Density In Vacuum</label>
                        <input name="DensityInVaccum" formControlName="DensityInVaccum" class="form-control" />
                        <div *ngIf="isInvalid('DensityInVaccum')" class="color-maroon">
                        </div>
                        <div *ngIf="isInvalid('DensityInVaccum') && BdrDetailForm.get('DensityInVaccum').invalid">
                            <label class="fs12" style="color:red">
                                Invalid value
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label for="ObservedTemperature">Observed Temperature (&deg;F/&deg;C)</label>
                        <input type="number" name="ObservedTemperature" formControlName="ObservedTemperature" class="form-control" />
                        <div *ngIf="isInvalid('ObservedTemperature')" class="color-maroon">
                        </div>
                        <div *ngIf="isInvalid('ObservedTemperature') && BdrDetailForm.get('ObservedTemperature').invalid">
                            <label class="fs12" style="color:red">
                                Invalid value
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label for="MeasuredVolume">Measured Volume</label>
                        <input name="MeasuredVolume" formControlName="MeasuredVolume" class="form-control" (input)="setStandardVolume()"/>
                        <div *ngIf="isInvalid('MeasuredVolume')" class="color-maroon">
                            <label class="fs12" style="color:red">
                                Invalid value
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label for="StandardVolume">Standard Volume</label>
                        <input name="StandardVolume" formControlName="StandardVolume" class="form-control" [readonly]="true" />
                        <div *ngIf="isInvalid('StandardVolume')" class="color-maroon">
                            <label class="fs12" style="color:red">
                                Invalid value
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="engineerinvite" formControlName="IsEngineerInvitedToWitnessSample" [value]="IsEngineerInvitedToWitnessSample" />
                            <label class="form-check-label" for="engineerinvite">Chief Engineer invited to witness sample(s)?</label>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="noticetoprotest" formControlName="IsNoticeToProtestIssued" [value]="IsNoticeToProtestIssued" />
                            <label class="form-check-label" for="noticetoprotest">Notice to protest issued?</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-right">
                        <input type="button" class="btn" value="Cancel" (click)="onBdrCancel()" />
                        <!--<input type="button" class="btn btn-secondary" (click)="onBdrCancel()">Cancel</input>-->
                        <button type="button" class="btn btn-primary btn-lg" *ngIf="EditIndex == -1" [disabled]="BdrDetailForm.invalid" (click)="onBdrDetailAdd()">Add</button>
                        <button type="button" class="btn btn-primary btn-lg" *ngIf="EditIndex > -1" (click)="onBdrDetailUpdate()"><i class="fa fa-edit"></i> Update</button>
                    </div>
                </div>
            </div>
        </content>
    </ng-sidebar>
</ng-sidebar-container>