<div [formGroup]="Parent" class="well border box-shadow mt-2" *ngIf="IsBDRAdded">
    <div class="row f-bold">
        <!--Marpol sample Number, Viscosity, Sulphur content, Flashpoint, Observed temperature-->
        <!--<div class="col-sm-1">Open Meter Reading</div>
        <div class="col-sm-1">Close Meter Reading</div>-->
        <div class="col-sm-3">MARPOL Sample Numbers</div>
        <div class="col-sm-1">Viscosity</div>
        <div class="col-sm-2">Sulfur Content</div>
        <div class="col-sm-2">Flash Point</div>
        <!--<div class="col-sm-1">Density In Vaccum</div>-->
        <div class="col-sm-3">Observed Temperature</div>
        <!--<div class="col-sm-1">Measured Volume</div>
        <div class="col-sm-1">Standard Volume</div>-->
    </div>
    <div formGroupName="BdrDetails">
        <div class="row">
            <!--<div class="col-sm-1">
                <span> {{BdrDetails.get('OpenMeterReading').value}}</span>
                &nbsp;
            </div>
            <div class="col-sm-1">
                <span> {{BdrDetails.get('CloseMeterReading').value}}</span>
                &nbsp;
            </div>-->
            <div class="col-sm-3">
                <span> {{BdrDetails.get('MarpolSampleNumbers').value}}</span>
                &nbsp;
            </div>
            <div class="col-sm-1">
                <span> {{BdrDetails.get('Viscosity').value}}</span>
                &nbsp;
            </div>
            <div class="col-sm-2">
                <span> {{BdrDetails.get('SulphurContent').value}}</span>
                &nbsp;
            </div>
            <div class="col-sm-2">
                <span> {{BdrDetails.get('FlashPoint').value}}</span>
                &nbsp;
            </div>
            <!--<div class="col-sm-1">
                <span> {{BdrDetails.get('DensityInVaccum').value}}</span>
                &nbsp;
            </div>-->
            <div class="col-sm-3">
                <span> {{BdrDetails.get('ObservedTemperature').value}}</span>
                &nbsp;
            </div>
            <!--<div class="col-sm-1">
                <span> {{BDRDetail.get('MeasuredVolume').value}}</span>
                &nbsp;
            </div>
            <div class="col-sm-1">
                <span> {{BdrDetails.get('StandardVolume').value}}</span>
                &nbsp;
            </div>-->
            <div class="col-sm-1">
                <a (click)="editBdrDetail(BdrDetails)"><i class="fa fa-edit fs14"></i></a>
                <a (click)="deleteBdr(BdrDetails)"><i class="fa fa-trash-alt ml10 color-maroon"></i></a>
            </div>
            <div class="col-sm-1">
                <!--<input type="hidden" formControlName="Id">-->
                <input type="hidden" formControlName="PumpingStartTime">
                <input type="hidden" formControlName="PumpingStopTime">
                <input type="hidden" formControlName="OpenMeterReading">
                <input type="hidden" formControlName="CloseMeterReading">
                <input type="hidden" formControlName="MarpolSampleNumbers">
                <input type="hidden" formControlName="Viscosity">
                <input type="hidden" formControlName="SulphurContent">
                <input type="hidden" formControlName="FlashPoint">
                <input type="hidden" formControlName="DensityInVaccum">
                <input type="hidden" formControlName="ObservedTemperature">
                <input type="hidden" formControlName="MeasuredVolume">
                <input type="hidden" formControlName="StandardVolume">
                <input type="hidden" formControlName="IsEngineerInvitedToWitnessSample">
                <input type="hidden" formControlName="IsNoticeToProtestIssued">
            </div>
        </div>

    </div>
</div>

