@model AssignToOrderViewModel
@{
    ViewBag.Title = "Assign Digital Drop Ticket to Order";
}
<h3 class="mt0 f-light fs21">@Resource.headingOrders</h3>
@Html.PartialFor("_PartialAssignToOrderGrid", m => m)

<div id="orderPreview">
    @Html.Action("OrderPreView", "Invoice", new { area = "Supplier", orderId = Model.OrderId, invoiceId = Model.InvoiceId })
</div>


@using (Html.BeginScripts())
{
    <script>
        $(document).off('assignToOrder');
        $(document).on('assignToOrder', function (e) {
            assignToOrder(e);
        });
        function assignToOrder(e) {
            if (e.target.tagName == "A") {
                $('#OrderId').val(e.target.dataset.orderid);
            }
            $('form').submit();
        }
    </script>
}