@model InvoiceDetailViewModel
@using System.Threading
@{
    Thread.CurrentThread.CurrentUICulture = new System.Globalization.CultureInfo(Model.Culture);
    ViewBag.Title = (Model.Invoice.InvoiceTypeId == (int)InvoiceType.DigitalDropTicketManual || Model.Invoice.InvoiceTypeId == (int)InvoiceType.DigitalDropTicketMobileApp) ? "Digital Drop Ticket Details" : "Invoice Details";
}

<div class="row mb15">
    <div class="col-sm-12">
        <div class="row">
            @Html.PartialFor("_PartialInvoiceDetail", m => m)
        </div>
    </div>
</div>
