.active-dot {
    height: 10px;
    width: 10px;
    background-color: #ff5858;
    border-radius: 50%;
    display: inline-block;
    animation: 1s blink ease infinite;
}

@keyframes blink {
    from,to {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    from, to {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    from, to {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@-ms-keyframes blink {
    from, to {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@-o-keyframes blink {
    from, to {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

table.dataTable.fixedHeader-locked {
    position: fixed !important;
}

table.dataTable.fixedHeader-floating, table.dataTable.fixedHeader-locked {
    top: 65px !important;
}
