<!--<div class="row mb5" (click)="scrollToElement(ContactInformation)">
    <span class="overcircle">1</span>
    <span class="innercircle">Contact Information</span>
</div>
<div class="row mb5" (click)="scrollToElement(CompanyInformation)">
    <span class="overcircle">2</span>
    <span class="innercircle">Company Information</span>
</div>
<div class="row mb5" (click)="scrollToElement(FleetInformation)">
    <span class="overcircle">3</span>
    <span class="innercircle">Fleet Information</span>
</div>
<div class="row mb5" (click)="scrollToElement(ServiceOffering)">
    <span class="overcircle">4</span>
    <span class="innercircle">Service Offerings</span>
</div>-->
