<button id="trailerSchedule" type="button" class="btn btn-default float-right" (click)="_toggleOpened(false)"><i class="fa fa-plus mr5" aria-hidden="true"></i>Add Trailer</button>
<!--side bar menu-->

<ng-sidebar-container style="z-index: 99999;">
    <ng-sidebar [(opened)]="_opened"
                [animate]="_animate"
                [position]="_POSITIONS[_positionNum]"
                style="height: 100vh">
        <a (click)="_toggleOpened(false)"><i class="fa fa-close fs18"></i></a>
        <h3 class="dib ml10 mt10 mb10">Schedule Trailer </h3>
        <content class="pr30" [formGroup]="TrailerScheduleForm" name="TrailerScheduleForm" autocomplete="off" (keydown.enter)="$event.preventDefault()">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="Region">Region:</label>
                    </div>

                    <ng-multiselect-dropdown [placeholder]="'Select Region(s)'"
                                             [settings]="multiselectDropDownSettingsById" [data]="regionList"
                                             (onSelect)="onRegionSelect($event)" (onDeSelect)="onRegionDeSelect($event)"
                                             formControlName="regionId">
                    </ng-multiselect-dropdown>
                    <div *ngIf="isInvalid('regionId')" class="color-maroon">
                        <div *ngIf="isRequired('regionId')">
                            Required.
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="Trailer">Trailer:</label>
                    </div>
                    <ng-multiselect-dropdown [placeholder]="'Select Trailer(s)'"
                                             [settings]="multiselectDropDownSettingsById" [data]="TrailerList"
                                             formControlName="trailerId">
                    </ng-multiselect-dropdown>
                    <div *ngIf="isInvalid('trailerId')" class="color-maroon">
                        <div *ngIf="isRequired('trailerId')">
                            Required.
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" formArrayName="shifts" *ngFor="let shift of TrailerScheduleForm.get('shifts')['controls'];  let j = index;">
                <div class="col-sm-12">
                    <div class="row" [formGroupName]="j">
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label for="Shift">Shift:</label>
                                <ng-multiselect-dropdown [ngClass]="{'is-invalid':TrailerScheduleForm.get('shifts').touched && TrailerScheduleForm.get('shifts').invalid}"
                                                         formControlName="shiftId" [placeholder]="'Select Shifts'"
                                                          [settings]="multiselectDropDownSettingsById" [data]="ShiftList">
                                </ng-multiselect-dropdown>
                            </div>
                        </div>

                        <div class="col-sm-5">
                            <div class="form-group">
                                <label for="Column">Column:</label>
                                <ng-multiselect-dropdown [ngClass]="{'is-invalid':TrailerScheduleForm.get('shifts').touched && TrailerScheduleForm.get('shifts').invalid}"
                                                         formControlName="columnId" [placeholder]="'Select Columns'"
                                                         [settings]="multiselectDropDownSettingsById" [data]="ColumnList">
                                </ng-multiselect-dropdown>
                            </div>
                        </div>

                        <div class="col-sm-2 text-right">
                            <a class="ml20" (click)="removeShift(j);">
                                <i class="fa fa-trash-alt mt14 color-maroon mt8"></i>
                            </a>
                        </div>


                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <table width="100%">
                        <tr>
                            <td width="15%">&nbsp;</td>
                            <td colspan="2">
                                <div class="form-group">
                                    <a (click)="addShift();">
                                        <i class="fa fa-plus-circle fs14"></i> Add Shift
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="fromDate">From Date:</label>
                        <input type="text" formControlName="fromDate" #fromDate class="form-control datepicker" placeholder="Date" myDatePicker [format]="'MM/DD/YYYY'" (onDateChange)="setFromDate($event);" [minDate]="MinStartDate" [maxDate]="MaxStartDate" />
                        <div *ngIf="isInvalid('fromDate')" class="color-maroon">
                            <div *ngIf="isRequired('fromDate')">
                                Required.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="fromDate">To Date:</label>
                        <input type="text" formControlName="toDate" #EndDate class="form-control datepicker" placeholder="Date" myDatePicker [format]="'MM/DD/YYYY'" (onDateChange)="setToDate($event);" [minDate]="MinStartDate" [maxDate]="MaxStartDate" />
                        <div *ngIf="isInvalid('toDate')" class="color-maroon">
                            <div *ngIf="isRequired('toDate')">
                                Required.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="type" formControlName="type" value="1" id="inlineRadioDaily">
                            <label class="form-check-label" for="inlineRadioDaily">Daily</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="type" formControlName="type" value="2" id="inlineRadioWdays">
                            <label class="form-check-label" for="inlineRadioWdays">WeekDays (Mon to Fri)</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="type" formControlName="type" value="3" id="inlineRadioEvery">
                            <label class="form-check-label" for="inlineRadioEvery">Repeat Every</label>
                        </div>
                        <div class="form-check form-check-inline" *ngIf="TrailerScheduleForm.get('fromDate').value && TrailerScheduleForm.get('toDate').value">
                            <input class="form-check-input" type="radio" name="type" formControlName="type" value="4" id="inlineRadioCustom">
                            <label class="form-check-label" for="inlineRadioCustom">Custom</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group" *ngIf="TrailerScheduleForm.get('type').value=='4'">
                        <label for="Dates"> Dates:</label>
                        <ng-multiselect-dropdown [placeholder]="'Date (s)'"
                                                 [settings]="multiselectDateSettingsById"
                                                 formControlName="customDates" [data]="DateList">
                        </ng-multiselect-dropdown>
                    </div>

                    <div class="form-group" *ngIf="TrailerScheduleForm.get('type').value=='3'">
                        <label for="Days">Days:</label>
                        <input type="number" placeholder="days" min="1" class="form-control" formControlName="repeat" />
                    </div>
                </div>
            </div>
            <div class="col-sm-12 text-right form-buttons">
                <input type="button" value="Cancel" class="btn" (click)="closedSideBar()">
                <button id="Submit" type="submit" (click)="onSubmit()" class="btn btn-lg btn-primary valid" aria-invalid="false">Submit</button>
            </div>
        </content>
    </ng-sidebar>
</ng-sidebar-container>