@model IEnumerable<FuelRequestGridViewModel>
@using GridMvc.Html

<h2>@Resource.headingFuelRequestSummary</h2>
@*<div class="row mt20">
        @Html.Action("PartialMapView", "FuelRequest", new { area = "Buyer" })
    </div>*@
<div class="row pt20 mt40">
    <div class="col-md-12 col-centered pr0 pl0">
        @Html.Grid(Model).Columns(columns =>
        {
            columns.Add(m => m.JobName).Titled(Resource.gridColumnJob);
            columns.Add(m => m.FuelRequestId).Titled(Resource.gridColumnFuelRequest).Encoded(false).Sanitized(false).RenderValueAs(m => Html.ActionLink(Resource.btnLabelViewDetails, "Details", "Broker", new { area = "Supplier", id = m.FuelRequestId }, null));
            columns.Add(m => m.Address).Titled(Resource.gridColumnAddress);
            columns.Add(m => m.FuelType).Titled(Resource.gridColumnType);
            columns.Add(m => m.ContactPerson).Titled(Resource.gridColumnContact).RenderValueAs(m => m.ContactPerson == string.Empty ? Resource.lblHyphen : m.ContactPerson);
            columns.Add(m => m.GallonsNeeded).Titled(Resource.gridColumnQuantity);
            columns.Add(m => m.PricePerGallon).Titled(Resource.gridColumnPrice);
            columns.Add(m => m.Status).Titled(Resource.gridColumnStatus);
        }).WithPaging(5)
    </div>
</div>