.sticky-header-sales {
    position: fixed;
    right: 0;
    padding: 10px 20px;
    top: 45px;
    height: 65px;
    /*font-size: 20px;*/
    z-index: 10;
    background: #fff;
}

.locationfilter {
    width: 100%;
    position: absolute;
    right: 4px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 1010;
}

.sticky_header {
    position: -webkit-sticky;
    position: sticky;
    top: 45px;
    padding: 5px;
    font-size: 20px;
    z-index: 10;
    background: #fff;
    margin-bottom: 0px;
    margin-top: -10px;
    /*box-shadow: 0 3px 15px 0 rgba(0,0,0,.1);*/
    border-radius: 2px;
}


.carrier-popover.popover{
    min-width: 300px;
    max-width: 350px;
    background: #F9F9F9;
    border: 1px solid #E9E7E7;
    box-sizing: border-box;
    box-shadow: 10px 10px 8px -2px rgb(0, 0, 0, 0.13);
    border-radius: 10px;
}
.carrier-popover.popover  .popover-body{
    padding: 10px;
    border-radius: 5px;
}
.activediff-dot {
    height: 10px;
    width: 10px;
    background-color: #585bff;
    border-radius: 50%;
    display: inline-block;
    animation: 1s blink ease infinite;
}