<div class="well box-shadow" *ngIf="IsVariousOrigin">
    <div class="row" [formGroup]="FuelDropLocation">
        <div class="col-sm-12">
            <h4>Drop Location</h4>
        </div>
        <div class="col-sm-12">
            <div class="checkbox mt0">
                <label>
                    <input type="checkbox" name="IsAddressAvailable" (click)="updateAddressFlag(FuelDropLocation)" />
                    We have drop address
                </label>
            </div>
        </div>
        <div class="col-sm-2 form-group" *ngIf="IsAddressAvailable">
            <label>Address<span class="color-maroon">*</span></label>
            <input name="Address" placeholder="Address" formControlName="Address" class="form-control" />
        </div>
        <div class="col-sm-2 form-group" *ngIf="IsAddressAvailable">
            <label>Zip Code<span class="color-maroon">*</span></label>
            <input name="ZipCode" placeholder="Zip Code" formControlName="ZipCode" class="form-control" (input)="getAddressByZip(FuelDropLocation, $event)" />
        </div>
        <div class="col-sm-2 form-group" *ngIf="IsAddressAvailable">
            <label>City<span class="color-maroon">*</span></label>
            <input name="City" placeholder="City" formControlName="City" class="form-control" />
        </div>
        <div class="col-sm-2 form-group" formGroupName="State">
            <input type="hidden" formControlName="Code" />
            <label>State<span class="color-maroon">*</span></label>
            <select formControlName="Id" class="form-control" placeholder="Select State" (change)="setStateName(FuelDropLocation, $event)">
                <option [value]="null">Select State</option>
                <option *ngFor="let st of StateList" [value]="st.Id">
                    {{st.Code}}
                </option>
            </select>
        </div>
        <div class="col-sm-2 form-group" formGroupName="Country" *ngIf="IsAddressAvailable">
            <input type="hidden" formControlName="Code" />
            <label>Country<span class="color-maroon">*</span></label>
            <select formControlName="Id" class="form-control" placeholder="Select Country" (change)="setCountryName(FuelDropLocation, $event)">
                <option [value]="null">Select Country</option>
                <option *ngFor="let ct of CountryList" [value]="ct.Id">
                    {{ct.Code}}
                </option>
            </select>
        </div>
    </div>
</div>