
.drwrapper .checkbox {
    display: none;
}
.drwrapper .mustgo_bg,
.drwrapper .shouldgo_bg,
.drwrapper .couldgo_bg {
    border: 1px solid transparent;
}
.drwrapper .selected-dr {
    border: 1px solid green;
}

.drwrapper .selected-dr .checkbox {
    display: inline-block;
    color: #308226;
    right: -3px;
    top: -3px;
    background:white;
    border-radius:100px;
}
.otto-drpanel {
    height: calc(100vh - 127px);
    overflow-y: auto;
    overflow-x: hidden;
}

