.schedule-panel {
    transition: width 400ms;
    overflow-x : hidden;
}
.carrierlist {
    max-height: 200px;
}
.dr-accordian .panel-body {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 300px;
}

.header_panel {
    position: relative;
    text-align: center;
}

.header_panel .panel_icon {
    position: absolute;
    bottom: -20px;
    left: 47%;
    z-index: 1;
}

.header_panel .panel_icon_b5 {
    bottom: 5px;
}

.header_panel .panel_icon .icon_drop {
    padding: 5px;
    background: gray;
    color: #fff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.btn-rounded {
    border-radius: 50px !important;
}

.dsb-notification-count {
    left: 8px;
    top: -4px;
    border-radius: 50px;
    padding: 4px 0px 0 0;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 9px;
}

.filterApplied {
    color: #28a745;
}

.checkbox-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.check-space {
    padding-left: 2rem;
    padding-top: 1rem;
    font-size: 14px;
}

.DR-filter-panel {
    padding: 10px;
}

.DR-filter-panel .heading-title {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.25px;
    color: #000000;
}

::ng-deep aside {
    width: 30%;
}

::ng-deep .icon-toggle input[type="radio"]:checked+label {
    background-image: none;
    background-color: white;
    color: #1062d1;
    border: 1px solid #1062d1;
    border-radius: 5px 0 0 5px !important;
}

::ng-deep .icon-toggle label.last-icon,
::ng-deep .icon-toggle input[type="radio"]:checked+label.last-icon {
    border-radius: 0 5px 5px 0 !important;
    margin-left: 0 !important;
}

::ng-deep .icon-toggle label.first-icon {
    border-radius: 5px 0 0 5px !important;
}

::ng-deep .shift-wrapper .dropdown-btn {
    border-radius: 5px !important;
}

::ng-deep .shift-wrapper .selected-item {
    margin: 4px 0 0 0 !important
}

/* assign dr to carriers */
.scroll-height{
    height: calc(100vh - 130px);
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: -10px;
    padding-right: 10px;
}
aside{
    padding-bottom: 0px !important;
}
.list-drag{
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-items: center;
    place-content: space-between;
    margin: 0 0px 5px 0px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #eae7e7;
}
.custom-select{
    padding: 0px 5px;
    font-size: 14px;
    line-height: 25px;
}
.fa-warning {
    animation: blinker 0.7s linear infinite;
    -webkit-animation: blinker 0.7s linear infinite;
    font-size:24px;
    color:yellow;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.load-Sequence-container {
    ::ng-deep aside {
        width: 80%;
    }
    .sortable-loc{
        background-color: beige;
        /* border: 1px solid #ccc; */
        /* border-radius: 10px; */
        border: dashed;
        border-width: 1px;
        border-radius: 10px;
    }
    .scrollable{
        overflow: auto;
        max-height: 100vh;
    }
}

.blinker-calendar {
    right: -7px;
    top: -7px;
    animation-duration: 2s;
}
.blinker-calendar i {
    animation-duration: 2s;
}