.create-sourcing-request-container{
    .form-group{
        margin-bottom: 10px;
    }
    .fixed-footer-panel{
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        background: #ffffff;
        padding: 10px 20px;
    }

    .ng-autocomplete {
        width:100% !important;
        display: table;
        margin: 0 auto;
      }
      .ng-autocomplete .input-container{
          margin-bottom: 10px !important;
      }
     .autocomplete-container .suggestions-container ul li a {
        padding: 8px 15px !important;
        display: block;
        text-decoration: none;
        cursor: pointer;
        color: rgba(0,0,0,.87);
        font-size: 12px !important;
    }
    .autocomplete-container{
        height: 35px !important;
    }
    .autocomplete-container .input-container input{
        height: 35px;
        line-height: 35px;
    }

    agm-map {
        height: 300px;
      }

      .notes-section{
        .list-group{
            max-height: 300px;
            overflow-y: auto;
            .user-name{
                font-size: 18px;
                font-weight: 500;
            }
        }
        
      }
}

.pricingcode-modal{
    .modal-header{
        padding: 5px 15px;
        .close{
            margin-top: -10px;
        }
    }
    .modal-body {
        min-height: 450px;
    }
    .radius-capsule {
        .btn {
            line-height: 20px;
            padding: 3px 15px !important;
            font-size: 12px;

            &:not(:last-child) {
                margin-right: 5px;
            }
        }
    }

    .click-card{
        &:hover{
            cursor: pointer;
            background: #efefef;
        }
    }
} 