        <div class="row">
            <div class="col-sm-4">
                <div class="d-inline-block border bg-white p-1 radius-capsule shadow-b mb-2">
                    <div class="btn-group btn-filter">
                        <input class="hide-element" type="radio" [name]="'type'" [value]="1" [checked]="viewType==1">
                        <label class="btn ml0 mr-1" (click)="changeViewType(1)">Create Accessorial Fees</label>
                        <input class="hide-element" type="radio" [name]="'type'" [value]="2" [checked]="viewType==2">
                        <label class="btn" (click)="changeViewType(2)">View Accessorial Fees</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <app-create-accessorial-fees *ngIf="viewType==1" (onPageSubmit)="onCreateFees($event)"></app-create-accessorial-fees>

                <app-view-accessorial-fees *ngIf="viewType==2"></app-view-accessorial-fees>
            </div>
        </div>
