/*table.dataTable.fixedHeader-locked {
    position: fixed !important;
}

table.dataTable.fixedHeader-floating, table.dataTable.fixedHeader-locked {
    top: 65px !important;
}*/
.activediff-dot {
    height: 10px;
    width: 10px;
    background-color: #585bff;
    border-radius: 50%;
    display: inline-block;
    animation: 1s blink ease infinite;
}