<div class="col-sm-12" [formGroup]="salesTabFilterForm">
    <div class="row mt60">
        <div class="col-sm-12 text-center">
            <div class="custom-control custom-switch mb10">
                <input type="checkbox" class="custom-control-input" id="chk-consumptionrate" name="chkRateOfConsumption"
                    formControlName="RateOfConsumption" />
                <label class="custom-control-label" for="chk-consumptionrate">Rate Of Consumption</label>
            </div>
        </div>
    </div>
</div>
<div>
    <app-buyertank-view *ngIf="!salesTabFilterForm.get('RateOfConsumption').value" [salesTabFilterForm]="salesTabFilterForm">Loading...
    </app-buyertank-view>

    <app-forecasting-tank-view *ngIf="salesTabFilterForm.get('RateOfConsumption').value" [salesTabFilterForm]="salesTabFilterForm" [RequestFromBuyerWallyBoard]="true">Loading...
    </app-forecasting-tank-view>
</div>