@model SiteFuel.Exchange.ViewModels.Offer.OfferQuickUpdateViewModel

<div id="offer-quick-update-section">
    @Html.Partial("~/Areas/Supplier/Views/Shared/_PartialOfferQuickUpdate.cshtml", Model)
</div>

@Html.Partial("_PartialSupplierPricingTable", new SiteFuel.Exchange.ViewModels.Offer.PricingTableGridViewModel())
@Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/Content/js/quantityrange-validate")