<form [formGroup]="CustomerForm" (ngSubmit)="onSubmit()">
    <div class="side-panel-body">
        <div class="col-sm-12" id="Customer-Form">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="hidden" formControlName="BuyerCompanyId" [(ngModel)]="CustomerDataToBeSend.BuyerCompanyId" />
                        <input type="hidden" formControlName="TotalDDTCount" [(ngModel)]="CustomerDataToBeSend.TotalDDTCount" />
                        <input type="hidden" formControlName="TotalInvoiceCount" [(ngModel)]="CustomerDataToBeSend.TotalInvoiceCount" />
                        <input type="hidden" formControlName="Id" [(ngModel)]="CustomerDataToBeSend.Id" />

                        <label>Company Name</label>
                        <input type="text" class="form-control" readonly formControlName="BuyerName" [(ngModel)]="CustomerDataToBeSend.BuyerName" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>My Customer Id</label>
                        <input type="text" class="form-control" formControlName="CarrierAssignedCustomerId" [(ngModel)]="CustomerDataToBeSend.CarrierAssignedCustomerId" />
                        <!--<input type="text" class="form-control" readonly formControlName="TotalOrders" [(ngModel)]="CustomerDataToBeSend.TotalOrders" />-->
                    </div>
                </div>
            </div>
            <!--<div class="row">
                <div class="col-sm-6">
                    <div class="form-group">-->
                        <!--<label>My Customer Id</label>
                        <input type="text" class="form-control" formControlName="CarrierAssignedCustomerId" [(ngModel)]="CustomerDataToBeSend.CarrierAssignedCustomerId" />-->
                    <!--</div>
                </div>
            </div>-->
        </div>
    </div>
    <div>
        <div class="col-sm-12 text-right form-buttons">
            <input type="button" value="Cancel" (click)="clearForm();" class="btn" onclick="closeSlidePanel()">
            <button id="submit-driver-form" type="submit" class="btn btn-lg btn-primary valid" aria-invalid="false">Submit</button>
        </div>
    </div>
</form>
<div class="loader" *ngIf="isShowLoader">
    <div class="loading-content text-center">
        <div class="spinner"></div>
        <div class="font-bold">Loading...</div>
    </div>
</div>