<div class="row">
    <div class="col-sm-12 pt20">
        <h4 class="pt0 pull-left">Address</h4>
        <a id="auto-createnewaddress" href="/Settings/Profile/CompanyAddress" class="fs18 pull-left ml20">
            <i class="fa fa-plus-circle fs18 mt2 pull-left"></i><span class="fs14 pull-left">Create New</span>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 text-center" *ngIf="!Addresses || Addresses?.length == 0">
        <label> No Addresses available </label>
    </div>
</div>
<div class="row pr">
    <div class="pa bg-white z-index5 loading-wrapper left0 top0" *ngIf="IsLoading">
        <span class='spinner-dashboard pa'></span>
    </div>
    <div class="col-sm-3 " *ngFor="let address of Addresses">
        <div class="well box-shadow tile-xs pr">
            <div class="row">
                <div class="col-sm-12">
                    <div class="border-b pb10">
                        <span class="badge badge-primary" *ngIf="address.IsDefault; else elseDefault">Default</span>
                        <ng-template #elseDefault><span class="badge badge-secondary">Default</span></ng-template>
                        &nbsp;
                        <span class="badge badge-primary" (click) ="changeAddressStatus(address.Id, !address.IsActive,address.IsDefault)" *ngIf="address.IsActive; else elseInActive" style="cursor:pointer;">Active</span>
                        <ng-template #elseInActive><span class="badge badge-secondary" (click) ="changeAddressStatus(address.Id,!address.IsActive,address.IsDefault)" style="cursor:pointer;">InActive</span></ng-template>
                        <a href="/Settings/Profile/CompanyAddress?id={{address.Id}}&companyId={{CompanyId}}" class="pull-right"><i class="fa fa-edit"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <small class="mb5 color-lightgrey f-bold">Address: </small>
                </div>
                <div class="col-sm-8">{{address.Address}}</div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <small class="mb5 color-lightgrey f-bold">City: </small>
                </div>
                <div class="col-sm-8">{{address.City}}</div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <small class="mb5 color-lightgrey f-bold">State: </small>
                </div>
                <div class="col-sm-8">{{address.State.Code}}</div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <small class="mb5 color-lightgrey f-bold">ZipCode: </small>
                </div>
                <div class="col-sm-8">{{address.ZipCode}}</div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <small class="mb5 color-lightgrey f-bold">Country: </small>
                </div>
                <div class="col-sm-8">{{address.Country.Code}}</div>
            </div>
        </div>
    </div>

</div>


