<!--<p>view-historical-price works!</p>-->
<div class="mx-3">
    <div class="row">
        <div class="col-sm-6" *ngIf="HistoricalPrice?.IndexType==1">
            <label for="Periods">Select {{HistoricalPrice?.PeriodName}}</label>
            <ng-multiselect-dropdown [(ngModel)]="SelectedPeriod"
                                     id="Periods"
                                     [settings]="SinlgeselectSettingsById" [data]="PeriodList"> 
            </ng-multiselect-dropdown>
        </div>
        <div class="col-sm-6 pt-1" *ngIf="HistoricalPrice?.IndexType==1">
            <button id="fetch-historical-price" type="button" class="btn btn-lg mt-4 btn-primary mb-2 valid" (click)="fetchHistoricalPrice()">Fetch Price</button>
        </div>
        <div class="col-sm-12 form-group" *ngIf="HistoricalPrice?.IndexType==2">
            <div class="alert alert-info">
                <strong>${{HistoricalPrice?.ManualIndexPrice}}</strong> per Gallon (Including Taxes) on {{HistoricalPrice?.ManualIndexPriceDate}}
            </div>
        </div>
    </div>
</div>

<div class="col-sm-12" *ngIf="HistoricalPrice?.IndexType==1">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Index Product</th>
                <th>Index Area</th>
                <th>Index Period</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{HistoricalPrice?.IndexProduct}}</td>
                <td>{{HistoricalPrice?.IndexArea}}</td>
                <td>{{HistoricalPrice?.IndexPeriod}}</td>
            </tr>
        </tbody>
    </table>
    <table class="table">
        <thead>
            <tr>
                <th class="text-center" width="47%">Published Date</th>
                <th class="text-center" width="48%">Price per Gallon</th>
            </tr>
        </thead>
    </table>
    <div style="max-height:300px;overflow:auto" id="historyTable">
        <table class="table table-bordered table-hover mb0">
            <tbody>
                <ng-container *ngIf="HistoricalPrice && HistoricalPrice.HistoricalPriceDetails && HistoricalPrice.HistoricalPriceDetails.length>0">
                    <tr *ngFor="let history of HistoricalPrice.HistoricalPriceDetails">
                        <td class="text-center vmiddle" width="50%">
                            {{history.PublishDate}}
                        </td>
                        <td width="50%">
                            <div class="input-group">
                                <div class="input-group-append">
                                    <span class="input-group-text">$</span>
                                </div>
                                <span class="p-2 border px-4">{{history.Price}}</span>
                            </div>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>
