<div class="map-view-contanier">
    <div class="well">
        <div class="well-header">
            <div class="row">
                <div class="col-sm-9 form-row align-items-center">
                    <div class="d-inline-block">
                        <h4 class="well-title">Wally Board</h4>
                    </div>
                    <div class="dib border radius-capsule shadow-b ml20" >
                        <div class="btn-group btn-filter">
                            <input class="hide-element" type="radio" [name]="'viewType'" [value]="1" [checked]="viewType==1">
                            <label class="btn ml0" (click)="changeViewType(1)">Location</label>
                            <input class="hide-element" type="radio" [name]="'viewType'" [value]="2" [checked]="viewType==2">
                            <label class="btn" (click)="changeViewType(2)">Loads</label>
                        </div>
                    </div>
                    <!-- <div class="d-inline-block ml20">
                          <div class="form-group input-search">
                            <i class="fas fa-search form-control-search"></i>
                            <input type="text" class="form-control" placeholder="Search">
                          </div>
                    </div> -->
                </div>
                
                <div class="col-sm-3 form-row align-items-center flex-row-reverse pr0">
                    <button class="btn btn-outline btn-primary btn-rnd" (click)="navigate()">View More</button>
                </div>
            </div>
        </div>
        <div class="well-body">
            <app-location-map *ngIf="viewType==1" [SelectedCountryId]="SelectedCountryId"></app-location-map>
            <app-loads-map *ngIf="viewType==2" [SelectedCountryId]="SelectedCountryId"></app-loads-map>
        </div>
    </div>
</div>

