<div [formGroup]="invoiceForm" class="well box-shadow" *ngIf="TicketDetails?.controls?.length > 0">
    <div formArrayName="TicketDetails">
        <ng-container *ngFor="let liftTkt of TicketDetails?.controls; let i = index; let isFirstTkt = first;">
            <div [formGroupName]="i">
                <div *ngIf="isFirstTkt">
                    <div class="row f-bold">
                        <div class="col-sm-2">Ticket #</div>
                        <div class="col-sm-1">Badge #</div>
                        <div class="col-sm-2">Bulk Plant</div>
                        <div class="col-sm-2">Product</div>
                        <div class="col-sm-1">Gross</div>
                        <div class="col-sm-1">Net</div>
                        <div class="col-sm-1">Delivered</div>
                        <div class="col-sm-1">&nbsp;</div>
                    </div>
                </div>
                <div formArrayName="Products">
                    <ng-container *ngFor="let product of liftTkt.get('Products').controls; let j = index; let isFirstPrd = first;">
                        <div class="row" [formGroupName]="j">
                            <div class="col-sm-2">
                                <span *ngIf="isFirstPrd"> {{liftTkt.get('LiftTicketNumber').value}}</span>
                                &nbsp;
                            </div>
                            <div class="col-sm-1">
                                <span *ngIf="isFirstPrd"> {{liftTkt.get('BadgeNumber').value}}</span>
                                &nbsp;
                            </div>
                            <div class="col-sm-2">
                                <span *ngIf="isFirstPrd">
                                    {{product.get('BulkPlantName').value}}
                                </span>
                                <div formGroupName="Address">
                                    <span *ngIf="isFirstPrd">
                                        {{product.get('Address.Address').value}},
                                        {{product.get('Address.City').value}},
                                        {{product.get('Address.State.Code').value}}
                                        {{product.get('Address.ZipCode').value}}
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <span *ngIf="(product.get('GrossQuantity').value && product.get('NetQuantity').value) || product.get('BulkPlantName').value">
                                    <span class="fa fa-tint"></span> {{product.get('ProductName').value}}
                                </span>
                            </div>
                            <div class="col-sm-1">
                                {{product.get('GrossQuantity').value}}
                            </div>
                            <div class="col-sm-1">
                                {{product.get('NetQuantity').value}}
                            </div>
                            <div class="col-sm-1">
                                {{product.get('DeliveredQuantity').value}}
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-1">
                                <a *ngIf="(product.get('GrossQuantity').value && product.get('NetQuantity').value) || product.get('BulkPlantName').value" (click)="editTicketDetail(liftTkt, i)"><i class="fa fa-edit fs14"></i></a>
                                <a *ngIf="((product.get('GrossQuantity').value && product.get('NetQuantity').value) || product.get('BulkPlantName').value) && isFirstPrd" (click)="deleteTicketDetail(i)"><i class="fa fa-trash-alt ml10 color-maroon"></i></a>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <app-imageupload [fileType]="'liftFile'" [orderId]="liftTkt.get('LiftTicketNumber').value" formControlName="LiftImages" [inputFile]="Model[i]==undefined?[]:Model[i].ImageList" [requiredIfTrue]="IsBolImageRequired" [isLift]="true"></app-imageupload>
                    </div>
                </div>
                <div class="mb20 border-b-dash"></div>
            </div>
        </ng-container>
    </div>
</div>