<div class="row">
    <div class="col-md-12">
        <div class="well bg-white shadowb-b">
            <div class="ibox mb0">
                <div class="ibox-content no-padding no-border">
                    <div id="terminal-products-grid" class="table-responsive">
                        <table id="terminal-products-datatable" data-gridname="35" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Terminal Name</th>
                                    <th>Terminal Control Number</th>
                                    <th>Assigned Products</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let mapping of terminalMappingDetails">
                                    <td><a [routerLink]="" (click)="_toggleOpened(true);editMapping(mapping)">{{mapping.TerminalName}}</a></td>
                                    <td>
                                        <span *ngIf="mapping.TerminalControlNumber != null">{{mapping.TerminalControlNumber}}</span>
                                        <span *ngIf="mapping.TerminalControlNumber == null">--</span>
                                    </td>
                                    <td>                                      
                                        <span *ngIf="mapping?.MappedProducts?.length && mapping?.MappedProducts?.length > 0;else noData">
                                            <ng-container>                                              
                                                <span>{{formatProductsForGridDisplay(mapping?.MappedProducts)}}</span>                                              
                                            </ng-container>                                           
                                        </span>
                                        <ng-template #noData>--</ng-template>
                                    </td>                                   
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
    <ng-sidebar-container>
        <ng-sidebar [(opened)]="_opened"
                    [animate]="_animate"
                    [position]="_POSITIONS[_positionNum]"
                    style="height: 100vh">
            <a (click)="_toggleOpened(false)"><i class="fa fa-close fs18"></i></a>
            <h3 class="dib ml10 mt10 mb10">Terminal-Product(s) Assignment</h3>
            <content class="pr30">
                <form [formGroup]="terminalMappingForm" (ngSubmit)="SubmitForm()">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="TerminalName">Terminal Name</label>
                                <input formControlName="TerminalName" class="form-control" [readonly]="true">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="TerminalControlNumber">Terminal Control Number</label>
                                <input formControlName="TerminalControlNumber" class="form-control" [readonly]="true">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="Jobs">Product(s)</label><span class="color-maroon">*</span>
                                <ng-multiselect-dropdown formControlName="MappedProducts"
                                                         [placeholder]="'Select Product(s)'"
                                                         [settings]="multiselectSettingsById" [data]="productList"
                                                         [(ngModel)]="Products">
                                </ng-multiselect-dropdown>
                                <div *ngIf="terminalMappingForm.get('MappedProducts').invalid && terminalMappingForm.get('MappedProducts').touched" class="color-maroon">
                                    <div *ngIf="terminalMappingForm.get('MappedProducts').errors.required">
                                        Product(s) is required.
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <button (click)="_toggleOpened(false)" class="btn btn-lg" type="reset">Cancel</button>
                        <button class="ml15 btn btn-primary btn-lg" type="submit">Save</button>
                    </div>
                </form>
            </content>
        </ng-sidebar>
    </ng-sidebar-container>
</div>


<div class="loader" *ngIf="IsLoading">
    <div class="loading-content text-center">
        <div class="spinner"></div>
    </div>
</div>

