<div class="message-view-contanier">
    <div class="well">
        <div class="well-header">
            <div class="row">
                <div class="col-sm-9 form-row align-items-center">
                    <div class="d-inline-block">
                        <h4 class="well-title">Messages</h4>
                    </div>
                </div>

                <div class="col-sm-3 form-row align-items-center flex-row-reverse pr0">
                    <button class="btn btn-outline btn-primary btn-rnd" (click)="navigate()">View More</button>
                </div>
            </div>
        </div>
        <div class="well-body padding-8">
            <div class="row">
                <div class="col-12">
                    <div class="table-wrapper">
                        <div *ngIf="IsLoading" class="pa top0 bg-white left0 z-index5 loading-wrapper">
                            <span class="spinner-dashboard pa"></span>
                        </div>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>From</th>
                                    <th>Message</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container>
                                    <tr *ngFor="let item of Messages">
                                        <td>{{item?.SenderName }}</td>
                                        <td>{{item?.Subject}}</td>
                                        <td>{{item?.MessageDeliveredTime}}</td>
                                    </tr>
                                    <tr *ngIf="Messages && Messages.length==0">
                                        <td colspan="3">
                                            <div class="row align-items-center" style="height: 175px;">
                                                <div class="col-12 align-items-center text-center">
                                                    <i class="fab fa-searchengin fa-5x"></i>
                                                    <h4>No Message to show</h4>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>