<div>
    <div class="row mb20">
        <div class="col-sm-12 text-right">
            <a id="BulkUpload" data-toggle="modal" data-target="#bulk-upload-csv" (click)="bulkUpload()" class="fs18 float-right ml20">
                <i class="fa fa-upload fs18 mt-1 mr-2 pull-left"></i><span class="fs14 mt2 pull-left">Bulk Upload</span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="well bg-white shadowb-b">
                <div class="ibox mb0">
                    <div class="ibox-content no-padding no-border">
                        <div id="div-driver-grid" class="table-responsive">
                            <table id="driver-grid-datatable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th data-key="DriverName">Driver Name</th>
                                        <th data-key="Email">Driver Email</th>
                                        <th data-key="TargetDriverValue"> Driver Id</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let Driver of externalDriverMappings">
                                        <td>{{Driver.FirstName + ' ' + Driver.LastName}}</td>                                        
                                        <td>{{Driver.Email}}</td>
                                        <td>
                                            <a (click)="editDriver(Driver)" class="btn btn-link" onclick="slidePanel('#driver-panel','40%','60%')">
                                                <span *ngIf="Driver.TargetDriverValue != null">{{Driver.TargetDriverValue}}</span>
                                                <span *ngIf="Driver.TargetDriverValue == null">--</span>
                                                <span><i class="fa fas fa-edit pull-left mt7"></i></span>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="loader" *ngIf="isShowLoader">
    <div class="loading-content text-center">
        <div class="spinner"></div>
        <div class="font-bold">Loading...</div>
    </div>
</div>

<div id="driver-panel" class="side-panel">
    <div class="side-panel-wrapper">
        <div class="pt15">
            <a onclick="closeSlidePanel();" class="ml15 close-panel"><i class="fa fa-close fs18" (click)="clearForm();"></i></a>
            <h3 class="dib mt0 mb0 ml15">Driver Mapping</h3>
        </div>
        <ng-container *ngIf="editDriverDetails">
            <div class="side-panel-body">
                <div class="col-sm-12" id="Driver-Form">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Driver Name</label>
                                <label class="form-control">{{editDriverDetails.FirstName + ' ' + editDriverDetails.LastName}} </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label> Driver Id</label>
                                <input type="text" class="form-control" [(ngModel)]="editDriverDetails.TargetDriverValue" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="col-sm-12 text-right form-buttons">
                    <input type="button" value="Cancel" (click)="clearForm();" class="btn" onclick="closeSlidePanel()">
                    <button type="submit" class="btn btn-lg btn-primary valid" aria-invalid="false" (click)="SaveExternalDriverMappings(editDriverDetails)">Submit</button>
                </div>
            </div>
        </ng-container>
    </div>
</div>
<div class="modal fade" id="bulk-upload-csv" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="overflow-h">
                    <h4 class="pull-left mb5 pt0 pb0">Driver CSV</h4>
                    <button #btnCloseBulkModal type="button" class="close color-grey pull-right pa" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="font-size:35px">&times;</span></button>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <span class="fa fa-download mr10 mt10"></span>
                        <a href="/Content/Template_Driver_Mapping.csv" class="mb5 btn-download">Download Template</a>
                    </div>
                </div>
                <div class="row mt10">
                    <div class="col-md-12 b-dashed">
                        <h2>
                            <label for="csvFile" class="col-sm-12 btn btn-primary ml0">
                                <input id="csvFile" name="csvFile" [(ngModel)]="selectedFile" (change)="onFileChange($event)" class="bulkElements full-width" type="file" accept=".csv" />
                            </label>
                        </h2>
                        <div class="row">
                            <div class="col-sm-12 text-right pb0 fs12">
                                <input type="submit" value="Upload" class="btn btn-primary bulkElements" (click)="onFileUpload()" id="uploadBulkDriver" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

