<div class="pt10 pb0"><a class="ml20 close-panel" (click)="closeSlider()" onclick="closeSlidePanel();"><i class="fa fa-close fs18"></i></a><h3 class="dib mt0 mb0 ml15">Change in Delivery Window</h3></div>
<div class="pt10 pb10 pl20 pr20" *ngIf="OttoNotificationsDetails.length>0">
    <div class="pa bg-white z-index5 loading-wrapper" *ngIf="_loadingOttoNotification">
        <span class='spinner-dashboard pa'></span>
    </div>
    <div class="well mb10 pr" *ngFor="let ottoNotification of OttoNotificationsDetails let i = index">
        <a class="pa right0 top0 mr15 mt10 color-grey" (click)="updateNotificationStatus(ottoNotification.Id)"><i class="fa fa-close fs18"></i></a>
        <div [innerHTML]="ottoNotification.Message"></div>
    </div>
</div>
<div class="text-center" *ngIf="OttoNotificationsDetails.length==0">
    No records found.
</div>
