
::ng-deep .ui-datepicker {
    display: inline-block !important;
}

::ng-deep .ui-inputtext {
    font-size: 13px !important;
    height: 34px !important;
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7 !important;
    border-radius: 1px !important;
    display: block !important;
    padding: 6px 12px !important;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn-upload {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
::ng-deep .ng-sidebar {
    z-index: 3 !important;
}