
<div class="row">
    <div class="col-sm-12">
        <span class="fa fa-download mr10 mt10"></span>
        <a href="~/Content/WholesaleBadgeList_Template.csv?v=@SiteFuel.Exchange.Core.Utilities.AppSettings.AppVersion" class="mb5 btn-download">@Resource.btnLabelDownloadSample</a>
    </div>
</div>
<div class="row mt10">
    <div class="col-md-12 b-dashed">
        <h2>
            <label for="csvFile" class="btn btn-primary ml0">
                <input id="wholesalebadgeCsvFile" name="wholesalebadgeCsvFile" class="bulkElements full-width" type="file" accept=".csv" />
            </label>
        </h2>
        <div class="fs12">
            @Resource.msgAllowedCsvFileExtension
        </div>
        <div class="row">
            <div class="col-sm-12 text-right pb0 fs12">
                <input type="button" value="@Resource.btnLabelSave" data-dismiss="modal" class="btn btn-primary bulkElements" id="uploadBadgesButton">
            </div>
        </div>
    </div>
</div>

