
<!--<form [formGroup]="CarrierForm" (ngSubmit)="onSubmit()">
    <div class="side-panel-body">
        <div class="col-sm-12" id="Carrier-Form">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <input type="hidden" formControlName="CarrierCompanyId" [(ngModel)]="CarrierDataToBeSend.CarrierCompanyId" />
                        <input type="hidden" formControlName="Id" [(ngModel)]="CarrierDataToBeSend.Id" />
                        <input type="hidden" formControlName="CompanyId" [(ngModel)]="CarrierDataToBeSend.CompanyId" />

                        <label>Carrier Name</label>
                        <input type="text" class="form-control" readonly formControlName="CarrierName" [(ngModel)]="CarrierDataToBeSend.CarrierName" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Total Orders</label>
                        <input type="text" class="form-control" readonly formControlName="TotalOrders" [(ngModel)]="CarrierDataToBeSend.TotalOrders" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Carrier Id</label>
                        <input type="text" class="form-control" formControlName="AssignedCarrierId" [(ngModel)]="CarrierDataToBeSend.AssignedCarrierId" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="col-sm-12 text-right form-buttons">
            <input type="button" value="Cancel" (click)="clearForm();" class="btn" onclick="closeSlidePanel()">
            <button id="submit-carrier-form" type="submit" [disabled]="(!CarrierForm.dirty || CarrierDataToBeSend.AssignedCarrierId == null)" class="btn btn-lg btn-primary valid" aria-invalid="false">Submit</button>
        </div>
    </div>
</form>
<div class="loader" *ngIf="isShowLoader">
    <div class="loading-content text-center">
        <div class="spinner"></div>
        <div class="font-bold">Loading...</div>
    </div>
</div>-->