<div class="row">
    <!-- <div class="col-sm-12">
        <button type="button" #openSidePannel class="btn btn-link float-right pa0" data-target="raisedr"
            onclick="slidePanel('#terminal_i_code_map','40%')" (click)="addTerminalItemCode()"><i
                class="fas fa-plus-circle fs18 mr5"></i> Create
            Terminal Item Code</button>
    </div> -->
    <div class="col-sm-12">
        <button type="button" #openSidePannel class="btn btn-link float-left pa0 mb-2" data-target="raisedr"
                onclick="slidePanel('#Fuel_Group_Id','45%')" (click)="addFuelGroup()">
            <i class="fas fa-plus-circle fs18 mr5"></i> Create
            Fuel Group
        </button>
    </div>
    <!--<div class="col-sm-6">
        <button id="showBulkUploadPopupBtn" type="button" class="btn btn-primary float-right mb5 valid"
                (click)="showBulkUploadPopup()" data-toggle="modal" data-target="#bulkUploadTerminalModalPopup">
            Bulk
            Upload
        </button>
    </div>-->
</div>
<div class="row">
    <div class="col-md-12">
        <div class="well bg-white shadow-b">
            <div class="ibox mb0">
                <div class="ibox-content no-padding no-border">
                    <div id="div-fuel-group-code" class="table-responsive">
                        <table class="table table-bordered" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                            <thead>
                                <tr>
                                    <th data-key="fgn">Fuel Group</th>
                                    <th data-key="fgt">Group Type</th>
                                    <th data-key="fgty">Group for</th>
                                    <th data-key="fgcn">Customer Name</th>
                                    <th data-key="fgcn">Carrier Name</th>
                                    <th data-key="fgpt">Product Type(s)</th>
                                    <th data-key="fgsn">Status</th>
                                    <th data-key="Action">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of fuelGroupGridList">
                                    <td>{{item.GroupName}}</td>
                                    <td>{{item.FuelGroupType}}</td>
                                    <td>{{item.TableType!=0?item.TableType:"-"}}</td>
                                    <td>{{ item.Customer}}</td>
                                    <td>{{ item.Carrier}}</td>
                                    <td>{{item.ProductType}}</td>
                                    <td>{{item.StatusName}}</td>
                                    <td class="text-center text-nowrap">
                                       <!--<a *ngIf="item.StatusName!='Archived'" class="btn btn-link fs16 mr-1" mwlConfirmationPopover
                                           [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" placement="left"
                                           (cancel)="cancelClicked = true" (confirm)="archiveFuelGroup(item)">
                                            <i class="fa fa-file-archive " placement="bottom" ngbTooltip="Archive"></i>
                                        </a>-->

                                        <a *ngIf="item.StatusName!='Archived'" class="btn btn-link fs16 ml-0" onclick="slidePanel('#Fuel_Group_Id','40%')"
                                           (click)="editFuelGroupMapping(item.Id,'EDIT');" placement="bottom" ngbTooltip="Edit">
                                            <i class="fas fa-edit"></i>
                                        </a>

                                        <a class="btn btn-link fs16 ml-0" onclick="slidePanel('#Fuel_Group_Id','40%')"
                                           (click)="editFuelGroupMapping(item.Id,'VIEW');" placement="bottom" ngbTooltip="View">
                                            <i class="fas fa-eye"></i>
                                        </a>  
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="loader" *ngIf="IsLoading">
    <div class="loading-content text-center">
        <div class="spinner"></div>
        <div class="font-bold">Loading...</div>
    </div>
</div>
<div class="side-panel" id="Fuel_Group_Id">
    <div class="side-panel-wrapper">
        <div class="pt10 pb0">
            <a class="ml20 close-panel" onclick="closeSlidePanel();" ><i class="fa fa-close fs18"></i></a>
            <h3 class="dib mt0 mb0 ml15">
                {{title|titlecase}} Fuel Group 
            </h3>
        </div>
        <div class="pt10 pb10 pl20 pr20">
           <app-create-fuel-group (result)="getOutput($event)">
            </app-create-fuel-group>
           
        </div>
    </div>
</div>

