<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Upload demand capture file</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id="fileUploadForm", enctype = "multipart/form-data" }))
            {
                <div class="modal-body">
                    <input id="csvapiFile" name="csvapiFile" type="file" accept=".csv" />
                    <span id="lblError" style="color: red;"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                    <button type="button" id="uploadToFreightService" onclick="CallTargetFreightApiWithCallback(UploadFileToService);" class="btn btn-primary">Upload</button>
                </div>
            }
    </div>
</div>