
@{
    ViewBag.Title = "Unauthorized Access";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row ">
    <div class="col-xs-12 col-sm-9 col-md-6 col-centered error-msg">
        <span class="fa fa-exclamation-circle pull-left hidden-xs mt10"></span>
        <div class="pull-left">
            <h1 class="f-bold  mt15 mb0">@Resource.headingUnauthorized</h1>
            <h2 class="mt0 pl5">@Resource.lblUnauthorized</h2>
        </div>
    </div>
</div>

<script>

    var url = document.URL
    if (url.endsWith('Unauthorized') === false)
        window.location.href  = "/Unauthorized";

</script>

