<div [formGroup]="Customer">
    <h5 class="fs13 mt0 mb5 f-bold">Customer</h5>
    <span>
        {{CustomerData?.CompanyName}}
    </span>
    <h5 class="fs13 mb5 mt15 f-bold">Location</h5>
    <span formGroupName="Location">
        <span *ngIf="IsVariousOrigin; else notVarious">
            {{CustomerData?.Location?.SiteName}}, {{CustomerData?.Location?.StateCode}}
        </span>
        <ng-template #notVarious>
            <span>
                {{CustomerData?.Location?.SiteName}}, {{CustomerData?.Location?.Address}}, <br />
                {{CustomerData?.Location?.City}}, {{CustomerData?.Location?.StateCode}} {{CustomerData?.Location?.ZipCode}}
            </span>
        </ng-template>
    </span>
    <h5 class="fs13 mb0 mt15 f-bold">Contact</h5>
    <span>
        {{CustomerData?.ContactName}} - {{CustomerData?.ContactPhone}}<br />
        {{CustomerData?.ContactEmail}}
    </span>
</div>